/* scbtn */

.scbtn{display: inline-block; cursor: pointer; background: none; border: 0; padding: 0; outline: none; text-decoration: none;}
.scbtn:before, .scbtn:after{display: table-cell; background: #13D792; width:20px; content: "";   background: url('../images/btns/btn-green.svg') 0 0 /auto 100% no-repeat; ;}

.scbtn:after {right: 0; left:auto; background-position: right 0;}
.scbtn span{display: table-cell; background: #13D792; color:#fff; padding111: 8px 20px; padding: 8px 15px;  font-size:14px; line-height: 1.3; height:36px; letter-spacing: 4px;text-transform: uppercase; font-weight: 900; text-align:center; text-decoration: none;}
.scbtn:hover{opacity:0.85;text-decoration: none; color:#fff;}
.scbtn:focus{text-decoration: none;}

.scbtn.scbtn-sm span{ padding: 5px 10px; font-size: 12px; }
.scbtn.scbtn-md span{ padding: 6px 12px; font-size: 14px;}
.scbtn.scbtn-lg span{ padding: 10px 16px; font-size: 18px;}

@media (max-width:678px) {
  .scbtn span{font-size:10px; padding: 8px 5px; height:32px;}
}


/*secondary*/
.scbtn-secondary:before, .scbtn-secondary:after{display: table-cell;  width:16px; content: "";   background: url('../images/btns/btn-black-border.svg') 0 0 /auto 100% no-repeat; ;}

.scbtn-secondary:after {right: 0; left:auto; background-position: right 0;}
.scbtn-secondary span{display: table-cell; background: transparent; color:#000; padding: 8px 20px; font-size:13px; line-height: 1.3; text-transform: uppercase; font-weight: 900; text-align:center; border-top: 1px solid #000;  border-bottom: 1px solid #000;}
.scbtn-secondary:hover{opacity:0.85;text-decoration: none; color:#555;}

/*white border*/
.scbtn-secondary.white:before, .scbtn-secondary.white:after{ background: url('../images/btns/btn-white-border.png') 0 0 /auto 100% no-repeat;}
.scbtn-secondary.white:after {background-position: right 0;}
.scbtn-secondary.white span{color:#fff; border-top: 1px solid #fff;  border-bottom: 1px solid #fff;}
.scbtn-secondary.white:hover{color:#f1f1f1;}

@media (max-width:678px) {
  .scbtn-secondary span{font-size:10px; padding: 8px 5px;}
}
/*tertiary*/
.scbtn-tertiary{transform: translateY(6px);}
.scbtn-tertiary:before, .scbtn-tertiary:after{display: table-cell;  width:16px; content: "";   background: url('../images/btns/btn-white.svg') 0 0 /auto 100% no-repeat;}

.scbtn-tertiary:after {right: 0; left:auto; background-position: right 0;}
.scbtn-tertiary span{display: table-cell;  background: url('../images/btns/btn-white-bg.png') 0px bottom repeat-x; color:#000; padding: 8px 20px 15px; font-size:13px; line-height: 1.3; text-transform: uppercase; font-weight: 900; text-align:center;  position: relative; height:40px; }
.scbtn-tertiary:hover{opacity:0.85;text-decoration: none; color:#555;}

.scbtn.scbtn-tertiary.scbtn-sm span{ padding: 5px 10px 15px;  }
.scbtn.scbtn-tertiary.scbtn-md span{ padding: 6px 12px 15px; }
/*.scbtn.scbtn-tertiary.scbtn-lg span{ padding: 10px 16px 16px; font-size: 18px;}*/

@media (max-width:678px) {
  .scbtn-tertiary span{font-size:10px; padding: 8px 5px 15px;}
  .scbtn.scbtn-tertiary.scbtn-sm span{ padding: 5px 10px 15px; }
  .scbtn.scbtn-tertiary.scbtn-md span{ padding: 6px 12px 15px;}
  /*.scbtn.scbtn-tertiary.scbtn-lg span{ padding: 10px 16px 16px; font-size: 18px;}*/
}
/*--scbtn-info*/
.scbtn-info{display: inline-block; cursor: pointer; background: none; border: 0; padding: 8px 15px;  outline: none; text-decoration: none;  line-height: 1.3; letter-spacing: 4px;text-transform: uppercase; font-weight: 700; text-align:center; }
.scbtn-info:hover{opacity:0.85; text-decoration: none; }


/*********************/

.shape-diamond.scbtn-diamond{cursor: pointer; color:#fff; z-index: 1;}
.shape-diamond.scbtn-diamond:hover{ opacity: 0.95;  color:#000;}
.shape-diamond.scbtn-diamond::before{ background: #13D792;  border-color: #13D792;}
.shape-diamond.scbtn-diamond:hover::before{ background: #13D792;  border-color: #13D792;}

/*custom file upload*/
.file-upload {
  position: relative;
  overflow: hidden;
 }

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

  /* /.custom file upload*/
  .sc-checkbox{position: relative; cursor: pointer;}
  .sc-checkbox.active{cursor: default;}

  .sc-checkbox input[type="checkbox"]{opacity: 0; position: absolute;}
  .sc-checkbox.active .icon-diamond::before {content: "\e9d5";}
  /* range*/
  input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: none;
      border-radius: 5px;
      box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
      background-color: #FFF;
      height: 8px;
      vertical-align: middle;
      width: 200px;
}
 input[type=range]::-webkit-slider-runnable-track {
     -webkit-appearance: none;
     appearance: none;
     border-radius: 5px;
     box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
     background-color: #FFF;
     height: 10px;
     vertical-align:middle;
     border:solid 1px rgba(0,0,0,0.25);
}
 input[type='range']::-webkit-slider-thumb {
     -webkit-appearance: none;
     border-radius: 10px;
     background-color: #FFF;
     box-shadow:inset 0px 1px 0px rgba(000,000,000,0.5);
     border: 1px solid #999;
     height: 20px;
     width: 7px;
     vertical-align:middle;
     margin-top: -6px;
}
 input[type='range']::-moz-range-track {
     -moz-appearance: none;
     border-radius: 5px;
     box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
     background-color: #FFF;
     height: 8px;
     border:solid 1px rgba(0,0,0,0.25);
     vertical-align:middle;
     margin:0;
    padding:0;
}
 input[type='range']::-moz-range-thumb {
     -moz-appearance: none;
     border-radius: 10px;
     background-color: #FFF;
     box-shadow:inset 0px 1px 0px rgba(000,000,000,0.5);
     border: 1px solid #999;
     height: 20px;
     width: 5px;
}
/* /.range*/
