/* grid items*/
.grid.grid-items .grid-col{margin-bottom: 20px;}

/* last row css - e.g. 4n- 4 is no of col*/
/*
.grid.grid-items .col-md-3.grid-col:nth-child(4n+1):nth-last-child(-n+4),
.grid.grid-items .col-md-3.grid-col:nth-child(4n+1):nth-last-child(-n+4) ~ .grid-col {
  margin-bottom: 0px;
}
.grid.grid-items .col-md-6.grid-col:nth-child(2n+1):nth-last-child(-n+2),
.grid.grid-items .col-md-6.grid-col:nth-child(2n+1):nth-last-child(-n+2) ~ .grid-col {
    margin-bottom: 0px;
}*/
/* last row css*/


.grid.grid-items .item { background: #fff; position:relative;  -webkit-transition: all .5s ease;
-moz-transition: all .5s ease;  transition: all .5s ease; overflow: hidden;/* margin-bottom: 20px;*/ }
.grid.grid-items .item:hover{ }

.grid.grid-items .item.shadow{box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);}
.grid.grid-items .item.shadow:hover{box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);}


.grid.grid-items .item-img-wrp{ text-align: center; overflow: hidden; background: #f5f5f5;}
.grid.grid-items .item-img-wrp img{/* width: auto;*/ width: 100%; height: auto; max-width: 100%; max-height:100%; transition: all 0.2s linear; }

.grid.grid-items .item img:hover{/* transform: scale(1.05); */}
.grid.grid-items .item-desc-wrp{padding: 10px 0 0; }
.grid.grid-items .item-desc-wrp div:last-child{margin-bottom: 0;}
.grid.grid-items .item-desc-wrp .title{ margin-bottom: 2px; /*font-weight: 600; */ font-weight: 700;  line-height: 1.5; letter-spacing: 2px; font-size: 14px; text-transform: uppercase;}
.grid.grid-items .item-desc-wrp .category{ margin-bottom: 2px; /*font-weight: 600; */font-size: 13px;}
.grid.grid-items .item-desc-wrp .brand{ margin-bottom: 2px;}
.grid.grid-items .item-desc-wrp .date{ margin-bottom: 2px;  font-weight: 700;  font-size: 13px;}
.grid.grid-items .item-desc-wrp .price{ margin-bottom: 2px; font-weight: 700; font-size: 14px; letter-spacing: 2px; display: inline-block; color:#000;}
.grid.grid-items .item-desc-wrp .mrp{ margin-bottom: 2px; margin-right: 10px; font-weight: 600;  font-size: 14px; letter-spacing: 3px; text-decoration: line-through; display: inline-block; }
.grid.grid-items .item-desc-wrp .discount{ margin-bottom: 2px; font-weight: 600;  font-size: 15px;}

.grid.grid-items .item .ic-heart, .ic-heart.sc-heart{display: inline-block; position: absolute; top:10px; right:10px; color:#000; font-size: 24px; line-height: 1;}
.grid.grid-items .item .ic-heart:hover, .ic-heart.sc-heart:hover{color:#13D792; cursor: pointer;}

/*
.grid.grid-items .item .ic-heart:hover .icon-heart::before, .ic-heart.sc-heart:hover .icon-heart::before {content: "\e972"; color:#13D792; }*/
.grid.grid-items .item .ic-heart.active .icon-heart::before, .ic-heart.sc-heart.active .icon-heart::before, .ic-heart.sc-heart.active:hover .icon-heart::before {content: "\e972"; color:#13D792; }


.grid.grid-items .item .item-media-wrp{/*position: absolute; bottom:2px; right:0px;*/ margin-top: 5px;}

.grid.grid-items .item .item-media-wrp .ic{display: inline-block; margin:0 20px 0 0; color:#13D792; font-size: 30px; cursor: pointer;}
.grid.grid-items .item .item-media-wrp .ic:hover{color:#13D792; opacity: 0.8}


/* item overlay*/
/*
.item-wrp.overlay{display: table; width:100%;}
.item-wrp.overlay .item{ overflow: hidden;  position: relative; text-align: center; cursor: default; height: auto; display: table-cell; vertical-align: middle;}

.item-wrp.overlay > a .item{cursor: pointer;}
.item-wrp.overlay .item-img-wrp, .item-wrp.image-overlay .item-img-wrp{position: relative;}
.item-wrp.overlay .item-img-wrp::after, .item-wrp.image-overlay .item-img-wrp::after{display: block; content: ""; background:rgba(0, 0, 0, 0.15); width: 100%; height: 100%; position: absolute; left: 0; top: 0;}

.item-wrp.overlay .item img{ transition: all 0.2s linear; }
.item-wrp.overlay .item .item-desc-wrp{ width: 100%; height:100%; position: absolute; overflow: hidden; top: 0; left: 0; opacity: 1; background: rgba(0, 0, 0, 0); transform: translateY(0px);    transition: all 0.5s ease-in-out; padding: 0;}
.item-wrp.overlay .item .item-desc-wrp .inner{position: relative; top:50%; transform: translateY(-50%);}
.item-wrp.overlay .item .title{ color: #fff; color111:#000;  text-align: center; font-size: 18px; font-weight: 900; margin:0 0 0px; text-transform: uppercase;}
.item-wrp.overlay .item .desc{ color: #fff; color111:#000; text-align: center; font-size: 13px;  margin-bottom: 10px;}
.item-wrp.overlay .item .desc-2{ color: #fff; text-align: center; font-size: 11px;  margin-bottom: 10px; }
.item-wrp.overlay .item .btns-wrp{margin-bottom: 10px;}
.item-wrp.overlay .item:hover img{ transform: scale(1.05); }
.item-wrp.overlay .item:hover .item-desc-wrp{ opacity: 1; background: rgba(0, 0, 0, 0.38);transform: translateY(0px);}
*/
/*overlay box-style-2*/
/*
.item-wrp.overlay.overlay-style-2 .title{font-size: 10px; line-height:1.7; font-weight: 900; letter-spacing: 2px; background:rgba(19, 215, 146,0.80); display: inline-block; padding: 20px;}

.item-wrp.overlay .item .ic-heart, .item-wrp.overlay .ic-heart.sc-heart, .item-wrp.image-overlay .item .ic-heart{color:#fff;}
.item-wrp.overlay .item .ic-heart:hover, .item-wrp.overlay .item .ic-heart.sc-heart:hover, .item-wrp.image-overlay .item .ic-heart:hover,{color:#13D792;}
*/

/*overlay box-style-2*/

/*
@media (max-width:768px) {
  .item-wrp.overlay .item .title{font-size: 14px;}
  .item-wrp.overlay .item .desc{font-size: 10px;}
  .grid.grid-items.categories .item-desc-wrp{padding: 10px 10px 5px;}
  .grid.grid-items .item .ic-heart{font-size: 18px;top:5px; right: 5px;}
}
*/
/* /. item overlay*/

/* item mask*/
/*
.item-wrp.mask{display: table;}
.item-wrp.mask .item{ overflow: hidden;  position: relative; text-align: center; cursor: default; height: auto; display: table-cell; vertical-align: middle;}
.item-wrp.mask .item img{ transition: all 0.2s linear; }
.item-wrp.mask .item .item-desc-wrp{ width: 100%; height:100%; position: absolute; overflow: hidden; top: 0; left: 0; opacity: 0;
  background: rgba(0, 0, 0, 0); transform: translateY(-400px);    transition: all 0.5s ease-in-out;}
  .item-wrp.mask .item .item-desc-wrp .inner{position: relative; top:50%; transform: translateY(-50%);}
.item-wrp.mask .item .title{ color: #fff; text-align: center; font-size: 18px; padding:5px 5px; margin: 0; text-transform: uppercase;}
.item-wrp.mask .item .desc{ color: #fff; text-align: center; font-size: 11px; padding: 10px; margin: 2px 0 0 0;}
.item-wrp.mask .item .desc-2{ color: #fff; text-align: center; font-size: 11px; padding: 2px 10px; margin: 0px 0 0 0; }

.item-wrp.mask .item:hover img{ transform: scale(1.05); }
.item-wrp.mask .item:hover .item-desc-wrp{ opacity: 1; background: rgba(0, 0, 0, 0.38);transform: translateY(0px);}
*/
/* /. item mask*/

/* image collections/events : img(450x300) */
/*
.thumb-collection .item-img-wrp{ position: relative; padding-bottom111: 66.66%; padding-bottom: 65.93% ; ;}
.thumb-collection .item-img-wrp img{ position: absolute; left:0; right:0; top:0; bottom:0;}
*/
/* /.grid items- collections*/

/* grid items- products*/
/*
.grid.grid-items.products .item-img-wrp{ height: 287px;}
.grid.grid-items.products .item-img-wrp img{ width: auto; height: auto; max-width: 100%; max-height:287px; position: relative;
    transform: translateY(-50%); top: 50%;}
.grid.grid-items.products .item-desc-wrp{height: 126px; overflow: hidden;}
.grid.grid-items.products .item-desc-wrp .title{margin-bottom: 4px;  max-height:44px; overflow: hidden;}
.grid.grid-items.products .item-desc-wrp .category{margin-bottom: 4px; max-height: 18px; overflow: hidden;}
.grid.grid-items.products .item-desc-wrp .brand{margin-bottom: 8px;  max-height: 18px; overflow: hidden;}
.grid.grid-items.products .item-desc-wrp .date{}
.grid.grid-items.products .item-desc-wrp .item-price-wrp{margin-bottom: 4px; }
.grid.grid-items.products .item-desc-wrp .price{}

.grid.grid-items.products .item-desc-wrp .mrp{}
.grid.grid-items.products .item-desc-wrp .discount{}
@media (max-width:678px) {

  .grid.grid-items.products .item-img-wrp{ height: 206px;}
  .grid.grid-items.products .item-img-wrp img{ max-height:206px; }
}
*/
/*  /.grid items- products*/

/* grid items- categories*/
/*
.grid.grid-items.categories .grid-col{margin-bottom: 20px;}
.grid.grid-items.categories .item{ box-shadow: 0 5px 10px 0 rgba(0,0,0,0.36);}
.grid.grid-items.categories .item-img-wrp img{max-height: 240px;}
.grid.grid-items.categories .item-desc-wrp{padding: 10px;}
.grid.grid-items.categories .item-desc-wrp .title{ text-align: center;
  padding-top: 2px; padding-bottom: 2px;}
.grid.grid-items.categories .item-desc-wrp .title a{color: #000;}
*/
/*  /.grid items- categories*/

/* grid items- events*/
/*
.grid.grid-items.events .item-desc-wrp .title{  font-weight: 900; color:#000; margin-bottom: 5px;}
.grid.grid-items.events .item-desc-wrp .title a{color: #000;}
.grid.grid-items.events .item-desc-wrp .date{ margin-bottom: 5px; font-size: 14px; font-weight: 600;}
.grid.grid-items.events .item-desc-wrp .desc{margin-bottom: 10px;}
.grid.grid-items.events .item-btns-wrp .btn{margin-right: 20px;}
.grid.grid-items.events .item-btns-wrp .ic{font-size: 32px; cursor: pointer; color: #000; margin-left: 15px;}
.grid.grid-items.events .item-btns-wrp .dropdown-menu{ top:-46px;}
.grid.grid-items.events .item-btns-wrp .ic-heart:hover .icon-heart::before, .grid.grid-items.events .item-btns-wrp .ic-heart.active:hover .icon-heart::before{content: "\e972"; color:#13D792;}

@media (max-width:678px) {
  .grid.grid-items.events .item-btns-wrp .ic{font-size: 32px; margin-left: 10px;}
}
*/
/*  /.grid items- categories*/

/* grid items- blog*/
/*
.grid.grid-items.blog .item-desc-wrp{ height: 60px;}
.grid.grid-items.blog .item-desc-wrp .title{  font-weight: 900; color:#000; margin-bottom: 5px; max-height: 42px; overflow: hidden;}
.grid.grid-items.blog .item-desc-wrp .title a{color: #000;}
.grid.grid-items.blog .item-desc-wrp .desc{margin-bottom: 10px; font-size111: 10px; font-weight: 600; height: 40px; overflow: hidden;}
.grid.grid-items.blog .item-desc-wrp .category {position: absolute; top: 10px; left: 10px; padding: 2px 4px; color: #fff; font-weight: 900; font-size: 10px; letter-spacing: 3px; text-transform: uppercase; }
.grid.grid-items.blog .item-img-wrp{height:166px;}
.grid.grid-items.blog .item-img-wrp img{width: auto; height: auto; max-width: 100%; max-height:166px; }
*/
/*  /.grid items- blog*/


/*fa loader*/

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-spin-custom { -webkit-animation: spin 2000ms infinite linear;  animation: spin 2000ms infinite linear; }
.fa-spin-custom::before{  content:'\f110';}

.page-loader{text-align: center; display:none;}
.fa-loader-wrp {
  background: rgba(255,255,255,1);
    border-radius: 2px;
    color:#000;
    font-size: 18px;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 30px;
    position: fixed;
    text-align: center;
    top: 50%;
    z-index: 1071;
    width:180px;
    /*! display: none; */
}
.fa-loader-wrp .fa-spin-custom{margin-right:10px;}


.fa-loader-item-wrp {position: relative; display:none;}
.fa-loader-item {
    border-radius: 2px;
    color: #13D792;
    font-size: 18px;
    margin-left111: -36px;
    padding: 8px 30px;
    text-align: center;
    display: inline-block;
	left: 50%; position: absolute; top: 0px; transform: translateX(-50%);
}
.fa-loader-inline-wrp {
    color: #00b19c;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    padding: 0px;
    margin: 0px 10px;
    display: none;
}

.btn-loader{text-indent: 500;}
.btn-loader .fa-spinner{ -webkit-animation: spin 2000ms infinite linear;  animation: spin 2000ms infinite linear;}


.page-overlay {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    bottom: 0;
    /*! display: none; */
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1070;
}

/* material design form field*/
.form-group-md{  position:relative; margin-bottom:10px; padding: 20px 0; text-align: left;}

.form-group-md input, .form-group-md textarea, .form-group-md select{
  padding:6px 0px 6px 0px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #13D792;
  border-bottom:1px solid rgba(0,0,0,.12);
  color: #777;
}
.form-group-md input:focus, .form-group-md textarea:focus, .form-group-md select:focus{ outline:none; }

.form-group-md select{padding:8px 0 9px;}
.form-group-md111 select option{padding: 0}

.form-group-md input + label,
.form-group-md input.empty + label,
.form-group-md textarea + label,
.form-group-md textarea.empty + label,
.form-group-md select + label,
.form-group-md select.empty + label{
  color:#9C9C9C;
  font-size:14px;
  font-weight:500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  width: 100%;
  margin: 0;
  left:0px;
  bottom:20px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  display: block;
}
.form-group-md input + label,
.form-group-md input.empty + label{  top:25px;}

.form-group-md select + label,
.form-group-md select.empty + label{  top:-4px;}

.form-group-md textarea + label,
.form-group-md textarea.empty + label{  top:30px; }

.form-group-md input:focus + label, .form-group-md111 input:valid + label,
.form-group-md input.not-empty + label,
.form-group-md textarea:focus + label,
.form-group-md textarea.not-empty + label{
  top:-8px;
  font-size:12px;
  font-weight: 500;
  color:#13d792;
}

.form-group-md input + label:before, .form-group-md input + label:after,
.form-group-md textarea + label:before, .form-group-md textarea + label:after,
.form-group-md select + label:before, .form-group-md select + label:after
 	{
  content:'';
  height:2px;
  width:0px;
  position:absolute;
  background:#13D792;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  display: block;
  bottom:0px;
  top:auto;
}
.form-group-md input + label:before,
.form-group-md textarea + label:before,
.form-group-md select + label:before {
  left:50%;
}
.form-group-md input + label:after,
.form-group-md textarea + label:after,
.form-group-md select + label:after {
  right:50%;
}
.form-group-md .star{font-size: 20px;}

/* active state */
.form-group-md input:focus + label:before, .form-group-md input:focus + label:after ,
.form-group-md textarea:focus + label:before, .form-group-md textarea:focus + label:after,
.form-group-md select:focus + label:before, .form-group-md select:focus + label:after {
  width:50%;
}

/*error*/
.form-group-md input ~ label.error,
.form-group-md textarea ~ label.error,
.form-group-md select ~ label.error{
  color:#d50000;
  font-size:12px;
  font-weight:500;
  text-transform: none;
  position:absolute;
  pointer-events:none;
  width: 100%;
  margin: 0;
  left:0px;
  bottom:2px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  display: none;
}

.form-group-md input.invalid ~ label.error,
.form-group-md textarea.invalid ~ label.error,
.form-group-md select.invalid ~ label.error
{
    display: block;
}
.form-group-md input:invalid,
.form-group-md textarea:invalid
.form-group-md select:invalid {
    box-shadow: none !important;
}
.form-group-md input.invalid,
.form-group-md textarea.invalid
.form-group-md select.invalid {
    border-bottom:1px solid #d50000;
}
/* /.material design form field*/
