/*
* Custom CSS -scbox
*/
/*
html, body {
  height: 100%;
}
 body {
	font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{color: #333;}
a:visited{color: #333;}
a:hover{color: #333;}
ul{list-style: none; padding: 0}
.wrapper {
  min-height: 100%;
}
.container {
    width: 100%;
    max-width: 940px;
}
*/
::-webkit-input-placeholder {  color: #9C9C9C; font-weight: 600; text-transform: uppercase;}
::-moz-placeholder { color: #9C9C9C;  font-weight: 600; text-transform: uppercase;}
:-ms-input-placeholder { color: #9C9C9C; font-weight: 600; text-transform: uppercase;}
:-moz-placeholder { color: #9C9C9C; font-weight: 600; text-transform: uppercase;}
/*
.form-control{border-radius: 0; border: none; border-bottom: 1px solid #13D792; padding-left:0px; padding-right: 0;  box-shadow: none; height: auto; color: #333; font-weight: 300;}
.form-control:focus{box-shadow: none; border-bottom: 1px solid #15c184;}
*/



.img-wrp img{width: auto; max-width: 100%;}
.text-bold{font-weight: bold;}
.text-semibold{font-weight: 600;}
.text-danger{color: #E03232}
.sc-color{color:#13D792; }
.bg-sccolor{background-color:#13D792; }
.position-static{position: static;}
.box-message{padding: 20px 0; text-align: center; margin-bottom: 20px;}
.box-message.success{color:#13D792; }
.box-message.error{color:#E03232; }

.form-group{position: relative; margin-bottom: 20px;}
.form-group .message, .form-group label.error{position: absolute; bottom:-20px; font-size: 95%; width: 100%; display: block; margin: 0; font-weight: 300; text-transform: none; font-weight: 500;}
.form-group .message.text-error, .form-group label.error{color: #d61b1b;}

@media (max-width:678px) {
	.form-group .message, .form-group label.error{ bottom: initial;}
}

[class^="icon-"]:before, [class*=" icon-"]:before {
		display: inline-block;
		text-decoration: none;
}


.custom-select{border-radius: 0; position: relative;display: block;}

.custom-select::before{
 content: "\f107";
 font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
display: block;
height: 34px;
    line-height: 34px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    text-align: center;
}
.custom-select select{border-radius: 0; outline:none;  -webkit-appearance: none;  -moz-appearance: none; -appearance: none;}

/*modals*/
/*
.modal-content{border-radius: 0; border:none;
	 -moz-box-shadow: 0 5px 10px -1px rgba(0,0,0,0.21);
	 -webkit-box-shadow: 0 5px 10px -1px rgba(0,0,0,0.21);
		box-shadow: 0 5px 10px -1px rgba(0,0,0,0.21);
	}
	.modal button.close{font-size: 20px; color:#13D792; opacity: 1; position: relative; z-index:5;   right: 15px;
    top: 10px;}
	.modal button.close:hover{color:#13D792;  opacity: 0.8;}
	.modal-backdrop{background: #fff;}
	.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (max-width:678px) {
	.modal button.close{right:0; top:0;}
}*/
/* /. modals*/

/*tabs*/
/*
.nav-tabs.sc-tabs{border: none; display: inline-block;}
.nav-tabs.sc-tabs>li>a{border: none; padding:4px  0px; margin: 10px 30px 10px 0; font-weight: 700; letter-spacing: 1px; text-transform: uppercase;}
.nav-tabs.sc-tabs>li:last-child>a{margin-right: 0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border: none; border-bottom:1px solid #13D792;}
*/
/* /.tabs */

/*
.header{padding: 20px 0 10px;  z-index: 3; position: relative;  background: #fff;
    top: 0; width: 100%;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.navbar-brand{padding: 10px 15px 10px 0;}
.navbar-toggle{float: left; display: inline-block; padding: 5px; font-size: 24px; font-weight: normal; line-height: 1;}
.sc-navbar-primary{font-size: 14px; font-weight: 600;  text-align: center; text-transform: uppercase; margin-top: 10px;}
.sc-navbar-primary .nav{display: inline-block; float: none;}
.sc-navbar-primary .nav > li{ padding: 5px 15px;}
.sc-navbar-primary .nav > li > a {padding: 2px; font-weight: 700;}
.sc-navbar-primary .nav > li >a:focus, .nav > li >a:hover{background: inherit; color: #13D792;  }
.sc-navbar-primary .nav > li >a:focus{ border-bottom:1px solid #13D792; }

.sc-navbar-secondary{font-size: 32px; margin-right: 10px;}
.header .sc-navbar-secondary .navbar-nav > li{padding: 10px 15px;}
.header .sc-navbar-secondary .navbar-nav > li > a{padding: 0; position: relative; display: inline-block;}
.header .sc-navbar-secondary .navbar-nav > li > a[aria-expanded="true"]{color:#13D792;}
.header .sc-navbar-secondary .navbar-nav > li .shape-diamond, .header .sc-navbar-secondary .navbar-nav > li .shape-diamond::before{width:20px; height:20px; font-size: 12px; line-height: 20px; }
.header .sc-navbar-secondary .navbar-nav > li .shape-diamond{overflow111: hidden; position: absolute; right:-10px; top:-10px; z-index: 2;}

.nav>li>a:focus, .nav>li>a:hover{background: none; outline: none;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background-color:inherit; border-color: inherit; color: #13D792;}

.dropdown-menu{ -moz-box-shadow: 0 19px 15px 0 rgba(0,0,0,0.21); -webkit-box-shadow: 0 19px 15px 0 rgba(0,0,0,0.21);box-shadow: 0 19px 15px 0 rgba(0,0,0,0.21); padding: 20px;  border: none; border-radius: 0; z-index: 5}

.sc-navbar-left-wrp .dropdown-menu{top:50px; width: 400px;}
.sc-navbar-left-wrp .dropdown-menu li .fa{font-size: 28px; color:#13D792 }
.sc-navbar-left-wrp .dropdown-menu li{font-size: 14px; font-weight: 700; color: #333; letter-spacing: 2px; text-transform: uppercase; display: inline-block; width: 32%; text-align: center; vertical-align: top; margin-bottom: 20px;}
.sc-navbar-left-wrp .dropdown-menu li a{color: #333; text-decoration: none;}
.sc-navbar-left-wrp .dropdown-menu li a:hover{color:#13D792;}
.sc-navbar-left-wrp .dropdown-menu li a span{display: block; margin-bottom: 10px; padding: 10px 0; height: 60px;}
.sc-navbar-left-wrp .dropdown-menu li a .icon{font-size: 24px; color:#13D792;}


.fixed.header { z-index: 101; position: fixed;  padding111: 0; box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
   transform: translate(0, -20px);}
.fixed.header .navbar-nav > li > a { font-size111: 12px;}
.fixed .navbar-brand img { width1: 50%;}

@media (max-width:678px) {
.sm-static{position: static !important;}
.sc-navbar-left-wrp .dropdown-menu li{width: 32%; font-size: 12px; }
.sc-navbar-left-wrp .dropdown-menu{width: 100%; padding-top: 40px;}
}
*/
/*******
*************************************************************
 nav
********************************************************************/
/* new mega menu/filter design custom*/
/*
.header{padding: 20px 0 0;}
.navbar-brand{margin-top111: 4px;}

.nav > li{position: static;}
.sub-menu{visibility: hidden;  position: absolute; background: #fff; text-align: left;
 left:0;  top: 65px; position: absolute; padding: 20px; font-size: 14px;
 box-shadow: 0 16px 20px 0 rgba(0,0,0,0.21);
height:0;  opacity: 0; z-index: 1000;width:100%;
  -moz-transition: visibility 0s, opacity 0.1s linear, height 0.5s linear;
  -webkit-transition: visibility 0s, opacity 0.1s linear, height 0.5s linear;
  transition: visibility 0s, opacity 0.1s linear, height 0.5s linear;
 }
.fixed .sub-menu{top:51px;}
.hover .sub-menu{visibility:visible; opacity: 1; height:auto;}
.sub-menu-inner{margin: 0 auto; width: 100%;}
.sub-menu .sub-menu-inner ul{columns: 5; -moz-columns: 5; -webkit-columns: 5; column-gap: 15px;  -moz-column-gap: 15px; -webkit-column-gap: 15px;}

.sub-menu .col-md-3 ul:last-child{margin-bottom: 0;}
.sub-menu a{color:inherit;}
.sub-menu a:hover{color:#13D792; text-decoration: none;}
.sub-menu .title{margin-top: 0px; margin-bottom: 2px;}
.sub-menu .title, .sub-menu .title a{color:#13D792; text-transform: uppercase; font-weight: bold;}
.sub-menu .title:hover, .sub-menu .title a:hover{color:#13D792; }

.sub-menu .col-md-2 ul{margin-bottom: 10px;}
.sub-menu .col-md-2 ul:last, .sub-menu .col-md-6 ul:last{margin-bottom: 0;}

.sub-menu li{text-transform:capitalize; text-transform:uppercase; line-height: 1.9; list-style: outside none none; padding: 8px 0;}
.sub-menu img{margin-bottom: 20px; max-height: 140px; width:auto; max-width:100%;}
.scrollbar{ position: relative;}
.header .navbar-nav > li{padding-top: 6px; padding-bottom: 18px;}
.header .navbar-nav > li.dropdown{position: relative;}
.header .navbar-nav > li.dropdown .dropdown-menu{top:36px;}
.fixed.header .navbar-nav > li{padding-bottom: 6px;}
.header .navbar-nav > li.hover > a{ border-bottom: 1px solid #13D792;}

.header .sc-navbar-secondary .navbar-nav > li.dropdown .dropdown-menu{top:100%; box-shadow: 0 19px 15px 0 rgba(0,0,0,0.21); border: none; font-size: 14px; font-weight: 600; }
.header .sc-navbar-secondary .navbar-nav > li.dropdown .dropdown-menu-notifications{width: 380px; background: #fff;  }
.header .sc-navbar-secondary .navbar-nav > li.dropdown .dropdown-menu-notifications .scrollbar{ height: 160px; }

.header .sc-navbar-secondary .dropdown-menu-notifications li{margin-bottom: 20px; padding: 3px 20px 3px 50px; position: relative;}
.header .sc-navbar-secondary .dropdown-menu-notifications li a{display: inline; color:#13D792; padding: inherit; padding: 0;}
.header .sc-navbar-secondary .dropdown-menu-notifications li .ic{position: absolute; left:20px; top:8px; font-size: 18px;}
.header .sc-navbar-secondary .dropdown-menu-notifications li:last-child{margin-bottom: 0;}

.search-panel{background:#fff; text-align:center; position:absolute; width:100%; background-color: #FFFFFF; box-shadow: 0 5px 10px 0 rgba(0,0,0,0.21), inset 0px 7px 20px 0px rgba(0, 0, 0, 0.2); text-align: center;}
.search-panel-inner{ position: relative;width: 30%; margin:35px auto 30px;}
.search-panel .form-control{ font-size: 18px; font-weight: 500; text-align: center; line-height: 25px; letter-spacing: 1px; color: #9C9C9C; text-transform: none; background:#fff;}
.search-panel  .search-panel-inner .close{position: absolute;  right: 5px; top: 11px; z-index: 2; font-size: 16px; color: #13D792; opacity: 1; display: none;}

@media (max-width:678px) {
.header .sc-navbar-secondary .navbar-nav > li.dropdown .dropdown-menu-notifications{width: 100%;position:absolute; left:0px;right:inherit; padding-bottom: 20px;}
.header .sc-navbar-secondary .dropdown-menu-notifications li{padding-left: 25px;}
.header .sc-navbar-secondary .dropdown-menu-notifications li .ic{ left:0px; }
	.search-panel{padding: 0 20px;}
	.search-panel-inner{ position: relative; width: 100%; margin:20px auto 15px;}
	.search-panel .form-control{font-size: 12px; line-height: 1.3; color: #000; text-align: left;}
	.search-panel .close{top:6px; font-size: 12px;}
}
*/
/********************************************************************
 //. nav
********************************************************************/
/*
.footer {
  background1: #222;
  position: relative;
  clear:both;

}
.footer .container-fluid{ padding: 0 50px;}
.footer .title{
font-size: 14px; text-transform: uppercase;
font-weight: 700;
letter-spacing: 2px;
color: #13D792;
margin-bottom: 20px;
}
.footer .box-categories{border-right:1px solid #13D792; height: 200px;}
.footer .box-categories ul{
-webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  list-style: none;
  padding: 0;
}
.footer ul li{  font-size: 14px; font-weight: 700; line-height: 1.7;  text-transform: uppercase; margin-bottom: 10px;}

.footer .box-social ul li .fa{margin-right: 10px;font-size: 28px;}
.footer .box-social{border-right:1px solid #13D792; height: 200px;}
.facebook .fa{color: #4460A0;}
.twitter .fa{color: #00AAEC;}
.instagram .fa{color: #EB2780;}
.pinterest .fa{color: #CC2127;}
.breadcrumb{background: none; padding: 0; margin-top: 10px; margin-bottom: 15px;}
.breadcrumb>li{font-size: 14px; font-weight: 600;}
*/
/*************************/
.section{ box-shadow111: 0 -5px 10px rgba(0, 0, 0, 0.2) inset;  padding: 30px 0 35px; }
.section-shadow{box-shadow: inset 0px 7px 20px 0px rgba(0, 0, 0, 0.2);}
.title-section{position: relative; margin-bottom: 10px;}
.title-section .title{font-size111: 30px; font-size: 48px;  font-weight: 200; margin: 0; text-transform: uppercase;  line-height:1; color:#333; display: inline-block;}
.title-section .title span{border-bottom: 1px solid; padding-bottom: 10px; display: inline-block;}
.title-section .title-desc{line-height: 1.7; text-align: center;}
.title-section .link-view-all{position: absolute; color:#000; right:0px; bottom:5px; font-size: 22px; text-transform: lowercase; line-height: 1;}
.title-section .ic-filter, .title-section .ic-right{position: absolute; color:#000; right:0px; bottom:10px; }
.title-section .subtitle{font-size: 20px; font-weight: 700; margin111: 40px 0 0; margin: 0; text-transform: uppercase;  line-height:1.5; color:#333; display: block;}
.title-section .subtitle span{border-bottom: 1px solid #13D792; display: inline-block; padding-bottom: 0px;}
.title-section .ic-filter .icon-filter, .title-section .ic-right .icon-sort{font-size: 26px; cursor: pointer;}
.title-section .ic-filter .icon-filter:hover, .title-section .ic-right .icon-sort:hover{opacity:0.85;}

.sub-title-section{position: relative;}
.sub-title-section .title{font-size: 18px; text-align: left; font-weight: 600; text-transform: uppercase; margin-bottom: 10px; line-height: 1; color:#161617;}
.sub-title-section .title span{ display: inline-block;}
.sub-title-section .link-view-all{position: absolute; color:#00b19c; right:0; top:-5px; font-size: 16px; }
.section-book-stylist .desc{font-size: 14px; font-weight: 600; line-height: 1.7;}

/*
.sm-footer-navbar .footer-nav{ display: table; width: 100%;}
.sm-footer-navbar .footer-nav li{display: table-cell; text-align: center; padding: 5px; font-size: 15px; line-height: 1.3;}
.sm-footer-navbar .footer-nav .icon{font-size: 24px;}
.sm-footer-navbar .footer-nav .active a .icon{color:#13D792}

.sm-footer-navbar .footer-nav li > a{padding: 0; position: relative; display: inline-block;}
.sm-footer-navbar .footer-nav li > a[aria-expanded="true"]{color:#13D792;}
.sm-footer-navbar .footer-nav li .shape-diamond, .sm-footer-navbar .footer-nav li .shape-diamond::before{width:14px; height:14px; font-size: 9px; line-height: 14px; }
.sm-footer-navbar .footer-nav li .shape-diamond{overflow111: hidden; position: absolute; right:-8px; top:-8px; z-index: 2;}
*/
.md-only{display: block;}
.sm-only{display: none;}

@media (max-width:768px) {
.title-section .title{font-size: 26px;}
/*
.title-section .ic-filter{bottom: 0px; font-size: 18px;}

.header{padding: 5px 0;}
.header.fixed{transform: translate(0, -5px);}

.sc-navbar-secondary{font-size: 24px;}
.sc-navbar-secondary.collapse{display: block; padding-left: 0 ; padding-right: 0; text-align: right;}
.sc-navbar-secondary .navbar-nav{margin-top: 0; margin-bottom: 0;}
.header .sc-navbar-secondary .navbar-nav > li{padding: 10px 15px 8px;}
.nav>li.md-only{display: none;}
.sm-footer-navbar .footer-nav{margin-bottom: 0;}
*/
.md-only{display: none;}
.sm-only{display: block;}



.section{padding: 15px 0 15px;}
.footer.section{padding: 10px 0 15px;}
.title-section .title{font-size: 22px;}
.title-section .link-view-all{position: static; margin-left: 5px; font-size: 13px;}

.section .grid.grid-items.sm-slider .grid-col{margin-bottom: 0;}
.section-book-stylist .desc{margin-bottom: 10px;}
/*
.footer .container-fluid{padding-right: 15px; padding-left: 15px;}
.footer .box-categories{margin-bottom: 20px; border-right: none;}
.footer .box-social{border-right: none;}
.footer .box-categories ul{column-count:initial; -moz-column-count:initial;  -webkit-column-count:initial; }
*/
}

/*/.*/

/*page home*/
/*
.section-collections .grid-row, .section-promotion .grid-row, .section-blog .grid-row, .section-events .grid-row{margin-right: -5px; margin-left: -5px;}
.section-collections .grid.grid-items .grid-col, .section-promotion .grid.grid-items .grid-col, .section-blog .grid.grid-items .grid-col, .section-events  .grid.grid-items .grid-col{margin-bottom: 10px; padding-left: 5px; padding-right: 5px;}
.section-promotion{padding: 30px 0;}
.section-promotion .grid-col{margin-bottom: 0px;}
.section-promotion .grid.grid-items .item-desc-wrp .title{margin-bottom: 10px;}
*/
/* //.paage home*/

/* page home guest*/
/*
.swiper-wrapper{margin-bottom: 0;}
.page-home-guest .section.section-main-slider{padding: 0;}
.page-home-guest .swiper-container-front img{width:100%;}
.page-home-guest .section-slider-verticle{position: relative; overflow: hidden;}
.page-home-guest .swiper-container.front.verticle{height:420px;}
.page-home-guest .section-slider-verticle .swiper-button-next.verticle, .page-home-guest .section-slider-verticle .swiper-button-prev.verticle{visibility: hidden;}
.page-home-guest .section-slider-verticle .swiper-pagination{width:20px; top:160px; left:auto; right:0px;}
.page-home-guest .section-slider-verticle .swiper-pagination-wrp{position: relative;}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 15px;}
.swiper-container .swiper-pagination-bullet{width:14px; height:14px; border-radius: 0; transform: rotate(-45deg); margin-bottom: 10px; background: transparent; border:1px solid #000; bottom:15px;}
.swiper-container .swiper-pagination-bullet-active{ background: #13D792; border-color: #13D792; }

.swiper-container-front.swiper-container .swiper-pagination-bullet{width:18px; height:18px;}

.page-home-guest .section-slider-verticle .slide .inner{ background111:#ccffff; padding11:45px 50px 45px 80px; position: relative; height: 400px; padding-left: 10px;}
.page-home-guest .section-slider-verticle .slide .img-wrp{position111: absolute; top111:0px; width: auto; margin-top: 10px;}
.page-home-guest .section-slider-verticle .content{padding-left111: 50px; padding-top: 5px;}
.page-home-guest .section-slider-verticle .title{ margin-bottom: 30px;  width: 100%;}
.page-home-guest .section-slider-verticle .title::after{content: ""; display: block; border-bottom: 1px solid #13D792; padding-bottom: 15px; width: 70%;}
.page-home-guest .section-slider-verticle .desc{margin-bottom: 30px; font-size: 15px;}
.page-home-guest .section-slider-verticle .inner-benefits li{width: 48%; display: inline-block; padding-right: 10px; height: 70px; line-height: 1.7; position: relative; padding-left: 50px; margin-bottom: 5px; vertical-align: top; font-weight: 900; text-transform: uppercase;}
.page-home-guest .section-slider-verticle .inner-benefits li i{font-size:28px;  position: absolute; left:0 ; top:2px; padding: 1px; color: #13D792;}

.page-home-guest .section-slider-verticle .inner-how-it-works li{ margin-bottom: 14px; font-weight1: 700; text-transform1: uppercase;}

.page-home-guest .section-slider-verticle .inner-outfit .title{line-height: 1.3; font-size: 46px;}

.page-home-guest .section-work{padding: 40px 0;}
.page-home-guest .section-work-inner{ }
.page-home-guest .section-work .title{margin: 0 0 10px; margin-bottom111: 20px;  font-size: 48px; font-weight:200; line-height: 1.3; text-transform: uppercase;}
.page-home-guest .section-work .subtitle{font-size: 15px; font-weight: 900; text-transform: uppercase; letter-spacing: 2px; line-height: 1.7;}
.page-home-guest .section-work-inner .col-md-4{display11: table;}
.page-home-guest .section-work .desc{padding111: 10px;  vertical-align11: middle; display11: table-cell; height11:410px;}
.page-home-guest .section-work .swiper-slide{width: 210px; text-align: center; margin-right: 10px;}
.page-home-guest .section-work .swiper-slide img{height: auto; width:auto; max-width: 100%; max-height: 290px;}
.page-home-guest .section-work .swiper-button-next, .section-work .swiper-button-prev { background: rgba(255, 255, 255, 0.5)}
.page-home-guest .section-work .swiper-pagination.work{bottom:0;}
*/

/*.section-products */
/*
.page-home-guest .section-media{text-align: center; }
.page-home-guest .section-media .title-section{margin-bottom: 50px;}
.page-home-guest .section-media li{list-style: none; display: inline-block; width:auto; margin-right: 30px;}
.page-home-guest .section-media ul{margin: 0;}
.page-home-guest .section-media li:last-child{margin-right: 0;}
.page-home-guest .section-media li img{width:auto; height:40px; color:#ccc; opacity: 0.4; -webkit-filter: grayscale(1) !important; -moz-filter: grayscale(1) !important; -ms-filter: grayscale(1) !important; filter: grayscale(1) !important; }
.page-home-guest .section-media li img:hover{ opacity: 1; -webkit-filter: grayscale(0) !important; -moz-filter: grayscale(0) !important; -ms-filter: grayscale(0) !important; filter: grayscale(0) !important; }
.swiper-container.front.products .swiper-slide{width:25%}
@media (max-width:678px) {
.swiper-container-front.swiper-container .swiper-pagination-bullet, .swiper-container .swiper-pagination-bullet{width:8px; height:8px; margin: 0 5px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 5px;}

.page-home-guest .section-media li { margin-right: 0; padding: 5px; margin-bottom: 5px;}
.page-home-guest .section-media li img{ height:20px;}

.page-home-guest .swiper-container.front.verticle{height:auto;}
.page-home-guest .section-slider-verticle .slide .inner{height:auto;}
.page-home-guest .section-slider-verticle .title{margin-bottom: 0;}
.page-home-guest .section-slider-verticle .title::after{padding-bottom: 4px; width: auto;}
.page-home-guest .section-slider-verticle .desc{font-size: 12px;margin-bottom: 20px;}
.page-home-guest .section-slider-verticle .inner-benefits li{width:auto; height:auto; padding-left: 24px; font-weight: 600;}
.page-home-guest .section-slider-verticle .inner-benefits li i{font-size: 14px;}

.page-home-guest .section-slider-verticle .inner-outfit .title{font-size: 22px;}

.page-home-guest .section-work{padding:15px 0;}
.page-home-guest .section-work .title{font-size: 22px; margin-bottom: 0;}
.page-home-guest .section-work .subtitle { font-size: 10px; font-weight: 900;}
.page-home-guest .section-work .desc{margin-bottom: 20px;}

.swiper-container.front.products .swiper-slide{width:50%}
}
*/
/* //.page home guest*/


/* page cart*/
/*
.page-cart-content{padding-top: 20px;}
.page-cart .cart-items-wrp{position: relative; margin-bottom: 30px;}

.page-cart .cart-items-wrp img{max-width: 100%; max-height: 205px;}
.page-cart .cart-items-wrp div:last-child{margin-bottom: 0;}
.page-cart .cart-items-wrp .item-desc-wrp{position: relative; padding-right: 12px;}
.page-cart .cart-items-wrp .title{ margin-bottom: 5px; font-weight: 700;  line-height: 1.5; letter-spacing: 1px;  font-size: 21px; text-transform: uppercase;}
.page-cart .cart-items-wrp .brand{ margin-bottom: 5px; font-size: 18px;}
.page-cart .cart-items-wrp .item-price-wrp{margin-bottom: 10px;}
.page-cart .cart-items-wrp .price{ margin-bottom: 10px; font-weight: 600; font-size: 18px; letter-spacing: 3px;}
.page-cart .cart-items-wrp .mrp{ margin-bottom: 2px; font-weight: 600;  font-size: 14px; letter-spacing: 3px; text-decoration: line-through;}
.page-cart .cart-items-wrp .discount{ margin-bottom: 2px; font-weight: 600;  font-size: 15px;}
.page-cart .cart-items-wrp .item-size-qty-wrp { font-size: 18px;  margin-bottom: 5px;}
.page-cart .cart-items-wrp .item-size-qty-wrp .size-wrp{display: inline-block; margin-right: 20px; font-size: 14px;}
.page-cart .cart-items-wrp .item-size-qty-wrp .qty-wrp{display: inline-block;}
.page-cart .cart-items-wrp .item-size-qty-wrp label{margin-right: 10px;}


.page-cart .cart-items-wrp .item-size-qty-wrp .btn-qty{font-size: 26px; line-height: 1; position: relative; top:8px;}
.page-cart .cart-items-wrp .item-size-qty-wrp .qty-value{display: inline-block; margin: 2px 5px; width:24px; text-align: center; border:none; background: transparent; font-size: 18px;}
.page-cart .cart-items-wrp .message{font-size: 13px; border-bottom: 1px solid #13D792; padding-bottom: 10px; margin-bottom: 10px;}
.page-cart .cart-items-wrp .return-policy{font-size: 20px; color: #000;}
.page-cart .cart-items-wrp .ic-close{position: absolute; right:0px; top:3px; font-size: 26px; color: #13D792; line-height: 1; cursor:pointer;  transition: all 0.5s;}
.page-cart .cart-items-wrp .ic-close:hover{opacity: .8;}

.page-cart .pincode-wrp{margin-top: 20px;}

@media (max-width:678px) {
  .page-cart .cart-items-wrp .ic-close{font-size: 12px; right:0px;}
  .page-cart .cart-items-wrp .item-size-qty-wrp .qty-value{margin: 2px;}

}
*/
/* //.page cart*/

/* page checkout*/

.title-2{font-weight: 700; font-size: 14px; color: #000; text-transform: uppercase; margin-bottom: 10px;}
.title-3{font-weight: 700; font-size: 12px; color: #000; text-transform: uppercase; margin-bottom: 10px;}
/*
.panel-checkout .title{font-size: 20px; font-weight: 600; line-height: 1.5; margin-bottom: 20px;}
.panel-checkout .form-control{font-size: 18px; font-weight: 600; color: #9C9C9C; text-transform: none;}
.panel-checkout textarea.form-control{height: 84px;}
.panel-checkout .box-signin-social{padding-top: 30px;}
.panel-checkout .hr-or{font-size: 15px; font-weight: 900; margin:20px 0;}
.panel-checkout .sub-title{font-size: 14px; font-weight: 600; margin-bottom: 15px; text-transform: uppercase;}
.panel-checkout .box-signin-social .btn-facebook-wrp{margin-left: 0;}

.panel-checkout .panel-selection{position: relative; padding-right: 30px; display: none;}
.panel-checkout .panel-selection.email{font-size: 18px; font-weight: 500;}
.panel-checkout .panel-selection .btn-edit{position: absolute; right:10px; top:0px; font-size: 22px; color: #13D792; cursor: pointer;}
.panel-checkout .panel-selection .btn-edit:hover{opacity:0.85;}
.panel-checkout.closed .panel-selection{display: block;}
.panel-checkout.closed .panel-inner{display: none;}

.panel-checkout-login, .panel-checkout-address {border-bottom: 1px solid #13D792; padding-bottom: 30px;}
.panel-checkout .box-address-list{margin-bottom111: 40px;}
.panel-checkout .box-address-list li{position: relative; padding: 10px 30px 10px 10px; border: 1px solid #eee; border111: 1px solid #13D792; line-height: 1.5; margin-bottom: 20px; cursor: pointer;}
.panel-checkout .box-address-list li.active{border: 1px solid #13D792; cursor: default;}
.panel-checkout .box-address-list li .title-3{margin-bottom: 10px; }
.panel-checkout .box-address-list li .btn-edit{position: absolute; right:10px; top:10px; font-size: 22px; color: #ccc; cursor: pointer;}
.panel-checkout .box-address-list li.active .btn-edit, .panel-checkout .box-address-list li .btn-edit:hover{color: #13D792;}

.panel-checkout .box-add-address .title-3{margin-bottom: 20px; display: none;}
.panel-checkout .btns-wrp .scbtn:first-child{margin-right: 20px;}

.panel-checkout .box-payment-options li{font-size: 14px; font-weight: 700; margin-bottom: 30px;}
.panel-checkout .box-payment-options li label{ cursor: pointer;}
.panel-checkout .box-payment-options li label:hover{color: #13D792;}
.panel-checkout .box-payment-options li.active label{color: #13D792;  cursor: default;}
.panel-checkout .box-payment-options li.active .icon-diamond::before{content:'\e9d5';}

.panel-checkout .box-payment-options li .ic{display: inline-block; width:30px; font-size: 18px;}
*/
/*cart summary*/
/*
.box-cart-items{margin-bottom: 30px;}
.box-cart-items .box-title{font-size: 15px; font-weight: 900; text-transform: uppercase; border-bottom: 1px solid #13D792;
padding:0 10px 10px; margin-bottom: 10px; line-height: 1; position: relative; }
.box-cart-items .box-title .btn-edit{position: absolute; right:10px; top:3px; font-size: 12px; text-align: center; color: #000000; font-weight: normal; text-transform: none;}
.box-cart-items .item{margin-bottom: 20px; padding-top: 10px;}
.box-cart-items .item-img-wrp img{max-width: 100%;}
.box-cart-items .item-desc-wrp .title{text-align: left; font-size: 14px; font-weight: 600; text-transform: uppercase; margin-bottom: 10px;}
.box-cart-items .item-desc-wrp .price{font-size: 14px; font-weight: 600; color: #000;}
*/
/* //.page checkout*/
/* page order summary*/
/*
.page-order-summary .section{padding: 20px 0 25px;}
.page-order-summary .order-items .item{margin-bottom: 20px; padding-top: 10px;}
.page-order-summary .order-items .item-img-wrp img{max-width: 100%;}
.page-order-summary .order-items .title{text-align: left; font-size: 14px; font-weight: 700; text-transform: uppercase; margin-bottom: 5px;}
.page-order-summary .order-items .brand{margin-bottom: 5px;}
.page-order-summary .order-items .price{font-size: 14px; font-weight: 700; color: #000;}
.page-order-summary .order-items .size-wrp{display: inline-block; width:100px;}

.page-order-summary .order-total{}

.page-order-summary .order-total{list-style: none; padding: 0;  font-size: 14px; display: table; width: 100%; color: #000; margin-top: 20px;}
.page-order-summary .order-total li{margin: 5px 0; display: table-row; padding: 5px 0;}
.page-order-summary .order-total .text-label { font-weight: 700; display: table-cell; text-transform: uppercase; padding: 5px 0; color: #000;}
.page-order-summary .order-total .value {  display: table-cell; text-align: right; font-weight: 600; }
*/
/* //.page order summary*/
/* //.page order history*/
/*
.page-order-history .tabs{margin:20px 0 0;}
.page-order-history .tabs li{display: inline-block; padding: 10px 20px 0; font-weight: 700; text-transform: uppercase; cursor: pointer;}
.page-order-history .tabs li.active{color:#13D792; cursor: default;}
.page-order-history .order-products{margin-bottom: 20px;}
.page-order-history .order-products li{display:inline-block;}
.page-order-history .order-products li .img-wrp{width: 80px; height: 80px;}
.page-order-history .order-products li .img-wrp img{max-width: 100%; max-height: 80px;}
*/
/* //.page order history*/

.btn-diamond-group{list-style: none; padding: 7px; }
.btn-diamond-group .btn-diamond{margin-right: 22px;}
.btn-diamond{text-align: center; display: inline-block; position: relative; width: 30px; height: 30px; line-height: 30px; transition: all 0.5s; cursor: pointer;}
.btn-diamond::before{display: inline-block; content: ""; border: 1px solid #000;  vertical-align: middle;   transform: rotate(-45deg); transition: all 0.5s; width: 30px; height: 30px; line-height: 30px; position: absolute; left: 0; z-index: -1;
  }
.btn-diamond:hover{color111:#13D792; opacity: 0.85;}
.btn-diamond:hover::before{border111: 1px solid #13D792; }

.btn-diamond.active, .btn-diamond.active:hover{color: #fff; cursor: default;}
.btn-diamond.active::before{border: 1px solid #13D792; background: #13D792; cursor: default;}

.btn-diamond.btn-plus, .btn-diamond.btn-minus,
.btn-diamond.btn-minus::before, .btn-diamond.btn-plus::before{width: 20px; height: 20px; line-height: 20px;}


/*secondary*/
.btn-diamond-secondary{display: inline-block; cursor: pointer; background: none; border: 0; padding: 0; outline: none; text-decoration: none;}


.btn-diamond-secondary:after {right: 0; left:auto; background-position: right 0;}

.btn-diamond-secondary:hover{opacity:0.85;text-decoration: none; color:#fff;}
.btn-diamond-secondary:focus{text-decoration: none;}

.btn-diamond-secondary:before, .btn-diamond-secondary:after{display: table-cell;  width:16px; content: "";   background: url('../images/btns/btn-black-border.svg') 0 0 /auto 100% no-repeat; ;}

.btn-diamond-secondary:after {right: 0; left:auto; background-position: right 0;}
.btn-diamond-secondary span{display: table-cell; background: transparent; color:#000; padding: 8px 20px; font-size1:13px; line-height: 1.3; text-transform: uppercase; font-weight111: 900; text-align:center; border-top: 1px solid #000;  border-bottom: 1px solid #000;}
.btn-diamond-secondary:hover{opacity:0.85;text-decoration: none; color:#555;}

.btn-diamond-secondary.active span{display: table-cell; background: #13D792; color:#fff;  padding111: 8px 15px;  line-height111: 1.3; letter-spacing111: 4px;text-transform111: uppercase; font-weight111: 900; text-align111:center; text-decoration111: none;  border-top: 1px solid #13D792;  border-bottom: 1px solid #13D792;}
.btn-diamond-secondary.active:before, .btn-diamond-secondary.active:after{display: table-cell; background: #13D792; width:16px; content: "";   background: url('../images/btns/btn-green.svg') 0 0 /auto 100% no-repeat; ;}
.btn-diamond-secondary.active:after {right: 0; left:auto; background-position: right 0;}

.product-item .item-sizes-wrp .btn-diamond-secondary{transform: translateY(12px);}

.shape-diamond{text-align: center; display: inline-block; position: relative; width: 30px; height: 30px; line-height: 30px; transition: all 0.5s; }
.shape-diamond::before{display: inline-block; content: ""; border: 1px solid #000;  vertical-align: middle;   transform: rotate(-45deg); transition: all 0.5s; width: 30px; height: 30px; line-height: 30px; position: absolute; left: 0; z-index: -1;
  }
.shape-diamond.scbtn{cursor: pointer;}
.shape-diamond.scbtn:hover{ opacity: 0.95;}

/*payment methods*/
/*
.payment-methods-wrp{ margin:50px 0px 50px 10px;}
.payment-methods-wrp ul{list-style:none; padding: 0;}
.payment-methods-wrp li{display: inline-block; margin-right: 30px; }
.payment-methods-wrp li:last-child{margin-right: 0;}
.payment-methods-wrp li label{position: relative; padding-left111: 25px; font-size: 20px; font-weight: 600; text-transform: uppercase;}
.payment-methods-wrp li label::before{display: inline-block; content: ""; border: 1px solid #000; width: 30px; height: 30px; vertical-align: middle; margin-right: 7px;   transform: rotate(-45deg); transition: all 0.5s}
.payment-methods-wrp li label:hover::before{border: 1px solid #13D792;}
.payment-methods-wrp li label.active::before{border: 1px solid #13D792; background: #13D792; cursor: default;}

.payment-methods-wrp li label input{position: absolute; opacity: 0;}
.payment-methods-wrp li label span{display: inline-block;}


.box-cart-summary{box-shadow: 0 5px 10px 0 rgba(0,0,0,0.11); background-color: rgba(255,255,255,0.9);}
.box-cart-summary .box-body{padding:15px 40px;}
.box-cart-summary .copoun-wrp, .box-cart-summary .pincode-wrp{text-align: center; margin-bottom: 30px;}
.box-cart-summary .copoun-wrp input, .box-cart-summary .pincode-wrp input{text-align: center;}
.box-cart-summary .box-body > .title{font-size: 18px; font-weight: 700; text-align: center; margin:20px 0 10px; text-transform: uppercase;}
.box-cart-summary .inner{list-style: none; padding: 0;  font-size: 14px; display: table; width: 100%; color: #000;}
.box-cart-summary .inner li{margin: 5px 0; display: table-row; padding: 5px 0;}
.box-cart-summary .inner .text-label { font-weight: 700; display: table-cell; text-transform: uppercase; padding: 10px 0; color: #000;}
.box-cart-summary .inner .value {  display: table-cell; text-align: right; font-weight: 600; }
.box-cart-summary .box-footer{background-color: rgba(255,255,255,0.9);  padding: 20px 0; text-align: center; box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.13)}
.box-cart-summary.fixed{width:400px; position: fixed; background: #fff; top:100px;}


@media (max-width:768px) {

.box-cart-summary-outer{padding: 0; margin-bottom: -15px;}
  .box-cart-summary .box-body{padding:15px 20px;}
  .box-cart-summary .box-footer{padding:10px 0px;}
  .box-cart-summary .form-control{width:70%; margin: auto;}
  .cart-box-footer{display: none;}
	}
  */
/* /.cart*/

/* product details */
/*
.product-gallery-wrp{position: relative; text-align: center;}
.ic-zoom-s{font-size: 26px;}
.product-gallery-wrp .ic-zoom-s{display: none; position: absolute; right:10px; top:6px;}
.product-gallery-wrp .ic-heart.sc-heart{z-index: 2;}
.product-info-section .product-gallery-top{margin-bottom: 20px; border:1px solid #000;}

.product-gallery-top .swiper-slide{ background:#fff; height: 425px; text-align: center; }
.product-gallery-top .swiper-slide .item-img-inner{position: relative; top: 50%; transform: translateY(-50%);}
.product-gallery-top img{ width: auto; height:auto; max-width: 100%; max-height:550px; padding: 0;  }

*/
/* gallery thumb*/
/*
.product-gallery-thumbs .swiper-slide, .look-gallery-thumbs .swiper-slide{  width: 100px !important; height: 123px !important; display: inline-block; border:1px solid #ddd; overflow: hidden; background:#fff; display: inline-block;}
.product-gallery-thumbs .swiper-slide .item-img-inner, .look-gallery-thumbs .swiper-slide .item-img-inner{position: relative;
    top: 50%;  -moz-transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     text-align: center;
   }
.product-gallery-thumbs img, .look-gallery-thumbs img{width: auto; height: auto; max-width: 100%; max-height: 123px; background: #fff;}
.product-gallery-thumbs .swiper-slide-active, .look-gallery-thumbs .swiper-slide-active{border:1px solid #000;}
.gallery-thumbs.product-gallery-thumbs .swiper-wrapper, .gallery-thumbs.look-gallery-thumbs .swiper-wrapper{
    margin-left:calc(-36% - 10px);
}

@media (max-width:768px) {
.product-gallery-wrp .ic-zoom-s{display: inherit; font-size: 30px;}
.product-gallery-wrp .ic-heart{right:10px; font-size: 18px;}

.product-gallery-thumbs, .look-gallery-thumbs{margin-bottom: 20px;}
.look-gallery-thumbs .swiper-slide{height:100px;}
.look-gallery-thumbs .swiper-slide img{max-height: 100px; width: auto; height: auto; max-width: 100%;}
}
*/
/* gallery thumb*/
/*
.product-item .item-img-wrp{background1: #eee;}
.product-item .item-img-wrp img{max-width: 100%; max-height: 491px; margin: auto; text-align: center;}

.product-item div:last-child{margin-bottom: 0;}
.product-item .title{ margin-bottom: 10px; margin-top: 0; font-weight: 700;  line-height: 1.5;  font-size: 20px; text-transform: uppercase; color: #000; letter-spacing: 3px;}
.product-item .subtitle{ margin-top: 10px;  margin-bottom: 10px; font-weight: 700;  line-height: 1.5;  font-size: 14px; text-transform: uppercase; letter-spacing: 2px;}
.product-item .brand{ margin-bottom: 15px; font-size: 18px;}
.product-item .desc{margin-bottom: 20px; line-height: 1.7;}
.product-item .item-price-wrp{margin-bottom: 30px;}
.product-item .price{ margin-bottom: 10px; font-weight: 700; font-size: 14px; letter-spacing: 3px; color: #000;}
.product-item .mrp{ margin-bottom: 2px; font-weight: 700;  font-size: 14px; letter-spacing: 3px; text-decoration: line-through;}
.product-item .discount{ margin-bottom: 2px; font-weight: 700;  font-size: 15px;}

.product-item .item-sizes-wrp { font-size: 12px;margin-top: 20px;  margin-bottom: 35px;}
.product-item .item-sizes-wrp .btn-size{margin-right: 20px;}

.product-item .item-colors-wrp { font-size: 12px;margin-top: 20px;  margin-bottom: 20px;}
.product-item .item-colors-wrp .btn-color{margin-right: 15px; display: inline-block;  width: 30px; height: 30px; line-height: 30px; transition: all 0.5s; cursor: pointer;  transform: rotate(-45deg);     transition: all 0.5s;}
.product-item .item-colors-wrp .btn-color:hover{opacity:0.7; box-shadow: 0 0 3px rgba(55,55,55,0.8);}

.product-item .btns-wrp{margin-bottom: 15px;}
.product-item .btns-wrp .scbtn span{font-size: 13px;}
.product-item .read-more, .product-item .size-chart{font-size: 12px; margin-bottom: 10px; color: #000;}
.product-item .item-desc-wrp{position: relative;}
.product-item .item-media-wrp{position: absolute; top:2px; right:0px;}
.product-item .item-media-wrp .ic{display: inline-block; margin:0 10px 0 0; color:#13D792; font-size: 22px; cursor: pointer;}
.product-item .item-media-wrp .ic:hover{color:#13D792; opacity: 0.8}

.product-review{margin-bottom: 50px;}
.product-review ul{padding: 0}
.product-review ul li{list-style:none; padding-left: 50px; position: relative; margin-bottom: 30px;}
.product-review ul li .ratings{position: absolute;left:0px; top:10px; color: #fff;}
.product-review ul li .ratings .shape-diamond::before{background:#13D792; border-color: #13D792; }

.shape-diamond.solid{color:#fff;}
.shape-diamond.solid::before{background:#13D792; border-color: #13D792; }

.product-review ul li .desc{margin-bottom: 10px;}
.product-review ul li .meta{font-size: 12px; font-weight: 700; color: #000; text-transform: uppercase; letter-spacing: 2px;}
.product-review ul li .meta .fa{font-size: 18px; margin-left: 10px;}

.section-write-review .btn-diamond-group.rate-product{margin-bottom: 50px;}
.section-write-review .title-2{margin-bottom: 20px;}
.product-write-review .form-control{background-color: #FFFFFF; box-shadow: 0 5px 14px 0 rgba(0,0,0,0.16); padding:12px 20px; margin-bottom: 50px; border-bottom: none; height: auto; text-transform: none;}
.product-write-review .form-control:focus{box-shadow: 0 5px 14px 0 rgba(0,0,0,0.26);}
.product-write-review textarea.form-control{height: 110px;}
.product-write-review .form-group .message{bottom: -25px;}

.modal-select-size .modal-content{padding: 30px;}
.modal-select-size .item-sizes-wrp .btn-diamond{z-index: 2;}

@media (max-width:768px) {
.product-item .title{margin-bottom: 10px; letter-spacing: 2px;}
.product-item .brand{margin-bottom: 10px;}
.product-item .price{}
.product-item .item-desc-wrp .btns-wrp{text-align: center; margin-top: 20px;}
.product-item .item-media-wrp{display: none;}
.product-item .btns-wrp .scbtn span{font-size: 10px;}
.product-item .btns-wrp .btn-share{display: none;}
}
*/
/* /.product details */

/* page event details*/
/*
.event-item .item-img-wrp{position: relative;}
.event-item .item-img-wrp .ic-heart{position: absolute; right:10px; top:10px; font-size: 24px;}
.event-item .item-img-wrp img{max-width: 100%;}
.event-item .title{font-weight: 600;  line-height: 1.5;  font-size: 20px; text-transform: uppercase; margin: 0 0 10px; color: #000;}
.event-item .date{ margin-bottom: 20px; font-size: 13px; color: #000;}
.event-item .item-btns-wrp{margin-bottom: 10px;}
.event-item .item-btns-wrp .ic{font-size: 32px; margin-left: 15px; color: #000; cursor: pointer;}
.event-item .item-btns-wrp .ic:hover{opacity:0.85; color: #13D792;}

.ic-share-wrp.dropdown{display: inline-block;}
.ic-share-wrp.dropdown .dropdown-menu{padding: 0px; text-transform: uppercase; min-width: 56px; border: 1px solid #f1f1f1;}
.ic-share-wrp.dropdown li a{cursor: pointer; margin: 0;}
.ic-share-wrp.dropdown li .fa{font-size: 14px; }
.ic-share-wrp .fa-facebook{color: #4460A0;}
.ic-share-wrp .fa-twitter{color: #00AAEC;}
.ic-share-wrp .fa-instagram{color: #EB2780;}
.ic-share-wrp .fa-pinterest{color: #CC2127;}


@media (max-width:768px) {
.event-item .item-img-wrp{margin-bottom: 20px;}
.event-item .item-btns-wrp .ic{margin-left: 10px;}
}
*/
/* /. page event details*/

/* page scbox*/
.page-scbox .row{ margin-left: -15px; margin-right: -15px;}
.page-scbox .row > div{padding-left: 15px; padding-right: 15px;}

.page-scbox .section{padding: 60px 0 65px;}
.page-scbox .title-section .title{font-size: 44px; line-height: 1.3;}
.page-scbox .title-section .subtitle{font-size: 15px; font-weight: 900;; margin: 10px 0 15px; padding-bottom: 15px; border-bottom: 1px solid #13D792; text-transform: uppercase; letter-spacing: 2px;}
.page-scbox .desc{margin-bottom: 20px;}
.page-scbox .title-section.main{margin-bottom: 50px;}
.page-scbox .title-section.main .title span{border-bottom: 1px solid #13D792; padding-bottom: 3px;}
.page-scbox .section-get-box .title-section .title{text-align: left;}
.page-scbox .section-packages .title-section .title{ text-align: center;}
.page-scbox .section-works .box.step1 .title-section, .page-scbox .section-works .box.step2 .title-section{ margin-top: 30px;}
.page-scbox .section-works .box.step3 .title-section{ margin-top: 10px;}

.page-scbox .section-works .box.step3{margin-bottom: 40px;}
.page-scbox .section-own-box p{margin-bottom: 20px;}

.page-scbox .section-packages .title-section .subtitle{font-weight: 700; font-size: 12px; border: none; padding-bottom: 0;}

.page-scbox .box-package{text-align: center; margin-bottom: 20px; padding: 5px; cursor: pointer; transition: all 0.2s;}
.page-scbox .box-package:hover{outline:1px solid #13D792; }
.page-scbox .box-package.active{outline:1px solid #13D792; cursor: default;  opacity:0.99}
.page-scbox .box-package.deactive{ opacity:0.4}

.page-scbox .box-package .img-wrp{height: 130px; position: relative; margin-bottom: 20px;}
.page-scbox .box-package .img-wrp img{width:auto; max-width: 90%; height:auto; max-height: 130px;  position: absolute;
   bottom: 0; left: 0;  transform: translateX(-50%); margin-left: 50%;}
.page-scbox .box-package .title{font-size: 12px; font-weight: 700; margin-bottom: 10px; color: #000;}
.page-scbox .box-package .price{font-size: 14px; font-weight: 700; margin-bottom: 10px; color: #000;}
.page-scbox .box-package .desc{min-height: 80px;}
.page-scbox .section-packages .btns-wrp{text-align: center;}

.page-scbox-form .sc-checkbox::before{display: none;}

.page-scbox-form .sc-checkbox .icon-diamond{font-size: 26px;}
.page-scbox-form .sc-checkbox.active .icon-diamond{color: #13D792;}
.page-scbox-form  .product-item .item-sizes-wrp { font-size: 12px;margin-top: 20px;  margin-bottom: 35px;}
.page-scbox-form  .product-item .item-sizes-wrp .btn-size{margin-right: 20px;}

@media (max-width:768px) {
  .page-scbox .title-section.main{margin-bottom: 10px;}
  .page-scbox .title-section .title { font-size: 22px; line-height: 1.3; margin-top: 10px;  }
  .page-scbox .title-section .subtitle {padding-bottom: 5px; line-height: 1.3;}
  .page-scbox .section-works .box.step1 .title-section, .page-scbox .section-works .box.step2 .title-section{margin-top: 10px;}
  .page-scbox  .img-wrp, .page-scbox  .img-wrp.text-right{text-align: center;}
  .page-scbox .btns-wrp{text-align: center;}
  .page-scbox .section-works .box{margin-bottom: 0;}
  .page-scbox .box-package{margin-bottom: 30px;}
  .page-scbox .box-package .desc{min-height: inherit;}
.page-scbox .box-package .img-wrp{/*height: 90px;*/}
  .page-scbox .box-package .img-wrp img{/*max-height: 90px;*/}
  .page-scbox .section{padding: 15px 0 15px;}

	    .form-group-md input + label,
	    .form-group-md input.empty + label,
	    .form-group-md textarea + label,
	    .form-group-md textarea.empty + label,
	    .form-group-md select + label,
	    .form-group-md select.empty + label{ font-size:10px;}

	    .form-group-md input:focus + label, .form-group-md111 input:valid + label,
	    .form-group-md input.not-empty + label,
	    .form-group-md textarea:focus + label,
	    .form-group-md textarea.not-empty + label{   font-size:9px;}

	    .form-group-md input ~ label.error,
	    .form-group-md textarea ~ label.error,
	    .form-group-md select ~ label.error{  font-size:9px;}

	    .form-group-md input:focus + label, .form-group-md111 input:valid + label, .form-group-md input.not-empty + label, .form-group-md textarea:focus + label, .form-group-md textarea.not-empty + label{top:0;}

}



/* /. page scbox*/


/*page-bookmystylist*/
.page-bookmystylist .title-section{margin-bottom: 30px;}
.page-bookmystylist .form-group{margin-top: 30px; margin-bottom: 50px; font-size: 16px;}

.page-book-scbox .title-section{margin-bottom: 50px;}
.page-book-scbox .form-group{margin: 10px 0 20px; font-size: 16px;}
.page-book-scbox .btns-wrp{margin-top: 20px; text-align: center;}

.page-book-scbox .box-title {font-weight: bold; letter-spacing: 1.1px; font-size: 15px; margin-bottom: 20px;
    text-transform: uppercase; text-align: center;}

@media (max-width:768px) {
  .page-bookmystylist .form-group{margin-top: 10px; margin-bottom: 20px;}
}

/* /.page-bookmystylist*/
/* /.page-scbox-form*/
.page-scbox-form{text-align: center;}
.page-scbox-form .title-section{margin-bottom: 50px;}
.page-scbox-form .pa-que {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    padding: 30px 0;
}
.page-scbox-form .pa-que span {
    border-bottom: 1px solid #13D792;
    display: inline-block;
    padding-bottom: 5px;
}

.page-scbox-form .form-group{margin: 10px 0 20px; font-size: 16px;}
.page-scbox-form .form-group .message.text-error, .page-scbox-form .form-group label.error{text-align: left; font-size: 85%; text-transform: none;}
.page-scbox-form .form-group-experiment .sc-checkbox{width: 100px;}
.page-scbox-form .form-group-experiment .experiment-options{display: block; margin-top: 15px;}
.page-scbox-form #gender-error label.error{text-align: center;}

.page-scbox-form .btns-wrp{margin-top: 20px; text-align: center;}

.page-scbox-form .box-title {font-weight: bold; letter-spacing: 1.1px; font-size: 15px; margin-bottom: 20px;
    text-transform: uppercase; text-align: center; margin-top: 40px;}
.page-scbox-form .gender-wrp-outer{text-align: center; padding: 0; margin-bottom: 40px; position: relative;}
.page-scbox-form .gender-wrp-outer #gender-error{position: absolute; bottom:0px; font-size: 13px; width:100%; text-align: center; margin: 0; padding: 0;}

.page-scbox-form .gender-wrp{text-align: center; padding: 0; margin-bottom: 20px;}
.page-scbox-form .gender-wrp li{display: inline-block; width:80px; color: #4A4A4A; cursor: pointer;}
.page-scbox-form .gender-wrp li:hover, .page-scbox-form .gender-wrp li.active{color: #13D792;}
.page-scbox-form .gender-wrp li.active{cursor: default;}
.page-scbox-form .gender-wrp li .text-label{display: inline-block;}
.page-scbox-form .gender-wrp .fa{font-size: 28px;}
.page-scbox-form .gender-wrp .ic-gender{margin:0 10px 5px; display: block; line-height: 1; font-size: 26px;}
.page-scbox-form .gender-wrp .ic-gender .text-label{display: inline-block;font-weight: bold;}

.page-scbox-form textarea{height:70px;}
.page-scbox-form .list-occassion li{display: inline-block;width: 160px; text-transform: uppercase;}
.page-scbox-form .list-skin-tone li, .page-scbox-form .list-colors li, .page-scbox-form .list-prints li{display: inline-block; width:140px;  margin: 10px 4px; cursor: pointer;}
.page-scbox-form .list-skin-tone li:hover, .page-scbox-form .list-colors li:hover, .page-scbox-form .list-prints li:hover{opacity: 0.85}
.page-scbox-form .list-skin-tone111 li.active, .page-scbox-form .list-colors li.active, .page-scbox-form .list-prints li.active{outline: 2px solid #13D792; cursor: default;}

.page-scbox-form .list-skin-tone li .pallet, .page-scbox-form .list-colors li .pallet, .page-scbox-form .list-prints li .pallet{height: 140px; background: #eee;
margin-bottom: 10px;}
.page-scbox-form .list-skin-tone li .pallet{margin-bottom: 0; border:1px solid; box-shadow: 0 0 5px #c6c4c4; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.page-scbox-form .list-skin-tone li.active .pallet{border:1px solid #13d792 !important; }
.page-scbox-form .list-occassion li.custom input{display: inline-block; width: 120px; font-size: 12px; border-radius: 0;}

.page-scbox-form  .sc-checkbox .icon-diamond{top:7px; position: relative; margin-right: 4px;}

.page-scbox-form  .product-item{margin-bottom: 50px;}

.page-scbox-form  .item-col {
    transition: all .5;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .5s;
    outline: 1px solid transparent;
    cursor: pointer;
    z-index: 1;
}

.page-scbox-form .item.quiz .img-wrp{margin-bottom: 20px; overflow: hidden;}
.page-scbox-form .item.quiz .title{font-weight: bold; padding: 5px 0px; color: #000;}
.page-scbox-form .item.quiz .desc{line-height: 1.5;  overflow: hidden; color: #000; font-size: 12px;}
.page-scbox-form .pa-que{font-weight: 700; text-transform: uppercase; letter-spacing: 2px; color: #000;}

.page-scbox-form .item-col:hover{outline:0px solid #13D792; outline:none; box-shadow: inset 0 0 3px #13d792;}
.page-scbox-form .item-col.active{cursor:default;outline:0px solid #13D792; outline:none; box-shadow: inset 0 0 3px #13d792;}

.page-scbox-form .box-body-shape .item-col:hover{outline:0px solid #13D792; outline:none; box-shadow: inset 0 0 3px #13d792;}
.page-scbox-form .box-body-shape .item-col.active{cursor:default; outline:0px solid #13D792; outline:none; box-shadow: inset 0 0 3px #13d792; opacity: 0.99;}
.page-scbox-form .box-body-shape .item-col.deactive{ opacity: 0.4;}

.page-scbox-form .box-body-shape .item.quiz .desc{ height:100px;  max-height: 100px;}
.page-scbox-form .box-body-shape .item.quiz .img-wrp{height: 190px;}
.page-scbox-form .box-body-shape.male .item.quiz .img-wrp{height: 142px;}
.page-scbox-form .box-body-shape.male  .item.quiz .desc{/* height:60px;  max-height: 60px;*/ height:70px;  max-height: 70px;}

.page-scbox-form .box-style .item-col:hover{outline:1px solid #13D792; background: #fefefe; }
.page-scbox-form .box-style .item-col.active{cursor: default; opacity: 0.95;}
.page-scbox-form .box-style.passive .item-col:hover{cursor: default;}
.page-scbox-form .pa-slide-box.style .item.quiz .title{color: #13D792; text-transform: uppercase; text-align: left;}
.page-scbox-form .pa-slide-box.style .item.quiz .desc{text-align: left; font-size: 90%;}

.page-scbox-form .box-style-selected{ width: auto; margin: 30px auto 0; }
.page-scbox-form .box-style-selected li{ display:inline-block; width:120px; height: 120px; border: 1px dashed #AEADAD; margin: 2px; position: relative; vertical-align: middle;}

.page-scbox-form .box-style-selected li.pref{
display: inline-block;
width:140px; height: 140px;
background: white;
border: 1px dashed #AEADAD;
line-height:1;
text-align: center;
vertical-align: middle;
margin: 2px;
color: rgb(51, 51, 51);
font-size: 30px;
position: relative;
overflow: hidden;
}
.page-scbox-form .box-style-selected li img{width: auto; max-width: 100%; height: auto; max-height: 138px;
 }
.page-scbox-form .box-style-selected li.pref .text{font-size: 14px; text-transform: uppercase; font-weight: 600; color: #000; display: inline-block; line-height: 1.5;margin-top: 40px;}

.page-scbox-form .box-style-selected li.pref .active-content{display:none; }
.page-scbox-form .box-style-selected li.pref.active .active-content{display: inline;}
.page-scbox-form .box-style-selected li.pref .close {position: absolute;top: 10px;left: 10px; display:none; font-size: 10px; opacity:1;}
.page-scbox-form .box-style-selected li.pref .close:hover{ opacity:0.8;}
.box-style-selected .pref .shape-diamond { display:none; }

.page-scbox-form  .item-col.active .close{ display:block; }
.page-scbox-form  .item-col:hover, .page-scbox-form  .item-col.active { cursor:default; outline: 1px solid #13d792;}

.page-scbox-form .box-style-selected .shape-diamond{position: absolute; top:10px; right:10px; z-index: 2; color: #fff;}
.page-scbox-form .box-style-selected .shape-diamond, .page-scbox-form .box-style-selected .shape-diamond::before{width: 20px; height: 20px; line-height: 20px; font-size: 11px;}
.page-scbox-form .box-style-selected .shape-diamond::before{ background: #13D792; border-color:#13D792;}



@media (max-width:768px) {
  .page-scbox-form .pa-que{padding: 10px 0;}
  .page-scbox-form .box-style-selected li.pref{width:85px; height: 85px;}
  .page-scbox-form .box-style-selected li.pref{width:85px; height:85px;}
  .page-scbox-form .box-style-selected li img{max-height: 85px;}
  .page-scbox-form .box-style-selected li.pref .text{font-size: 10px; margin-top: 25px;}

  .page-scbox-form .box-style-selected .shape-diamond{right:4px;}
  .page-scbox-form .box-style .item-col:hover{outline: none;}

  .page-scbox-form .form-group{margin-top: 10px; margin-bottom: 20px;}
  .page-scbox-form .form-group-experiment .experiment-options{display: block; margin-top: 15px; margin-left: 0;}
  .page-scbox-form .list-skin-tone li{width: 50px; margin: 0px 4px 8px;}
.page-scbox-form .btns-wrp{margin-top: 0;}
  .page-scbox-form .product-item .item-sizes-wrp .btn-size{margin-bottom: 0;}
  .page-scbox-form .list-colors li, .page-scbox-form .list-prints li{width: 80px; text-align: center; margin: 5px 4px;}
  .page-scbox-form .list-skin-tone li .pallet, .page-scbox-form .list-colors li .pallet, .page-scbox-form .list-prints li .pallet{width:50px; height: 50px; margin: 5px auto 5px;}
.page-scbox-form .list-skin-tone li .pallet{ margin: 0px;}
    .page-scbox-form .list-skin-tone li .title-3, .page-scbox-form .list-colors li .title-3, .page-scbox-form .list-prints li .title-3{font-size: 10px; margin-bottom: 0;}
    .page-scbox-form .list-colors li img, .page-scbox-form .list-prints li img{max-width: 100%; }
    .page-scbox-form .form-group .message.text-error, .page-scbox-form .form-group label.error{text-align: left; font-size: 10px;}
}
/* /.page-scbox-form*/

/* page login */
/*
.page-login-wrp{background:#000 url('../images/pa/login-bg.png') 0 0 no-repeat; background-size: cover;}
.login-box-wrp{background: rgba(255,255,255,0.90); margin: 40px;}
.page-login{text-align: center; }
.page-login .section{padding: 20px 0;}
.page-login .form-group { margin-top: 30px; margin-bottom: 50px; font-size: 16px;}
.box-login{ padding: 25px 50px 20px; font-weight: bold; text-transform: uppercase;}
.box-login .box-title{font-weight: 900; letter-spacing: 1.1px; font-size: 15px; margin-bottom: 15px;}
.box-login .form-control{text-align: center; font-size: 18px; font-weight: 600; text-transform: none; background: transparent;}
.box-login .link-forgot-pw{position: absolute;right: 0; bottom:-22px;color: #000; text-transform: none; font-size: 12px;}
.box-login .message{text-align: center; }

.box-login .hr-or{display: table; margin:40px auto 40px; width: 60%; font-size: 15px; font-weight: 900; text-align: center;}
.box-login .hr-or i{display: table-cell; width:auto; border-bottom1: 1px solid #13D792;}
.box-login .hr-or i::before{display: block; content: ""; border-bottom: 1px solid #13D792; position: relative; top: -3px; }
.box-login .hr-or span{display: table-cell; width:60px;}

.btn-facebook-wrp, .btn-google-wrp, .btn-email-wrp{margin: 0px 10px; font-size: 44px; text-decoration: none; transition: all 0.2s; cursor: pointer;}
.btn-facebook-wrp:hover, .btn-google-wrp:hover, .btn-email-wrp:hover{text-decoration: none;}

.btn-facebook-wrp .icon-facebook{ color: #3B5998;}
.btn-google-wrp{margin-right: 0;}
.btn-google-wrp .fa-google{ color: #E24033;}
.btn-email-wrp .icon-email{}
.btn-email-wrp img{vertical-align: initial; height: 42px; position: relative; top:2px;}
.btn-facebook-wrp .icon-facebook:hover, .btn-google-wrp .icon-google:hover, .btn-email-wrp:hover{text-decoration: none; opacity:0.9;}

.box-singn-signup-link{}
.box-singn-signup-link .box-title{font-weight: 900; letter-spacing: 1.1px; font-size: 15px; margin-bottom: 20px; text-transform: uppercase;}

@media (max-width:678px) {
  .btn-email-wrp img{height: 36px;}
}*/
/* page signup */

/* page login */
/*
.page-signup-wrp{ background:#000 url('../images/pa/login-bg.png') 0 0 no-repeat; background-size: cover;  min-height: 574px;}
.signup-box-wrp{background: rgba(255,255,255,0.95); margin: 40px;}
.page-signup{text-align: center; }
.page-signup .signup-options{margin-bottom: 70px;}
.page-signup .signup-by-email{display: none;}

.box-signup{ padding: 25px 0 0; font-weight: bold; text-transform: uppercase;}
.box-signup-inner{ padding: 10px 50px 20px;}
.box-signup .box-title{font-weight: 900; letter-spacing: 1.1px; font-size: 15px; margin-bottom: 15px;}
.page-signup .form-group { margin-top: 30px; margin-bottom: 50px; font-size: 16px;}
.box-signup .form-control{text-align: left;  text-transform: none;    background: transparent;}
.box-signup .form-group .message, .box-signup .form-group label.error{text-align: left;}
*/
/* modal forgot password*/
/*
.modal-forgot-password .box-forgot-pw{text-align: center; padding: 10px 50px 10px;}
.modal-forgot-password .form-group { margin-top: 30px; margin-bottom: 30px; font-size: 16px;}
.modal-forgot-password .form-control{text-align: center;  text-transform: none; background: transparent;}

.modal .title-section .title{font-size: 28px;}
*/
/* /. modal forgot password*/
/*
.page-signup{}
.page-signup .section{padding: 20px 0;}
.page-signup .form-group { margin-top: 30px; margin-bottom: 30px; font-size: 16px;}
.page-signup .title-section{margin-bottom: 30px;}
.box-signup .box-title{font-weight: 900; letter-spacing: 1.1px; font-size: 15px; margin-bottom: 20px; text-transform: uppercase; text-align: center;}
.page-signup .box-signup{margin-bottom111: 40px;}
.page-signup .gender-wrp{text-align: center; padding: 0; margin-bottom: 0;}
.page-signup .gender-wrp li{display: inline-block; width:80px; color: #4A4A4A; cursor: pointer;}
.page-signup .gender-wrp li:hover, .page-signup .gender-wrp li.active{color: #13D792;}
.page-signup .gender-wrp li.active{cursor: default;}
.page-signup .gender-wrp li .text-label{display: inline-block;}
.page-signup .gender-wrp .fa{font-size: 28px;}
.page-signup .gender-wrp .ic-gender{margin:0 10px 5px; display: block; line-height: 1; font-size: 26px;}
.page-signup .gender-wrp .ic-gender .text-label{display: inline-block;font-weight: bold;}

.page-signup .gender-wrp + .form-group .error{ text-align: center; top:-20px;}

@media (max-width:768px) {
	.login-box-wrp{margin: 10px;}
	.box-login{padding: 25px 30px 20px;}
	.page-login .form-group{margin-bottom: 30px;}

	.box-login .btns-wrp{margin-top: 40px;}

.modal-forgot-password .box-forgot-pw{padding: 0 0px 20px;}
	.page-signup-wrp{min-height: auto;}
	.signup-box-wrp{margin: 10px;}
	.box-signup-inner{ padding: 10px 30px 20px;}
}
*/
/* page pa */
/*
.page-pa{text-align: center;}
.page-pa .title-section{text-align: center; margin-bottom: 10px;}
.page-pa .title-section .title{}
.page-pa .box-pa{margin-bottom111: 10px; text-align: center;}
.page-pa .box-pa .box-title{font-weight: bold; letter-spacing: 1.1px; font-size: 15px; margin-bottom: 20px; text-transform: uppercase; text-align: center;}
.page-pa .box-pa .pa-que span{border-bottom: 1px solid #13D792; display: inline-block; padding-bottom:5px; }
.page-pa .box-pa p{line-height: 1.5;}
.page-pa .form-group{margin-bottom: 30px;}
.page-pa .input-control-mobile{font-size: 24px; line-height: 1; font-weight: 600; text-align: center; display: inline-block; width: auto; margin-top: 30px; padding:20px 10px; letter-spacing: 10px;}
.page-pa .input-control-mobile.error{border-bottom:1px solid #E92121;}
.page-pa .input-control-mobile.success{border-bottom:1px solid #7AEC08;}

.page-pa .mobile-verify-message{margin-bottom: 30px;}
.page-pa .mobile-verify-message .fa{font-size: 28px; margin-bottom: 10px;}
.page-pa .mobile-verify-message .text-success{color: #7AEC08}

.page-pa .pa-photo-wrp{position: relative; display: inline-block; }
.page-pa .pa-photo-wrp::before, .page-pa .pa-photo-wrp::after{content: ""; position: absolute; width: 100%; height: 3px;left:0; top:80px;  background111: rgba(105, 104, 104, 0.2); z-index: 2; border-top1: 1px solid #D6D6D6; box-shadow: 0 1px 3px rgba(105, 104, 104, 0.2)}
.page-pa .pa-photo-wrp::after{top:350px;}
.page-pa .pa-photo-wrp .file-upload {position: absolute; right:-18px; top:18px;  z-index: 2; cursor: pointer;}
.page-pa .pa-photo-wrp .file-upload:hover{opacity:0.95;}
.page-pa .pa-photo-wrp .file-upload img{width:36px;}

.page-pa .cropit-preview {
	background-color: #F7F7F7;
	background-size: cover;
	border: 1px solid #efeaea;
	width: 200px;
	height: 430px;
}
.page-pa .loading .cropit-preview {margin-bottom: 20px;}
.page-pa .default-img{width:auto; height: 428px; max-height: 428px;}

.page-pa .loading .cropit-preview-image-container {
	cursor: move;
}

.cropit-range-wrp{position: relative; text-align: center;}
.page-pa .pa-photo-wrp .cropit-image-zoom-input{display: inline-block; width:140px;}
.cropit-range-wrp .fa{position: absolute; color:rgba(000,000,000,0.25); font-size: 90%; cursor:default;}
.cropit-range-wrp .ic-less{left:0; top:3px; font-size:14px;}
.cropit-range-wrp .ic-more{left:auto; right:0;  font-size:18px;}

.page-pa .image-size-label {
	margin-top: 10px;
}
.page-pa .pa-photo-wrp .btns-wrp{display: none; margin-top: 20px;}
.page-pa .pa-photo-wrp .cropit-range-wrp{display: none;}
.page-pa .pa-photo-wrp.loading .cropit-range-wrp, .page-pa .pa-photo-wrp.loading .btns-wrp{display: block;}

.page-pa .title-big{font-size: 48px; line-height: 1.3;font-weight: 300; text-transform: uppercase;}
.page-pa .item.quiz{}
.page-pa .item-col{transition: all 0.5; padding-top: 10px; padding-bottom: 10px; transition: all 0.5s; outline:1px solid transparent; cursor:pointer; z-index: 1;}

.page-pa .item.quiz .img-wrp{margin-bottom: 20px; overflow: hidden;}
.page-pa .item.quiz .title{font-weight: 900; padding: 5px 0px; color: #000;}
.page-pa .item.quiz .desc{line-height: 1.5;  overflow: hidden; color: #000; font-size: 12px;}
.page-pa .pa-que{font-weight: 900; text-transform: uppercase; letter-spacing: 2px; color: #000;}
.page-pa .section-take-quiz .box-pa{min-height: 300px;}
.page-pa .box-body-shape .item-col:hover{ outline:1px solid #13D792;}
.page-pa .box-body-shape .item-col.active{cursor:default; outline:1px solid #13D792;}
.page-pa .box-body-shape .item.quiz .desc{ height:100px;  max-height: 100px;}
.page-pa .box-body-shape .item.quiz .img-wrp{height: 190px;}
.page-pa .box-body-shape.male .item.quiz .img-wrp{height: auto;}

.page-pa .box-style .item-col:hover{outline:1px solid #13D792; background: #fefefe; }
.page-pa .box-style .item-col.active{cursor: default; opacity: 0.95;}
.page-pa .box-style.passive .item-col:hover{cursor: default;}

.page-pa .pa-slide-box.style .item.quiz .title{color: #13D792; text-transform: uppercase; text-align: left;}
.page-pa .pa-slide-box.style .item.quiz .desc{text-align: left; font-size: 90%;}

.page-pa .box-style-selected{ width: auto; margin: 30px auto 0; }
.page-pa .box-style-selected li{ display:inline-block; width:120px; height: 120px; border: 1px dashed #AEADAD; margin: 2px; position: relative; vertical-align: middle;}

.page-pa .box-style-selected li.pref{
display: inline-block;
width:140px; height: 140px;
background: white;
border: 1px dashed #AEADAD;
line-height:1;
text-align: center;
vertical-align: middle;
margin: 2px;
color: rgb(51, 51, 51);
font-size: 30px;
position: relative;
overflow: hidden;
}
.page-pa .box-style-selected li img{width: auto; max-width: 100%; height: auto; max-height: 138px;
 }
 .page-pa .box-style-selected li.pref .text{font-size: 14px; text-transform: uppercase; font-weight: 600; color: #000; display: inline-block; line-height: 1.5;margin-top: 40px;}
 .page-pa .box-style-selected li.pref.active{ cursor111: move;}
.page-pa .box-style-selected li.pref .active-content{display:none; }
.page-pa .box-style-selected li.pref.active .active-content{display: inline;}


.page-pa .box-style-selected .shape-diamond{position: absolute; top:10px; right:10px; z-index: 2; color: #fff;}
.page-pa .box-style-selected .shape-diamond, .page-pa .box-style-selected .shape-diamond::before{width: 20px; height: 20px; line-height: 20px; font-size: 11px;}
.page-pa .box-style-selected .shape-diamond::before{ background: #13D792; border-color:#13D792;}

.page-pa .box-brands-list{padding: 20px 0; font-size: 0;}
.page-pa .box-brands-list.selected-brands{padding-bottom: 40px;}
.page-pa .box-brands-list.available-brands{border-top: 1px solid #13D792;}
.page-pa .box-brands-list.selected-brands .text{color: #9C9C9C; font-size: 14px;}
.page-pa .box-brands-list.selected-brands .text span{font-weight: 600;}
.page-pa .box-brands-list .tag{border: 1px solid #13D792; display: inline-block; font-size: 11px; color: #666666; padding: 5px 15px; position: relative; transition: all 0.2s; cursor: pointer; margin: 2px;}
.page-pa .box-brands-list .tag:hover{background: #13D792; color: #fff;}
.page-pa .box-brands-list .tag .fa{position: absolute; right: 2px; top: 1px; font-size: 90%; transition: all 0.2s; cursor: pointer;}
.page-pa .box-brands-list .tag .fa:hover{opacity:0.8;}
.page-pa .box-brands-list .tag.active{background: #13D792; color: #fff; cursor: default;}

.page-pa .box-style-selected li.pref .close {position: absolute;top: 10px;left: 10px; display:none; font-size: 10px; opacity:1;}
.page-pa .box-style-selected li.pref .close:hover{ opacity:0.8;}
.box-style-selected .pref .shape-diamond { display:none; }

.pa-slide-box.style .item-col.active .close{ display:block; }
.pa-slide-box.style .item-col.active { opacity:.4; cursor:default; }


@media (max-width:678px) {
	.page-pa .input-control-mobile{ width: 75%;}
  .page-pa .section-take-quiz .box-pa{min-height: inherit;}
	.page-pa .box-style-selected li.pref{width:85px; height:85px;}
	.page-pa .box-style-selected li img{max-height: 85px;}
	.page-pa .box-style-selected .shape-diamond{right:4px;}
  .page-pa .box-style .item-col:hover{outline: none;}
	.box-style .swiper-container.sm-slider .grid-col.swiper-slide{width:150px; padding: 10px;}
	.box-body-shape{padding: 0 5px;}

#slide5 .close{left:4px;}
.page-pa .box-style-selected li.pref .text{margin-top: 25px; font-size: 11px;}
}
*/
/* categories*/
/*
.category-filter-wrp .dropdown-menu{right:-4px; left: auto; width: 380px; padding: 0}
.box-filter{font-size: 14px; color:#333;}
.box-filter .title{font-size: 20px; font-weight: 700; line-height: 1.5; letter-spacing: 2px; color: #000; text-align: center; margin: 10px 0 20px; display: block;}
.box-filter.sortby {text-transform: uppercase; font-size: 13px; padding: 20px 30px 0;}
.box-filter.sortby ul{-webkit-column-count: 1; -moz-column-count: 1;  column-count: 1; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;  vertical-align:top}
.box-filter.sortby ul li{width1: 49%; display1: inline-block; margin: 2px 0 10px; vertical-align:top;}
.box-filter.filterby{padding: 20px;}
.box-filter .sc-checkbox{font-weight: 700; font-size: 14px; padding-left: 25px; }
.box-filter .sc-checkbox .icon-diamond{font-size: 20px; position: absolute; left:0; top:center; }
.box-filter .sc-checkbox.active .icon-diamond{color:#13D792;}
.box-filter .sc-checkbox span{ line-height: 1.3;}

.box-filter .nav-tabs{border: none; text-transform: uppercase; font-size: 13px; margin-bottom: 10px;}
.box-filter .nav>li>a{padding: 5px 8px; font-weight: 700;}
.box-filter .nav-tabs>li>a{border: none; }
.box-filter .nav-tabs>li.active>a, .box-filter .nav-tabs>li.active>a:focus, .box-filter .nav-tabs>li.active>a:hover{border: none; color:#13D792}
.box-filter .tab-content{ font-size: 13px; text-transform: uppercase;}
.box-filter .content-col ul{-webkit-column-count: 2; -moz-column-count: 2;  column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px; }
.box-filter .content-col ul li{padding: 5px 0; line-height: 1.3; position:relative; padding-left:18px; cursor:pointer; vertical-align:top;}
.box-filter .content-col ul li .ic{font-size:9px; color:#999; position:absolute; left:0; top:9px;}
.box-filter .content-col ul li.active .ic{color:#13D792}
.box-filter .content-col ul li:hover{opacity:8.5}
.box-filter .section-shadow{padding: 20px 0;}
.category-filter-wrp .btns-wrp{text-align: center; padding-bottom: 20px; }

.box-filter .content-price ul li{width: 49%; display: inline-block; margin: 2px 0 10px;}
.box-filter .content-size ul li{width: auto; display: inline-block; margin: 5px 10px 10px;}
/*
/*page-personal-styling*/
/*
.page-personal-styling .title-section{ margin-bottom: 0;}
.page-personal-styling .title-section .title{font-size: 48px; line-height: 1.3;  }
.page-personal-styling .title-section .title span{border-color: #13D792;}
.page-personal-styling .box-package .title{font-weight: 700; margin-bottom: 10px; }
.page-personal-styling .box-package .img-wrp{margin-bottom: 10px;}
.page-personal-styling .box-package .desc{margin-bottom: 10px;}
.page-personal-styling .box-package .btns-wrp{}
.page-personal-styling .section-packages .title-section, .page-personal-styling .section-testimonial
*/
/* /.page-personal-styling*/

.title-section{margin-bottom: 30px;}
.box-testimonial{margin: 20px 0 30px;}
.box-testimonial:last-child{margin-bottom: 0;}
.box-testimonial .title{font-weight: 700; font-size: 20px; text-transform: uppercase; color: #13D792; margin-bottom: 10px;}
.box-testimonial .name{font-weight: 700; font-size: 14px; text-transform: uppercase; }

@media (max-width:678px) {
.box-testimonial{margin: 0px 0 30px;}
.box-testimonial .img-wrp{margin-bottom: 10px;}


  .box-style .swiper-container.sm-slider .grid-col.swiper-slide{width:150px; padding: 10px;}
  .box-body-shape{padding: 0 5px;}

}

/*profile setting*/
/*
.page-profile .title-section .title{
font-size: 42px;
line-height: 1.3;
}
.page-profile .title-section .subtitle{
font-size: 22px;
line-height: 1.3;
}
.page-profile .edit-photo-wrp{position: relative;}
.page-profile .edit-photo-wrp img{width: 100%; max-width: 100%;}
.page-profile .edit-photo-wrp .scbtn-diamond{position: absolute; right: -10px; top:20px;}

.box-edit-profile{margin: 0 70px;}
.box-edit-profile .form-group{margin-bottom: 40px;}
.box-edit-profile .form-control{font-size: 18px; font-weight: 600; text-transform: none;}
.box-edit-profile .custom-select::before{font-size: 28px; color: #13D792;}

.box-edit-profile .gender-wrp{padding: 0; margin-bottom: 40px;}
.box-edit-profile .gender-wrp li{display: inline-block; width:60px; color: #E2E2E2; cursor: pointer; text-align: center; margin-right: 20px;}
.box-edit-profile .gender-wrp li:hover, .box-edit-profile .gender-wrp li.active{color: #13D792;}
.box-edit-profile .gender-wrp li.active{cursor: default;}
.box-edit-profile .gender-wrp li .text-label{display: inline-block;  font-weight: 600;
    font-size: 18px;}
.box-edit-profile .gender-wrp .fa{font-size: 28px;}
.box-edit-profile .gender-wrp .ic-gender{margin:0 10px 0; display: block; line-height: 1;}
.box-edit-profile .gender-wrp .ic-gender .text-label{display: inline-block;}

.style-setting .item{padding: 20px 20px 10px;}
.style-setting .heading{ font-size: 14px; font-weight: 600; line-height: 1.5; text-transform: uppercase; margin-bottom: 20px;  text-align: center;}
.style-setting .heading .fa{color:#13D792; font-size: 18px; margin-left: 5px;}
.style-setting .title{ font-size: 14px; font-weight: 600; line-height: 1.5; text-transform: uppercase; text-align: center;}
.style-setting .img-wrp{margin-bottom: 20px; text-align: center;}
.style-setting img{width: 100%; max-width:150px;}
.style-setting .box{position: relative; }
.style-setting .box .shape-diamond{position: absolute; right:10px; top:20px; z-index: 1; color: #fff;}
.style-setting .box .shape-diamond::before {
    background: #13D792;
    border-color: #13D792;
}
*/
.scbtns-wrp .scbtn, .btns-wrp .scbtn{margin: 0 10px 4px 0; vertical-align: top;}
.scbtns-wrp .scbtn:last-child, .btns-wrp .scbtn:last-child{margin-right: 0;}
/*
@media (max-width:768px) {
.page-profile .title-section .title{font-size: 34px;}
.page-profile .title-section .subtitle{margin-top: 20px;}
.page-profile .edit-photo-wrp{margin-bottom: 40px;}
.box-edit-profile{margin: 0;}
.style-setting .box{width:32%; display: inline-block;}
}
*/
/* /.profile setting/

/* page-about*/
/*
.page-about .about-tagline{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}
.page-about .about-tagline span{
  border-bottom: 1px solid #13D792;
  display: inline-block;
  padding-bottom: 5px;
}

.page-about .stylist-box .img-wrp{ margin-bottom: 15px;
}
.page-about .stylist-info-box .title {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;

}
.page-about .stylist-info-box .short-info {
}
.page-about .stylist-info-box .read-more a {
}
.page-about .founder-box {
  padding: 0;
}
.page-about .founder-box .img-wrp {
  text-align: right;
}
.page-about .founder-box.first .img-wrp {
  text-align: left;
}
.page-about .founder-box .img-wrp img {
  border-radius: 0;
}
.page-about .founder-box .title {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.page-about .founder-box .designation {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}
.page-about .founder-box .short-info {
  margin-bottom: 0px;
  line-height: 1.5;
  font-size: 14px;
}
.page-about .founder-box.first .col-md-7{
text-align111: right;
}
.page-about .founder-box .founder-box-inner{padding:10px 0px;}

@media (max-width:768px) {
  .page-about .stylist-box{margin-bottom: 30px;}
  .page-about .founder-box{margin-bottom: 30px;}

}
*/
/* /page-about*/

/* page-contact*/
/*
.page-contact .contact-box .title-2{margin-bottom: 30px;}
.page-contact .contact-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-contact .contact-info-list li {
  margin-bottom: 10px;
  padding-left: 20px; position: relative;
}
.page-contact .contact-info-list li .ic{position: absolute; left: 0; top:1px; }
*/

/* /page-contact*/
/*
.page-static .title-section{margin-bottom: 30px;}
*/
/*page brands*/
/*
.brands-listing{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3;  -webkit-column-gap: 30px;
    -moz-column-gap: 30px;  column-gap: 30px;  text-transform: uppercase; margin-top: 20px; padding: 0; margin: 0; list-style: none;}
.brands-listing li{line-height: 1.5; padding-bottom: 5px; margin: 0; }
.brands-listing .title{color: #13D792; font-weight: 900; padding: 10px 0;}
.brands-listing .title::after{display: block; content: ""; border-bottom: 1px solid #13D792; position: relative; left: 20px;
    top: -10px; width: 90%;}

@media (max-width:678px) {
.brands-listing{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; font-weight: 700;}
    }
    */
/* //.page brands*/
/*page collection*/
/*
.page-collection .collection-desc{margin-bottom: 20px;}
.page-collection .result-count{font-weight: 600;}
*/
/* //.page collection*/
/*
.grid.grid-items.recommended .item-desc-wrp .title{font-size: 14px; font-weight: 700;}
*/
