.swiper-container {
    width: 100%;
    height: 100%;
    z-index: inherit;
}

@media (max-width:768px) {
  .swiper-container.sm-slider{overflow: hidden;}
  .swiper-container.sm-slider .grid-col.swiper-slide{width:90%;}
}

.zoom-gallery-wrp {
    position: relative;
}
.zoom-gallery-wrp .gallery-top .swiper-button-next, .zoom-gallery-wrp .gallery-top .swiper-button-prev{opacity: 0; width:30px; height:60px; line-height: 60px; background: rgba(255, 255, 255, 1); color:#000;}
.zoom-gallery-wrp .gallery-top:hover .swiper-button-next, .zoom-gallery-wrp .gallery-top:hover .swiper-button-prev{opacity: 1;}
.swiper-button-next{right:-2px}
.swiper-button-prev{left:-1px;}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background-image: none;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image: none; }
.swiper-button-next, .swiper-button-prev{width: 40px; height: 40px; line-height: 40px; font-size: 28px; text-align: center; background: rgba(39, 39, 39, 0.4); color:#fff; z-index: 2;}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{display:none;}
.swiper-button-next:before { content: "\f105"; display: inline-block; font-family: FontAwesome; font-weight: 500;}
.swiper-button-prev:before { content: "\f104"; display: inline-block; font-family: FontAwesome; font-weight: 500;}
.swiper-pagination{visibility: none; z-index:5; }
.swiper-pagination-bullet{background: #3a3a3c; opacity:1;}
.swiper-pagination-bullet-active{background: #00b2a8; }

/*slick*/
/*
.slick-slide img{margin-left: auto; margin-right: auto;}
.slider-top.product{margin-bottom: 10px !important;}
.slider-top .slick-slide{text-align: center;}
.slider-top .slick-slide img{margin: auto; text-align: center;}
.slider-thumbs .slide{width:20%; border: 1px solid #f5f5f5; margin: 4px;}
.slider-thumbs .slide img{width: auto; max-width: 100%; height:auto; max-height: 80px;}
.slider-thumbs .slide.slick-current{ border: 1px solid #555; }
*/
/*elevate zoom*/
/*
.zoomContainer{ z-index: 1 !important;}
.zoomContainer .zoomWindow{border:4px solid #f1f1f1 !important; background-color: #fff;}
.zoom-gallery-wrp{position: relative;}
#zoom-place-holder{position:absolute; left:390px; top:0 !important; z-index: 1;}
.zoomWindowContainer div{border: 4px solid #eee !important;}
*/

/*//.*/

/* ----- bootstrap modal ----- */
/*
	.modal.fade .modal-dialog {
		opacity: 0;
		-webkit-transform: scale(0.1);
			-ms-transform: scale(0.1);
			 -o-transform: scale(0.1);
				transform: scale(0.1);
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
			 -o-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.modal.fade.in .modal-dialog {
		opacity: 1;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
			 -o-transform: scale(1);
				transform: scale(1);
		-webkit-transform: translate3d(0%, 0, 0);
			-ms-transform: translate3d(0%, 0, 0);
			 -o-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
	}

.modal-alert .modal-body{padding: 30px 15px;}
  .modal-alert .modal-footer{padding: 5px 15px;  box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.21);}
*/
/* DIALOG CONTENT */
	.modal-content {
	}

/* DIALOG HEADER */
	.modal-header {
	/*	min-height: 16px;
		padding: 24px;
		border-bottom: none;*/
	}

	.modal-title {
	/*	font-weight: 500;
		font-size: 21px;*/
	}

	/* DIALOG BODY */
	.modal-body {
	/*	padding: 0 24px;*/
	}

	.modal-body p {
	/*	font-weight: 400;
		font-size: 14px;
		color: #212121;*/
	}

	.modal-body .lead {
	/*	font-weight: 300;
		font-size: 16px;
		color: #757575;*/
	}

	.modal-body p:last-child,
	.modal-body .lead:last-child {
		/*margin-bottom: 0;*/
	}

/* DIALOG FOOTER */
	.modal-footer {
	/*	margin-top: 24px;
		padding: 8px 0;
		border-top: none;*/
	}

	.modal-footer .btn {
		/*height: 36px;
		margin-right: 8px;
		padding: 8px 10px;
		border: none;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: 500;
		color: #009688;
		background-color: #fff;*/
	}

	.modal-footer .btn:focus {
	/*	outline: none;
		box-shadow: none;*/
	}

	.modal-footer .btn:focus,
	.modal-footer .btn:hover {
	/*	color: #00796B;*/
	}

	.modal-footer .btn + .btn {
		/*margin-left: 0;*/
	}

	.modal-footer .btn + .btn:last-child {
	/*	margin-left: -4px;*/
	}
/* ----- //.bootstrap modal ----- */
