/******************************************
 buttons, forms elements, etc
 ******************************************/

/*scbtn - primary*/
.scbtn{display: inline-block; cursor: pointer; background: none; border: 0; padding: 0; outline: none; text-decoration: none;}
.scbtn:before, .scbtn:after{display: table-cell; background: #13D792; /*width:20px;*/ width:12px; content: "";   background: url('../images/btns/btn-green.svg') 0 0 /auto 100% no-repeat; ;}

.scbtn:after{right: 0; left:auto; background-position: right 0;}
.scbtn span{display: table-cell; background: #13D792; color:#fff;  padding: 0px 15px;  font-size:13px; line-height: 34px; height:34px; letter-spacing: 4px;text-transform: uppercase; font-weight: 900; text-align:center; text-decoration: none;}
.scbtn:hover{opacity:0.85;text-decoration: none; color:#fff;}
.scbtn:focus{text-decoration: none; outline: none;}

.scbtn.scbtn-sm span{ padding: 0px 10px; font-size: 12px; line-height: 26px; height:26px;}
.scbtn.scbtn-md span{ padding: 0px 12px; font-size: 13px;line-height: 34px; height:34px;}
.scbtn.scbtn-lg span{ padding: 0px 16px; font-size: 18px;line-height: 46px; height:46px;}
/*
@media (max-width:768px) {
  .scbtn span{font-size:10px; padding: 0px 5px; height:32px; line-height:32px;}
}
*/

/*secondary*/
.scbtn-secondary:before, .scbtn-secondary:after{display: table-cell; width:12px;  /*width:16px;*/ content: "";   background: url('../images/btns/btn-black-border.svg') 0 0 /auto 100% no-repeat; ;}

.scbtn-secondary:after {right: 0; left:auto; background-position: right 0;}
.scbtn-secondary span{display: table-cell; background: transparent; color:#000; /*padding: 8px 20px;*/ padding: 0px 15px; font-size:13px; /*line-height: 1.3;*/line-height: 34px; text-transform: uppercase; font-weight: 900; text-align:center; border-top: 1px solid #000;  border-bottom: 1px solid #000;}
.scbtn-secondary:hover{opacity:0.85;text-decoration: none; color:#555;}

/*white border*/
.scbtn-secondary.white:before, .scbtn-secondary.white:after{ background: url('../images/btns/btn-white-border.png') 0 0 /auto 100% no-repeat;}
.scbtn-secondary.white:after {background-position: right 0;}
.scbtn-secondary.white span{color:#fff; border-top: 1px solid #fff;  border-bottom: 1px solid #fff;}
.scbtn-secondary.white:hover{color:#f1f1f1;}

@media (max-width:768px) {
/*  .scbtn-secondary span{font-size:10px; padding: 0px 5px;}*/
.scbtn span{font-size:10px; padding: 0px 5px; height:32px; line-height:32px;}
}

/*tertiary*/
.scbtn-tertiary{
  /*-moz-transform: translateY(6px);
-webkit-transform: translateY(6px);
-o-transform: translateY(6px);
-ms-transform: translateY(6px);
transform: translateY(6px);*/
-moz-transform: translateY(0px);
-webkit-transform: translateY(0px);
-o-transform: translateY(0px);
-ms-transform: translateY(0px);
transform: translateY(0px);
}
.scbtn-tertiary:before, .scbtn-tertiary:after{display: table-cell;  width:16px; content: "";   background: url('../images/btns/btn-white.svg') 0 0 /auto 100% no-repeat;}

.scbtn-tertiary:after {right: 0; left:auto; background-position: right 0;}
.scbtn-tertiary span{display: table-cell;  background: url('../images/btns/btn-white-bg.png') 0px bottom repeat-x; color:#000; /*padding: 8px 20px 15px;*/padding: 0px 20px 7px; font-size:13px; /*line-height: 1.3;  height:40px;*/ line-height: 34px;  height:36px; text-transform: uppercase; font-weight: 900; text-align:center;  position: relative; }
.scbtn-tertiary:hover{opacity:0.85;text-decoration: none; color:#555;}

.scbtn.scbtn-tertiary.scbtn-sm span{ padding: 5px 10px 15px;  }
.scbtn.scbtn-tertiary.scbtn-md span{ padding: 6px 12px 15px; }

@media (max-width:768px) {
  .scbtn-tertiary{
    -moz-transform:  translateY(1px);
-webkit-transform:  translateY(1px);
-o-transform:  translateY(1px);
-ms-transform:  translateY(1px);
transform: translateY(1px);}
  .scbtn-tertiary span{font-size:10px; line-height: 15px; padding: 8px 5px 16px;}
  .scbtn.scbtn-tertiary.scbtn-sm span{ padding: 5px 10px 15px; }
  .scbtn.scbtn-tertiary.scbtn-md span{ padding: 6px 12px 15px;}
}

/* scbtn-info */
.scbtn-info{display: inline-block; cursor: pointer; background: none; border: 0; padding: 8px 15px;  outline: none; text-decoration: none;  line-height: 1.3; letter-spacing: 4px;text-transform: uppercase; font-weight: 700; text-align:center; color:#13d792;}
.scbtn-info:hover{opacity:0.85; text-decoration: none; }


/*********************/

/* scbtn-diamond */
.shape-diamond.scbtn-diamond{cursor: pointer; color:#fff; z-index: 1;}
.shape-diamond.scbtn-diamond:hover{ opacity: 0.95;  color:#000;}
.shape-diamond.scbtn-diamond::before{ background: #13D792;  border-color: #13D792;}
.shape-diamond.scbtn-diamond:hover::before{ background: #13D792;  border-color: #13D792;}


/*custom file upload*/
.file-upload { position: relative; overflow: hidden; }

.file-upload input.file-input {
  position: absolute; top: 0;  right: 0;  margin: 0;  padding: 0;  font-size: 20px; cursor: pointer; opacity: 0;  filter: alpha(opacity=0); }

  /* /.custom file upload*/

  .sc-checkbox{position: relative; cursor: pointer;}
  .sc-checkbox.active{cursor111: default;}

/*sc-checkbox*/
  .sc-checkbox input[type="checkbox"]{opacity: 0; position: absolute;}
  .sc-checkbox.active .icon-diamond::before {content: "\e9d5";}

/*sc-select*/
.custom-select{border-radius: 0; position: relative; display: block;}
.custom-select::before{ content: "\f107"; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; display: block; height: 34px; line-height: 34px; pointer-events: none;  position: absolute; right: 0; top: 0; width: 25px; text-align: center;}
.custom-select select{border-radius: 0; outline:none;  -webkit-appearance: none;  -moz-appearance: none; -appearance: none;}

  /* range*/
  input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: none;
      border-radius: 5px;
      box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
      background-color: #FFF;
      height: 8px;
      vertical-align: middle;
      width: 200px;
}
 input[type=range]::-webkit-slider-runnable-track {
     -webkit-appearance: none;
     appearance: none;
     border-radius: 5px;
     box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
     background-color: #FFF;
     height: 10px;
     vertical-align:middle;
     border:solid 1px rgba(0,0,0,0.25);
}
 input[type='range']::-webkit-slider-thumb {
     -webkit-appearance: none;
     border-radius: 10px;
     background-color: #FFF;
     box-shadow:inset 0px 1px 0px rgba(000,000,000,0.5);
     border: 1px solid #999;
     height: 20px;
     width: 7px;
     vertical-align:middle;
     margin-top: -6px;
}
 input[type='range']::-moz-range-track {
     -moz-appearance: none;
     border-radius: 5px;
     box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
     background-color: #FFF;
     height: 8px;
     border:solid 1px rgba(0,0,0,0.25);
     vertical-align:middle;
     margin:0;
    padding:0;
}
 input[type='range']::-moz-range-thumb {
     -moz-appearance: none;
     border-radius: 10px;
     background-color: #FFF;
     box-shadow:inset 0px 1px 0px rgba(000,000,000,0.5);
     border: 1px solid #999;
     height: 20px;
     width: 5px;
}
/* /.range*/

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
 {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.social-button{display: inline-block; text-decoration: none !important; font-weight: bold; margin-right: 10px; color: #fff !important; padding: 6px 8px; border-radius: 2px;}
.social-button:hover{opacity: 0.90;}
.social-button .fa{font-size: 140%; color: #fff !important; position: relative; top:1px;}
.social-button.facebook{background: #4267B2; }
.social-button.instagram{background: #EB2780;}

