/* grid items*/
.grid.grid-items .grid-col{margin-bottom: 20px;}
.grid.grid-items .fa-loader-item-wrp{top:-10px;}

.grid.grid-items .item { background: #fff; position:relative;
  -moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
 overflow: hidden; }

.grid.grid-items .item.shadow{box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);}
.grid.grid-items .item.shadow:hover{box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);}

.grid.grid-items .item-img-wrp{ text-align: center; overflow: hidden; background: #f5f5f5;}
.grid.grid-items .item-img-wrp img{ width: 100%; height: auto; max-width: 100%; max-height:100%;
  -moz-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
 transition: all 0.2s linear; }

.grid.grid-items .item-desc-wrp{padding: 10px 0 0; }
.grid.grid-items .item-desc-wrp div:last-child{margin-bottom: 0;}
.grid.grid-items .item-desc-wrp .title{ margin-bottom: 2px; font-weight: 700;  line-height: 1.5; letter-spacing: 2px; font-size: 14px; text-transform: uppercase;}
.grid.grid-items .item-desc-wrp .category{ margin-bottom: 2px; font-size: 13px;}
.grid.grid-items .item-desc-wrp .brand{ margin-bottom: 2px;}
.grid.grid-items .item-desc-wrp .date{ margin-bottom: 2px;  font-weight: 700;  font-size: 13px;}
.grid.grid-items .item-desc-wrp .price{ margin-bottom: 2px; font-weight: 700; font-size: 14px; letter-spacing: 2px; display: inline-block; color:#000;}
.grid.grid-items .item-desc-wrp .mrp{ margin-bottom: 2px; margin-right: 10px; font-weight: 600;  font-size: 14px; letter-spacing: 3px; text-decoration: line-through; display: inline-block; }
.grid.grid-items .item-desc-wrp .discount{ margin-bottom: 2px; font-weight: 600;  font-size: 15px;}

.grid.grid-items .item .ic-heart, .ic-heart.sc-heart{display: inline-block; position: absolute; top:10px; right:10px; color:#000; font-size: 24px; line-height: 1;}
.grid.grid-items .item .ic-heart:hover, .ic-heart.sc-heart:hover{color:#13D792; cursor: pointer;}
.grid.grid-items .item .ic-heart.active .icon-heart::before, .ic-heart.sc-heart.active .icon-heart::before, .ic-heart.sc-heart.active:hover .icon-heart::before {content: "\e972"; color:#13D792; }

/*
.grid.grid-items .item .ic-share{display: inline-block; position: absolute; top:10px; right:10px; color:#000; font-size: 24px; line-height: 1;}
.grid.grid-items .item .ic-share:hover{color:#13D792; cursor: pointer;}
.grid.grid-items .item .ic-share.active .icon-send::before{ color:#13D792; }*/

.grid.grid-items .item .item-media-wrp{ margin-top: 5px;}
.grid.grid-items .item .item-media-wrp .ic{display: inline-block; margin:0 20px 0 0; color:#13D792; font-size: 30px; cursor: pointer;}
.grid.grid-items .item .item-media-wrp .ic:hover{color:#13D792; opacity: 0.8}


/* item overlay*/
.item-wrp.overlay{display: table; width:100%;}
.item-wrp.overlay .item{ overflow: hidden;  position: relative; text-align: center; cursor: default; height: auto; display: table-cell; vertical-align: middle;}

.item-wrp.overlay > a .item{cursor: pointer;}
.item-wrp.overlay .item-img-wrp, .item-wrp.image-overlay .item-img-wrp{position: relative;}
.item-wrp.overlay .item-img-wrp::after, .item-wrp.image-overlay .item-img-wrp::after{display: block; content: ""; background:rgba(0, 0, 0, 0.15); width: 100%; height: 100%; position: absolute; left: 0; top: 0;}

.item-wrp.overlay .item img{ -moz-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear; }
.item-wrp.overlay .item .item-desc-wrp{ width: 100%; height:100%; position: absolute; overflow: hidden; top: 0; left: 0; opacity: 1; background: rgba(0, 0, 0, 0);
  -moz-transform: translateY(0px);
-webkit-transform: translateY(0px);
-o-transform: translateY(0px);
-ms-transform: translateY(0px);
 transform: translateY(0px); -moz-transition:  all 0.5s ease-in-out;
-webkit-transition:  all 0.5s ease-in-out;
-o-transition:  all 0.5s ease-in-out;
-ms-transition:  all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; padding: 0;}
.item-wrp.overlay .item .item-desc-wrp .inner{position: relative; top:50%;
  -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
 transform: translateY(-50%);}
.item-wrp.overlay .item .title{ color: #fff;  text-align: center; font-size: 18px; font-weight: 900; margin:0 0 0px; text-transform: uppercase; padding-left: 10px; padding-right: 10px;}
.item-wrp.overlay .item .desc{ color: #fff; text-align: center; font-size: 13px;  margin-bottom: 10px; padding-left: 10px; padding-right: 10px;}
.item-wrp.overlay .item .desc-2{ color: #fff; text-align: center; font-size: 11px;  margin-bottom: 10px; padding-left: 10px; padding-right: 10px; }
.item-wrp.overlay .item .btns-wrp{margin-bottom: 10px;}
.item-wrp.overlay .item:hover img{-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
 transform: scale(1.05); }
.item-wrp.overlay .item:hover .item-desc-wrp{ opacity: 1; background: rgba(0, 0, 0, 0.38); -moz-transform: translateY(0px);
-webkit-transform: translateY(0px);
-o-transform: translateY(0px);
-ms-transform: translateY(0px); transform: translateY(0px);}

/*overlay box-style-2*/
.item-wrp.overlay.overlay-style-2 .title{font-size: 10px; line-height:1.7; font-weight: 900; letter-spacing: 2px; background:rgba(19, 215, 146,0.80); display: inline-block; padding: 20px;}

.item-wrp.overlay .item .ic-heart, .item-wrp.overlay .ic-heart.sc-heart, .item-wrp.image-overlay .item .ic-heart{color:#fff;}
.item-wrp.overlay .item .ic-heart:hover, .item-wrp.overlay .item .ic-heart.sc-heart:hover, .item-wrp.image-overlay .item .ic-heart:hover{color:#13D792;}

/*overlay box-style-2*/

@media (max-width:768px) {
  .item-wrp.overlay .item .title{font-size: 14px;}
  .item-wrp.overlay .item .desc{font-size: 10px;}
  .grid.grid-items.categories .item-desc-wrp{padding: 10px 10px 5px;}
  .grid.grid-items .item .ic-heart{font-size: 18px;top:5px; right: 5px;}
}
/* /. item overlay*/

/* item mask*/
.item-wrp.mask{display: table;}
.item-wrp.mask .item{ overflow: hidden;  position: relative; text-align: center; cursor: default; height: auto; display: table-cell; vertical-align: middle;}
.item-wrp.mask .item img{-moz-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear; transition: all 0.2s linear; }
.item-wrp.mask .item .item-desc-wrp{ width: 100%; height:100%; position: absolute; overflow: hidden; top: 0; left: 0; opacity: 0;
  background: rgba(0, 0, 0, 0);
  -moz-transform: translateY(-400px);
  -webkit-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
   transform: translateY(-400px); -moz-transition:  all 0.5s ease-in-out;
-webkit-transition:  all 0.5s ease-in-out;
-o-transition:  all 0.5s ease-in-out;
-ms-transition:  all 0.5s ease-in-out;   transition: all 0.5s ease-in-out;}
  .item-wrp.mask .item .item-desc-wrp .inner{position: relative; top:50%;
    -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);}
.item-wrp.mask .item .title{ color: #fff; text-align: center; font-size: 18px; padding:5px 5px; margin: 0; text-transform: uppercase;}
.item-wrp.mask .item .desc{ color: #fff; text-align: center; font-size: 11px; padding: 10px; margin: 2px 0 0 0;}
.item-wrp.mask .item .desc-2{ color: #fff; text-align: center; font-size: 11px; padding: 2px 10px; margin: 0px 0 0 0; }

.item-wrp.mask .item:hover img{-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
 transform: scale(1.05); }
.item-wrp.mask .item:hover .item-desc-wrp{ opacity: 1; background: rgba(0, 0, 0, 0.38);
  -moz-transform: translateY(0px);
-webkit-transform: translateY(0px);
-o-transform: translateY(0px);
-ms-transform: translateY(0px);
transform: translateY(0px);}
/* /. item mask*/

/* image collections/events : img(450x300) */
.thumb-collection .item-img-wrp{ position: relative; padding-bottom: 65.93% ; /* ratio: height/width*100*/}
.thumb-collection .item-img-wrp img{ position: absolute; left:0; right:0; top:0; bottom:0;}

/* /.grid items- collections*/

/* grid items- products*/
.grid.grid-items.products .item{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;}
.grid.grid-items.products .item:hover{position: relative; -webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); transform: translateY(-3px);}

.grid.grid-items.products .item-img-wrp{ height: 287px;}
.grid.grid-items.products .item-img-wrp img{ width: auto; height: auto; max-width: 100%; max-height:287px; position: relative;
  -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
    transform: translateY(-50%); top: 50%;}
.grid.grid-items.products .item-desc-wrp{height: 126px; overflow: hidden;}
/*.grid.grid-items.products .item-desc-wrp > a{text-decoration: none;}*/
.grid.grid-items.products .item-desc-wrp .title{margin-bottom: 4px;  max-height:44px; overflow: hidden;}
.grid.grid-items.products .item:hover .item-desc-wrp .title a{color:#13dc97;}
.grid.grid-items.products .item:hover .item-desc-wrp .title{text-decoration: none; color:#13d792;}

.grid.grid-items.products .item-desc-wrp .category{margin-bottom: 4px; max-height: 18px; overflow: hidden;}
.grid.grid-items.products .item-desc-wrp .brand{margin-bottom: 8px;  max-height: 18px; overflow: hidden;}
.grid.grid-items.products .item-desc-wrp .date{}
.grid.grid-items.products .item-desc-wrp .item-price-wrp{margin-bottom: 4px; }
.grid.grid-items.products .item-desc-wrp .price{}

.grid.grid-items.products .item-desc-wrp .mrp{}
.grid.grid-items.products .item-desc-wrp .discount{}
.grid.grid-items.products .ic-share-wrp.dropdown .dropdown-menu{top: auto; bottom:10px;}
.grid.grid-items.products .ic-share-wrp.dropdown .dropdown-menu>li>a{padding-top: 6px; padding-bottom: 6px;}

@media (max-width:768px) {

  .grid.grid-items.products .item-img-wrp{ height: 206px;}
  .grid.grid-items.products .item-img-wrp img{ max-height:206px; }
}
/*  /.grid items- products*/

/* grid items- categories*/
.grid.grid-items.categories .grid-col{/*margin-bottom: 20px;*/ margin-bottom: 30px;}
.grid.grid-items.categories .item{ background-color: rgba(255,255,255,0.9); box-shadow: 0 5px 10px 0 rgba(0,0,0,0.32);
-webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;}
.grid.grid-items.categories .item:hover{position: relative; -webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); transform: translateY(-3px);}

.grid.grid-items.categories .item-img-wrp{ height: 254px; background: #f5f5f5;}
.grid.grid-items.categories .item-img-wrp img{ width: auto; height: auto; height: 254px; max-width: 100%; max-height:254px; position: relative;
   -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
 transform: translateY(-50%); top: 50%;}
.grid.grid-items.categories .item-desc-wrp{padding: 10px;height: 64px; display: table; width: 100%; overflow: hidden; }
.grid.grid-items.categories .item-desc-wrp .title{ text-align: center;  height:44px; display: table-cell;  vertical-align: middle; overflow: hidden; width: 100%; /*text-overflow: ellipsis; white-space: nowrap;*/}
.grid.grid-items.categories .item-desc-wrp .title a{color: #000;}
.grid.grid-items.categories .item:hover .item-desc-wrp .title a{color:#13dc97;}

@media (max-width:768px) {
  .grid.grid-items.categories .item-img-wrp{ height: 201px;}
  .grid.grid-items.categories .item-img-wrp img{ max-height:201px;}
  .grid.grid-items.categories .item-desc-wrp{height: 60px;}
  .grid.grid-items.categories .item-desc-wrp .title{ height:40px;}
}
/*  /.grid items- categories*/

/* grid items- events*/
.grid.grid-items.events .item-desc-wrp .title{  font-weight: 900; color:#000; margin-bottom: 5px;}
.grid.grid-items.events .item-desc-wrp .title a{color: #000;}
.grid.grid-items.events .item-desc-wrp .date{ margin-bottom: 5px; font-size: 14px; font-weight: 600;}
.grid.grid-items.events .item-desc-wrp .desc{margin-bottom: 10px;}
.grid.grid-items.events .item-btns-wrp .btn{margin-right: 20px;}
.grid.grid-items.events .item-btns-wrp .ic{font-size: 32px; cursor: pointer; color: #000; margin-left: 15px;}
.grid.grid-items.events .item-btns-wrp .dropdown-menu{ top:-46px;}
.grid.grid-items.events .item-btns-wrp .ic-heart:hover .icon-heart::before, .grid.grid-items.events .item-btns-wrp .ic-heart.active:hover .icon-heart::before{content: "\e972"; color:#13D792;}

@media (max-width:768px) {
  .grid.grid-items.events .item-btns-wrp .ic{font-size: 32px; margin-left: 10px;}
  .grid.grid-items.events .item-btns-wrp .dropdown-menu{z-index: 1001;}
}
/*  /.grid items- categories*/

/* grid items- blog*/
.grid.grid-items.blog .item-desc-wrp{height: 90px; overflow:hidden;}
.grid.grid-items.blog .item-desc-wrp .title{  font-weight: 900; color:#000; margin-bottom: 5px; max-height: 42px; overflow: hidden;}
.grid.grid-items.blog .item-desc-wrp .title a{color: #000;}
.grid.grid-items.blog .item-desc-wrp .desc{margin-bottom: 10px;  font-weight: 600;  overflow: hidden;
  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap; }
.grid.grid-items.blog .item-desc-wrp .category {position: absolute; top: 10px; left: 10px; padding: 2px 4px; color: #fff; font-weight: 900; font-size: 10px; letter-spacing: 3px; text-transform: uppercase; }
.grid.grid-items.blog .item-img-wrp{height:166px;}
.grid.grid-items.blog .item-img-wrp img{width: auto; height: auto; max-width: 100%; max-height:166px; }

@media (max-width:768px) {
.grid.grid-items.blog .item-img-wrp{height:inherit;}
.grid.grid-items.blog .item-img-wrp img{width: auto; height: auto; max-width: 100%; max-height: 100%; }
}
/*  /.grid items- blog*/

/*fa loader*/
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
-webkit-transform: rotate(359deg);
-o-transform: rotate(359deg);
-ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
-moz-transform: rotate(359deg);
-webkit-transform: rotate(359deg);
-o-transform: rotate(359deg);
-ms-transform: rotate(359deg);
  transform: rotate(359deg);
  }
}

.fa-spin-custom { -webkit-animation: spin 2000ms infinite linear;  animation: spin 2000ms infinite linear; }
.fa-spin-custom::before{  content:'\f110';}
.page-loader{text-align: center; display:none;}
.fa-loader-wrp { background: rgba(255,255,255,1);
    border-radius: 2px;  color:#000; font-size: 18px; left: 0; right:0; margin-left: auto; margin-right: auto;
    padding: 8px 30px; position: fixed;  text-align: center;  top: 50%; z-index: 1071; width:180px;
}
.fa-loader-wrp .fa-spin-custom{margin-right:10px;}

.fa-loader-item-wrp {position: relative; display:none; padding: 10px 0;}
.fa-loader-item {
    border-radius: 2px;
    color: #13D792;
    font-size: 18px;
    padding: 8px 30px;
    text-align: center;
    display: inline-block;
	left: 50%; position: absolute; top: 0px;
  -moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-o-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}
.fa-loader-inline-wrp {
    color: #00b19c;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    padding: 0px;
    margin: 0px 10px;
    display: none;
}

.btn-loader{/*text-indent: 500;*/}
.btn-loader .fa-spinner{ -webkit-animation: spin 2000ms infinite linear;  animation: spin 2000ms infinite linear;}

.page-overlay {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1070;
}
@media (max-width:768px) {
  .fa-loader-item-wrp{text-align: center;}
  .fa-loader-item-wrp .fa-loader-item{position: static;
    -moz-transform:  translateX(0%);
    -webkit-transform:  translateX(0%);
    -o-transform:  translateX(0%);
    -ms-transform:  translateX(0%);
    transform: translateX(0%);
  }
}

/* material design form field*/
.form-group-md{  position:relative; margin-bottom:10px; padding: 20px 0; text-align: left;}
.form-group-md input, .form-group-md textarea, .form-group-md select{
  padding:6px 0px 6px 0px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #13D792;
  border-bottom:1px solid rgba(0,0,0,.12);
  color: #777;
}
.form-group-md input:focus, .form-group-md textarea:focus, .form-group-md select:focus{ outline:none; }
.form-group-md select{padding:8px 0 9px;}

.form-group-md input + label,
.form-group-md input.empty + label,
.form-group-md textarea + label,
.form-group-md textarea.empty + label,
.form-group-md select + label,
.form-group-md select.empty + label{
  color:#9C9C9C;
  font-size:14px;
  font-weight:500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  width: 100%;
  margin: 0;
  left:0px;
  bottom:20px;

  -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
 -o-transition: 0.2s ease all;
 -ms-transition: 0.2s ease all;
  transition:0.2s ease all;
  display: block;
}
.form-group-md input + label,
.form-group-md input.empty + label{  top:25px;}

.form-group-md select + label,
.form-group-md select.empty + label{  top:-4px;}

.form-group-md textarea + label,
.form-group-md textarea.empty + label{  top:30px; }

.form-group-md input:focus + label,
.form-group-md input.not-empty + label,
.form-group-md textarea:focus + label,
.form-group-md textarea.not-empty + label{
  top:-8px;
  font-size:12px;
  font-weight: 500;
  color:#13d792;
}

.form-group-md input + label:before, .form-group-md input + label:after,
.form-group-md textarea + label:before, .form-group-md textarea + label:after,
.form-group-md select + label:before, .form-group-md select + label:after
 	{
  content:'';
  height:2px;
  width:0px;
  position:absolute;
  background:#13D792;
  -moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
-o-transition: 0.2s ease all;
-ms-transition: 0.2s ease all;
  transition:0.2s ease all;

  display: block;
  bottom:0px;
  top:auto;
}
.form-group-md input + label:before,
.form-group-md textarea + label:before,
.form-group-md select + label:before {
  left:50%;
}
.form-group-md input + label:after,
.form-group-md textarea + label:after,
.form-group-md select + label:after {
  right:50%;
}
.form-group-md .star{font-size: 13px; color:#13d792;}

/* active state */
.form-group-md input:focus + label:before, .form-group-md input:focus + label:after ,
.form-group-md textarea:focus + label:before, .form-group-md textarea:focus + label:after,
.form-group-md select:focus + label:before, .form-group-md select:focus + label:after {
  width:50%;
}

/*error*/
.form-group-md input ~ label.error,
.form-group-md textarea ~ label.error,
.form-group-md select ~ label.error{
  color:#d50000;
  font-size:12px;
  font-weight:500;
  text-transform: none;
  position:absolute;
  pointer-events:none;
  width: 100%;
  margin: 0;
  left:0px;
  bottom:2px;

  -moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
-o-transition: 0.2s ease all;
-ms-transition: 0.2s ease all;
  transition:0.2s ease all;
  display: none;
}

.form-group-md input.invalid ~ label.error,
.form-group-md textarea.invalid ~ label.error,
.form-group-md select.invalid ~ label.error
{
    display: block;
}
.form-group-md input:invalid,
.form-group-md textarea:invalid
.form-group-md select:invalid {
    box-shadow: none !important;
}
.form-group-md input.invalid,
.form-group-md textarea.invalid
.form-group-md select.invalid {
    border-bottom:1px solid #d50000;
}

.form-group-md input + label, .form-group-md textarea + label{visibility: hidden;}



/* /.material design form field*/
