
@media (max-width:768px) {
  body{font-size: 12px;}
  .form-control{font-size: 13px;}
  .section-shadow { box-shadow: inset 0px 11px 20px -6px rgba(0, 0, 0, 0.2);}

  .title-section .title{font-size: 26px; /*padding-right: 50px;*/line-height: 1.3;}
  .title-section .subtitle{font-size: 12px;}

  .title-section .link-view-all{font-size: 12px;}
  .grid.grid-items.events .item-desc-wrp .date{font-size: 12px;}

  .grid.grid-items.products .item-desc-wrp .category{font-size: 10px;}
  .grid.grid-items .item-desc-wrp .title{font-size: 10px;}
  .grid.grid-items.products .item-desc-wrp .brand{font-size: 10px;}
  .grid.grid-items .item-desc-wrp .price,   .grid.grid-items .item-desc-wrp .mrp,   .grid.grid-items .item-desc-wrp .mrp-price,   .grid.grid-items .item-desc-wrp .discount{font-size: 10px;}
  .grid.grid-items .item .item-media-wrp .ic{font-size: 22px;}
  .grid.grid-items.products .item-desc-wrp{height: 114px;}

  .page-login-wrp, .page-signup-wrp{background:#F4F3F1 url('../images/login/login-bg-mobile.jpg') center no-repeat; background-size: cover; min-height: inherit;;}

  .breadcrumb>li{font-size: 10px;}
  .breadcrumb>li+li:before{padding: 0 3px;}

.product-item .item-desc-wrp{margin-top: 10px;}
  .product-item .title{font-size: 12px;}
  .product-item .brand{font-size: 10px; }
  .product-item .price, .product-item .mrp-price, .product-item .discount{font-size: 10px;}
  .product-item .item-price-wrp{margin-bottom: 20px;}
  .product-item .subtitle{font-size: 12px;}

  /*cart*/
  .page-cart .cart-items-wrp .title{font-size: 10px;}
  .page-cart .cart-items-wrp .brand{font-size: 10px;}
  .page-cart .cart-items-wrp .item-size-qty-wrp{font-size: 10px;}
  .page-cart .cart-items-wrp .item-size-qty-wrp .size-wrp, .page-cart .cart-items-wrp .price,
  .page-cart .cart-items-wrp .mrp-price{font-size: 10px;}
  .page-cart .cart-items-wrp .message{font-size: 10px;}
  .page-cart .cart-items-wrp .return-policy{font-size: 10px;}
  .page-cart .cart-items-wrp .item-size-qty-wrp .qty-value{font-size: 10px;}

  .box-cart-summary .box-body > .title{font-size: 12px;}
  .box-cart-summary .inner{font-size: 10px;}
.box-cart-summary .inner li:last-child{font-size: 12px;}
.box-cart-summary .inner li:last-child .value{font-size: 12px;}
  /* //. cart*/
  .box-testimonial .title{font-size: 12px;}
  .box-testimonial .name{font-size: 10px;}
  .page-home-guest .section-media .title-section{margin-bottom: 10px;}

  /*login*/
  .box-login .form-control{font-size: 10px;}
  .box-login .link-forgot-pw{font-size: 9px; color: #9B9B9B; font-style: italic;}
  .box-login .hr-or{font-size: 10px;letter-spacing: 2px;color: #474747; margin: 20px auto;}
  .box-login .hr-or span{width: 26px;}

  .box-login .box-title{font-size: 10px;}
  .box-singn-signup-link .box-title{font-size: 10px;}
  .btn-facebook-wrp, .btn-google-wrp, .btn-email-wrp{font-size: 36px;}
  .form-group .message, .form-group label.error{font-size: 9px; margin-top: 5px;}

  /*signup*/
  .box-signup .box-title{font-size: 10px;}

  .page-pa .title-big{font-size: 36px; color: #4A4A4A;}
  .page-pa .item.quiz .title{font-size: 12px;}
  .page-pa .box-style-selected li.pref .text{margin-bottom: 10px;}
  .page-pa .box-style-selected .shape-diamond, .page-pa .box-style-selected .shape-diamond::before{font-size: 10px;}
  .page-pa .box-brands-list .tag, .page-pa .box-brands-list.selected-brands .text{font-size: 10px;}
  .page-pa .pa-que{font-size: 12px;}
  .page-pa .box-brands-list{text-align: left;}

  .grid.grid-items.events .item-btns-wrp .dropdown-menu{    right: 0px;
    left: auto;}

    /*checkout*/
    .box-cart-items .item-desc-wrp .title{font-size: 10px;}
    .box-cart-items .item-desc-wrp .price{font-size: 10px;}
    .panel-checkout .title{font-size: 10px; font-weight: 900;}
    .panel-checkout .form-control{font-size: 10px;}
    .panel-checkout .sub-title{font-size: 10px; font-weight: 900;}
    .panel-checkout .hr-or{font-size: 10px; letter-spacing: 2px; color: #474747;}
    .panel-checkout .box-signin-social{padding-top: 10px;}
    .box-cart-items .box-title{font-size: 10px;}

    /*filter*/
    .box-filter .title{font-size: 12px;}
    .box-filter .sc-checkbox{font-size: 10px;}
    .box-filter .nav-tabs{font-size: 10px;}
    .box-filter .tab-content{font-size: 10px;}

    .box-filter .sc-checkbox .icon-diamond{font-size: 20px;}
    .box-filter .sc-checkbox{padding-left: 28px;}
    .box-filter .sc-checkbox span {  line-height: 22px;}

    .scbtn-tertiary{-moz-transform: translateY(-3px);
-webkit-transform: translateY(-3px);
-o-transform: translateY(-3px);
-ms-transform: translateY(-3px); transform: translateY(-3px);}
    .scbtn-tertiary span{    height: 38px;}

    .page-scbox-form .product-item .item-sizes-wrp .btn-size{margin-bottom: 20px;}
    .page-scbox-form .item-col:hover{cursor:pointer;}
    .page-scbox-form .item-col.active{cursor:pointer;}


    .form-group-md input + label,
    .form-group-md input.empty + label,
    .form-group-md textarea + label,
    .form-group-md textarea.empty + label,
    .form-group-md select + label,
    .form-group-md select.empty + label{ font-size:10px;}

    .form-group-md input:focus + label, .form-group-md111 input:valid + label,
    .form-group-md input.not-empty + label,
    .form-group-md textarea:focus + label,
    .form-group-md textarea.not-empty + label{   font-size:9px;}

    .form-group-md input ~ label.error,
    .form-group-md textarea ~ label.error,
    .form-group-md select ~ label.error{  font-size:9px;}

    .form-group-md input:focus + label, .form-group-md111 input:valid + label, .form-group-md input.not-empty + label, .form-group-md textarea:focus + label, .form-group-md textarea.not-empty + label{top:0;}
	
	.swiper-button-prev.front.main{display: none;}

}
