@media (max-width:768px) {
  body{font-size: 10px;}
  .form-control{font-size: 10px;}
  .section-shadow { box-shadow: inset 0px 11px 20px -6px rgba(0, 0, 0, 0.2);}

  .title-section .title{font-size: 26px; /*padding-right: 50px;*/line-height: 1.3;}
  .title-section .subtitle{font-size: 12px;}

  .title-section .link-view-all{font-size: 12px;}
  .grid.grid-items.events .item-desc-wrp .date{font-size: 12px;}

  .grid.grid-items.products .item-desc-wrp .category{font-size: 10px;}
  .grid.grid-items .item-desc-wrp .title{font-size: 10px;}
  .grid.grid-items.products .item-desc-wrp .brand{font-size: 10px;}
  .grid.grid-items .item-desc-wrp .price,   .grid.grid-items .item-desc-wrp .mrp,   .grid.grid-items .item-desc-wrp .mrp-price,   .grid.grid-items .item-desc-wrp .discount{font-size: 10px;}
  .grid.grid-items .item .item-media-wrp .ic{font-size: 22px;}
  .grid.grid-items.products .item-desc-wrp{height: 114px;}

  .box-testimonial .title{font-size: 12px;}
  .box-testimonial .name{font-size: 10px;}

  .form-group .message, .form-group label.error{font-size: 9px; margin-top: 5px;}

    .scbtn-tertiary{-moz-transform: translateY(-3px);
-webkit-transform: translateY(-3px);
-o-transform: translateY(-3px);
-ms-transform: translateY(-3px); transform: translateY(-3px);}
    .scbtn-tertiary span{    height: 38px;}

    .form-group-md input + label,
    .form-group-md input.empty + label,
    .form-group-md textarea + label,
    .form-group-md textarea.empty + label,
    .form-group-md select + label,
    .form-group-md select.empty + label{ font-size:10px;}

    .form-group-md input:focus + label, .form-group-md111 input:valid + label,
    .form-group-md input.not-empty + label,
    .form-group-md textarea:focus + label,
    .form-group-md textarea.not-empty + label{   font-size:9px;}

    .form-group-md input ~ label.error,
    .form-group-md textarea ~ label.error,
    .form-group-md select ~ label.error{  font-size:9px;}

    .form-group-md input:focus + label, .form-group-md111 input:valid + label, .form-group-md input.not-empty + label, .form-group-md textarea:focus + label, .form-group-md textarea.not-empty + label{top:0;}

	.swiper-button-prev.front.main{display: none;}

}
