.swiper-container {
    width: 100%;
    height: 100%;
    z-index: inherit;
}

@media (max-width:768px) {
  .swiper-container.sm-slider{overflow: hidden;}
  .swiper-container.sm-slider .grid-col.swiper-slide{width:90%;}
}

.zoom-gallery-wrp {
    position: relative;
}
.zoom-gallery-wrp .gallery-top .swiper-button-next, .zoom-gallery-wrp .gallery-top .swiper-button-prev{opacity: 0; width:30px; height:60px; line-height: 60px; background: rgba(255, 255, 255, 1); color:#000;}
.zoom-gallery-wrp .gallery-top:hover .swiper-button-next, .zoom-gallery-wrp .gallery-top:hover .swiper-button-prev{opacity: 1;}
.swiper-button-next{right:-2px}
.swiper-button-prev{left:-1px;}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background-image: none;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image: none; }
.swiper-button-next, .swiper-button-prev{width: 40px; height: 40px; line-height: 40px; font-size: 28px; text-align: center; background: rgba(39, 39, 39, 0.3); color:#fff; z-index: 2;}
.swiper-button-next:hover, .swiper-button-prev:hover{color:#13d792;}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{display:none;}
.swiper-button-next:before { content: "\f105"; display: inline-block; font-family: FontAwesome; font-weight: 500;}
.swiper-button-prev:before { content: "\f104"; display: inline-block; font-family: FontAwesome; font-weight: 500;}
.swiper-pagination{visibility: none; z-index:2; }
.swiper-pagination-bullet{background: #3a3a3c; opacity:1;}
.swiper-pagination-bullet-active{background: #00b2a8; }

/*slick*/
.slick-slide img{margin-left: auto; margin-right: auto;}
.slider-top.product{margin-bottom: 10px !important;}
.slider-top .slick-slide{text-align: center;}
.slider-top .slick-slide img{ margin: auto; text-align: center;}
.slider-thumbs .slide{ width:57px; border: 1px solid #f5f5f5; margin: 4px; text-align: center; cursor: pointer;}
.slider-thumbs .slide img{width: auto; max-width: 100%; height:auto; max-height: 80px; position: relative;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);   top: 50%;}
.slider-thumbs .slide .item-img-inner{height: 80px; background: #f5f5f5;}
.slider-thumbs .slide.slick-current{ border: 1px solid transparent; position: relative; overflow: hidden;}
.slider-thumbs .slide.slick-current::after{width: 55px; height: 80px; content: ""; display: block; position: absolute; top: 0;
    left: 0;background-color: rgba(19,215,146,0.5); }

.slider-thumbs .slide:focus{outline: none;}
/*elevate zoom*/
.zoomContainer{ z-index: 1 !important;}
.zoomContainer + .zoomContainer{display: none;}
.zoomContainer .zoomWindow{border:4px solid #f1f1f1 !important; background-color: #fff;}
.zoom-gallery-wrp{position: relative;}
#zoom-place-holder{position:absolute; left:390px; top:0 !important; z-index: 1;}
.zoomWindowContainer div{border: 4px solid #eee !important;}


/*//.*/

/* ----- bootstrap modal ----- */
	.modal.fade .modal-dialog {
		opacity: 0;
		-webkit-transform: scale(0.1);
			-ms-transform: scale(0.1);
			 -o-transform: scale(0.1);
				transform: scale(0.1);
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
			 -o-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.modal.fade.in .modal-dialog {
		opacity: 1;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
			 -o-transform: scale(1);
				transform: scale(1);
		-webkit-transform: translate3d(0%, 0, 0);
			-ms-transform: translate3d(0%, 0, 0);
			 -o-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
	}

.modal-alert .modal-body{padding: 30px 15px; -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.17);
   -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.17); box-shadow: 0px 2px 5px rgba(0,0,0,0.17); text-align: center; }
.modal-alert .modal-footer{padding: 5px 5px; border-top: none; text-align: center; /* box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.21);*/}

/* ----- //.bootstrap modal ----- */
