/*page scbox new version 06062017*/
.page-sc-box .section-banner{background:#F4F3F8 url('https://www.mylittlebox.co.uk/images/home/smallslides/sliderhome8.jpg')  right center no-repeat;}
/*
.page-sc-box .section-banner .title-section  .title{font-weight:300; display: block; padding-bottom: 10px; margin-bottom: 10px; font-size: 24px; line-height: 1.5; text-transform:uppercase; }
*/
/* page scbox*/
.page-sc-box .section{padding: 60px 0 65px;}
.page-sc-box .title-section .title{font-size1: 34px;   }

.page-sc-box .section-banner .title-section{margin-bottom: 0;}
.page-sc-box .section-banner .title-section .title{font-size: 24px; margin-bottom111: 15px; line-height: 1.5;}
.page-sc-box .title-section .title span{border-bottom: 1px solid #13D792;  padding-bottom: 15px;}

.page-sc-box .subtitle{font-size: 15px; font-weight: 900;; margin: 0px 0 10px; text-transform: uppercase; letter-spacing: 2px;}
.page-sc-box .title-section .subtitle{margin: 15px 0 15px; padding-bottom: 15px; }




.page-sc-box .desc{margin-bottom: 20px;}
.page-sc-box .video-wrapper {
    margin-bottom: 14px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
/*
.page-sc-box .title-section.main{margin-bottom: 50px;}
.page-sc-box .title-section.main .title span{border-bottom: 1px solid #13D792; padding-bottom: 3px;}
*/
.page-sc-box .title-section{margin-bottom: 30px;}
.page-sc-box .section-curated .box-curated .desc{margin-bottom: 20px;}

.page-sc-box .section-works .box{text-align: center;}
.page-sc-box .section-works .box .subtitle{line-height: 1.5; margin-bottom: 20px; font-weight: 700; letter-spacing: normal;}
.page-sc-box .section-works .box .img-wrp{margin-bottom: 10px;}
.page-sc-box .section-works .box.step1 .title-section, .page-sc-box .section-works .box.step2 .title-section{ margin-top: 30px;}
.page-sc-box .section-works .box.step3 .title-section{ margin-top: 10px;}

.page-sc-box .section-works .box.step3{margin-bottom: 40px;}
.page-sc-box .section-own-box p{margin-bottom: 20px;}

.page-sc-box .section-packages .title-section .subtitle{font-weight: 700; font-size: 12px; border: none; padding-bottom: 0;}

.page-sc-box .box-package{text-align: center; margin-bottom: 20px; padding: 5px; cursor: pointer; -moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
-ms-transition: all 0.2s; transition: all 0.2s;}
.page-sc-box .box-package:hover{outline:1px solid #13D792; }
.page-sc-box .box-package.active{outline:1px solid #13D792; cursor: default; opacity:0.99;}
.page-sc-box .box-package.deactive{ opacity:0.55}

.page-sc-box .box-package .img-wrp{ position: relative; margin-bottom: 20px;}
.page-sc-box .box-package .img-wrp img{width:auto; max-width: 100%; height:auto; }
.page-sc-box .box-package .title{font-size: 12px; font-weight: 700; margin-bottom: 10px; color: #000;}
.page-sc-box .box-package .price{font-size: 14px; font-weight: 700; margin-bottom: 10px; color: #000;}
.page-sc-box .box-package .desc{min-height: 80px;}
.page-sc-box .section-packages .btns-wrp{text-align: center;}
.page-scbox-form .sc-checkbox .icon-diamond{font-size: 26px;}
.page-scbox-form .sc-checkbox.active .icon-diamond{color: #13D792;}

@media (max-width:768px) {
  .page-sc-box .title-section.main{margin-bottom: 10px;}
  .page-sc-box .title-section .title { font-size: 22px; line-height: 1.3; margin-top: 10px;  }
  .page-sc-box .title-section .subtitle {padding-bottom: 5px; line-height: 1.3;}
  .page-sc-box .section-works .box.step1 .title-section, .page-sc-box .section-works .box.step2 .title-section{margin-top: 10px;}
  .page-sc-box  .img-wrp, .page-sc-box  .img-wrp.text-right{text-align: center;}
  .page-sc-box .btns-wrp{text-align: center;}
  .page-sc-box .section-works .box{margin-bottom: 0;}
  .page-sc-box .box-package{margin-bottom: 30px;}
  .page-sc-box .box-package .desc{min-height: 74px;}
  .page-sc-box .box-package .img-wrp{}
  .page-sc-box .box-package .img-wrp img{}
  .page-sc-box .section{padding: 15px 0 15px;}
}

/* /. page scbox*/


/*
.site-yesbank .packages-wrp .box {
  text-align: center;
}

.site-yesbank .packages-wrp .box .title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 30px;
}
.site-yesbank .packages-wrp .box .title span {
  padding-bottom: 3px;
  border-bottom: 1px solid #13d792;
}
.site-yesbank .packages-wrp .box .desc {
  margin-bottom: 20px;
  font-size: 120%;
}

.site-yesbank .packages-wrp .box .price {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.site-yesbank .packages-wrp .box .offer {
  font-weight: 700;
    font-size: 14px;
    min-height: 80px;
}

.site-yesbank .section-intro .desc{
  font-size: 130%;
}

.site-yesbank .text-block {
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
}

/*page*/
.page-yesbank .packages-wrp {
  background: #F4F3F1 url(../images/yesbank/bg.jpg) center -370px no-repeat;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 30px;
}
.page-yesbank .packages-wrp .box {  background: #fff; padding: 10px;}
.page-yesbank .packages-wrp .box .desc {
  font-size: 110%;
  min-height: 96px;
}


@media (max-width:768px) {
.site-yesbank .packages-wrp { padding-top: 30px; background-position: center 0; }
.site-yesbank .packages-wrp .box { margin-bottom: 20px;}
.site-yesbank .packages-wrp .box .title {font-size: 12px;}
.site-yesbank .packages-wrp .box .desc{min-height: initial; font-size: 10px;}
.site-yesbank .packages-wrp .box .offer {min-height: inherit; font-size: 11px;}
.site-yesbank .packages-wrp .box .price {font-size: 12px;}
.site-yesbank .section-intro .desc{font-size: 10px;}
.site-yesbank .section-intro .img-wrp{margin-bottom: 20px;}

}
