/* sccredit */
.page-sccredit .sccredit .text-1{font-size: 28px; font-weight: 700;}
.page-sccredit .sccredit .text-2{font-size: 15px; font-weight: 700;}
.page-sccredit .table-sccredit{border-top: 2px solid #00b19c; width:100%; margin-bottom: 30px;}
.page-sccredit .table-sccredit td{border-bottom: 1px solid #00b19c; padding:15px 5px; font-size: 16px; font-weight: 500;}

/* //sccredit*/

.sccolor{color:#13D792;}
/*.valign-wrp{position: relative;}
.valign-middle{position: relative; top: 50%;  -moz-transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);}*/