.site-yesbank .packages-wrp .box {
  text-align: center;
}

.site-yesbank .packages-wrp .box .title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 30px;
}
.site-yesbank .packages-wrp .box .title span {
  padding-bottom: 3px;
  border-bottom: 1px solid #13d792;
}
.site-yesbank .packages-wrp .box .desc {
  margin-bottom: 20px;
  font-size: 120%;
}

.site-yesbank .packages-wrp .box .price {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.site-yesbank .packages-wrp .box .offer {
  font-weight: 700;
    font-size: 14px;
    min-height: 80px;
}

.site-yesbank .section-intro .desc{
  font-size: 130%;
}

.site-yesbank .text-block {
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
}

/*page*/
.page-yesbank .packages-wrp {
    background: #F4F3F1 url(../images/yesbank/bg.jpg) center 0px no-repeat;
/*  background: #F4F3F1 url(../images/yesbank/bg.jpg) center -370px no-repeat;*/
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 30px;
}
.page-yesbank .packages-wrp .box {  background: #fff; padding: 10px;}
.page-yesbank .packages-wrp .box .desc {
  font-size: 110%;
  min-height: 96px;
}


@media (max-width:768px) {
.site-yesbank .packages-wrp { padding-top: 30px; background-position: center 0; }
.site-yesbank .packages-wrp .box { margin-bottom: 20px;}
.site-yesbank .packages-wrp .box .title {font-size: 12px;}
.site-yesbank .packages-wrp .box .desc{min-height: initial; font-size: 10px;}
.site-yesbank .packages-wrp .box .offer {min-height: inherit; font-size: 11px;}
.site-yesbank .packages-wrp .box .price {font-size: 12px;}
.site-yesbank .section-intro .desc{font-size: 10px;}
.site-yesbank .section-intro .img-wrp{margin-bottom: 20px;}

}
