/*
* Custom CSS
*/
/***************************************************************************
1.0 Common CSS
2.0 Header & footer
****************************************************************************/


/***************************************************************************
* 1.1 Reset CSS
****************************************************************************/

html{
  height: 100%;
}
 body {
	font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 13px;
  height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
}

a{color: #333;}
a:visited{color: #333;}
a:hover{color: #333;}
a:focus{outline: none;}
a:focus, a:hover{text-decoration: underline; color:#111;}
ul{list-style: none; padding: 0}
.wrapper { min-height: 100%;}
.container { width: 100%; max-width: 940px;}

::-webkit-input-placeholder {  color: #9C9C9C; font-weight: 600; text-transform: uppercase;}
::-moz-placeholder { color: #9C9C9C;  font-weight: 600; text-transform: uppercase;}
:-ms-input-placeholder { color: #9C9C9C; font-weight: 600; text-transform: uppercase;}
:-moz-placeholder { color: #9C9C9C; font-weight: 600; text-transform: uppercase;}


.img-wrp img{width: auto; max-width: 100%;}
.text-bold{font-weight: bold;}
.text-semibold{font-weight: 600;}
.text-danger{color: #E03232}
.text-success{color:#13D792;}
.sc-color{color:#13D792; }
.bg-sccolor{background-color:#13D792; }
.state-disabled{ cursor: default !important; opacity: 0.84; }

.position-static{position: static;}
.box-message{padding: 20px 0; text-align: center; margin-bottom: 20px;}
.box-message.success{color:#13D792; }
.box-message.error{color:#E03232; }

.facebook .fa{color: #4460A0;}
.twitter .fa{color: #00AAEC;}
.instagram .fa{color: #EB2780;}
.pinterest .fa{color: #CC2127;}
.snapchat .fa{color: #FFFC00;}

.message.success{color:#13D792; }
.message.error{color:#E03232; }

.form-control{border-radius: 0; border: none; border-bottom: 1px solid #13D792; padding-left:0px; padding-right: 0;  box-shadow: none; height: auto; color: #333; font-weight: 300;}
.form-control:focus{box-shadow: none; border-bottom: 1px solid #15c184;}
.form-group{position: relative; margin-bottom: 20px;}
.form-group .message, .form-group label.error{position: absolute; bottom:-20px; font-size: 95%; width: 100%; display: block; margin: 0; font-weight: 300; text-transform: none; font-weight: 500; -webkit-transition: all 0.5s;  -moz-transition: all 0.5s;  transition: all 0.5s;}
.form-group .message.text-error, .form-group label.error{color: #d61b1b;}

@media (max-width:768px) {
	.form-group .message, .form-group label.error{ bottom: initial;}
	.home-patch { background-color:rgba(255,255,255, 0.6); }
}

[class^="icon-"]:before, [class*=" icon-"]:before { display: inline-block; text-decoration: none;}

/*modals*/
.modal-content{border-radius: 0; border:none;
	 -moz-box-shadow: 0 5px 10px -1px rgba(0,0,0,0.21);
	 -webkit-box-shadow: 0 5px 10px -1px rgba(0,0,0,0.21);
		box-shadow: 0 5px 10px -1px rgba(0,0,0,0.21);
	}
.modal button.close{font-size: 20px; color:#13D792; opacity: 1; position: relative; z-index:5;   right: 15px; top: 10px;}
.modal button.close:hover{color:#13D792;  opacity: 0.8;}
.modal-backdrop{background: #fff;}
.modal-backdrop.in { filter: alpha(opacity=90); opacity: .9;}
.modal { text-align: center; padding: 0!important;}

.modal:before { content: ''; display: inline-block; height: 100%; vertical-align: middle;  margin-right: -4px;}
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle;}
.modal-open { overflow: auto;}

@media (max-width:768px) {
	.modal button.close{right:0; top:0; font-size: 14px;}
}

.modal-sc .modal-header{border-bottom: none; text-align: center; padding: 20px; }
.modal-sc .modal-body{padding: 20px;}
.modal-sc .modal-title{font-size: 28px;font-weight: 200;  margin: 0;  text-transform: uppercase; line-height: 1;  color: #333; display: inline-block; }
.modal-sc .form-group > label{text-transform: uppercase;}
.modal-sc .form-group .form-control{border: 1px solid #ddd; padding-left: 6px; padding-right: 6px;
-webkit-transition: all 0.5; -moz-transition: all 0.5; transition: all 0.5;}
.modal-sc .form-group .form-control:focus{border: 1px solid #13d792;}
.modal-sc .modal-footer{border-top: none; padding: 20px;}
/* /. modals*/

/*tabs*/
.nav-tabs.sc-tabs{border: none; display: inline-block;}
.nav-tabs.sc-tabs>li>a{border: none; padding:4px  0px; margin: 10px 30px 10px 0; font-weight: 700; letter-spacing: 1px; text-transform: uppercase;}
.nav-tabs.sc-tabs>li:last-child>a{margin-right: 0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border: none; border-bottom:1px solid #13D792;}

/* /.tabs */

/********************************************************************
 // header
********************************************************************/

.header{padding: 20px 0 10px; padding: 20px 0 0;  z-index: 3; position: relative;  background: #fff; top: 0; width: 100%;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
.navbar-brand{padding: 10px 15px 10px 0;}
.navbar-toggle{float: left; display: none; padding: 5px; font-size: 24px; font-weight: normal; line-height: 1;}
.navbar-toggle .icon-menu{transition: all 0.5s;}
.open .navbar-toggle .icon-menu{color: #13d792;}
.open .navbar-toggle .icon-menu:before { content: "\e938";}
.nav > li{position: static;}
.sc-navbar-primary{font-size: 14px; font-weight: 600;  text-align: center; text-transform: uppercase; margin-top: 10px;}
.sc-navbar-primary .nav{display: inline-block; float: none;}

.sc-navbar-primary .nav > li{padding: 5px 10px;}

.sc-navbar-primary .nav > li > a {padding: 2px; font-weight: 700; border-bottom: 1px solid transparent;}
.sc-navbar-primary .nav > li >a:focus, .nav > li >a:hover{background: inherit; color: #13D792;  }
.sc-navbar-primary .nav > li >a:focus{ border-bottom:1px solid #13D792; }

.sc-navbar-secondary{font-size: 32px; margin-right: 10px;}
.header .sc-navbar-secondary .navbar-nav > li{padding: 10px 15px;}
.header .sc-navbar-secondary .navbar-nav > li > a{padding: 0; position: relative; display: inline-block;}
.header .sc-navbar-secondary .navbar-nav > li > a[aria-expanded="true"]{color:#13D792;}
.header .sc-navbar-secondary .navbar-nav > li .shape-diamond, .header .sc-navbar-secondary .navbar-nav > li .shape-diamond::before{width:20px; height:20px; font-size: 12px; line-height: 20px; }
.header .sc-navbar-secondary .navbar-nav > li .shape-diamond{ position: absolute; right:-10px; top:-10px; z-index: 2;}

.nav>li>a:focus, .nav>li>a:hover{background: none; outline: none;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background-color:inherit; border-color: inherit; color: #13D792;}

.dropdown-menu{ -moz-box-shadow: 0 19px 15px 0 rgba(0,0,0,0.21); -webkit-box-shadow: 0 19px 15px 0 rgba(0,0,0,0.21);box-shadow: 0 19px 15px 0 rgba(0,0,0,0.21); padding: 20px;  border: none; border-radius: 0; z-index: 5}

.sc-navbar-left-wrp .dropdown-menu{top:40px; width: 100%;}
.sc-navbar-left-wrp .dropdown-menu li{font-size: 14px; font-weight: 700; color: #333; letter-spacing: 2px; text-transform: uppercase; display: block;   vertical-align: top; margin-bottom: 10px;}
.sc-navbar-left-wrp .dropdown-menu li a{color: #333; text-decoration: none;}
.sc-navbar-left-wrp .dropdown-menu li a:hover{color:#13D792;}

.fixed.header { z-index: 101; position: fixed;  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2); -moz-transform: translate(0, -20px);
-webkit-transform: translate(0, -20px);
-o-transform: translate(0, -20px);
-ms-transform: translate(0, -20px);
 transform: translate(0, -20px);}


 .header .navbar-nav > li{padding-top: 6px; padding-bottom: 18px;}
 .header .navbar-nav > li.dropdown{position: relative;}
 .header .navbar-nav > li.dropdown .dropdown-menu{top:36px;}
 .fixed.header .navbar-nav > li{padding-bottom: 6px;}
 .header .navbar-nav > li.hover > a{ border-bottom: 1px solid #13D792;}
.scrollbar{ position: relative;}
@media (max-width:768px) {
.sm-static{position: static !important;}
.navbar-toggle{ display: inline-block;}
.sc-navbar-left-wrp .dropdown-menu{width: 100%; padding-top: 40px;}
.sc-navbar-left-wrp .dropdown-menu li{font-size: 12px; }
}

/********************************************************************
 // footer
********************************************************************/

.footer { position: relative; clear:both;}
.footer ul li{  font-size: 14px; font-weight: 700; line-height: 1.7;  text-transform: uppercase; margin-bottom: 10px;}
.footer .copyright{font-size: 11px;}



/********************************************************************
 // common
 ********************************************************************/
.section{padding: 30px 0 30px; }
.section-shadow{box-shadow: inset 0px 7px 20px 0px rgba(0, 0, 0, 0.2);}
.title-section{position: relative; margin-bottom: 10px;}
.title-section > .title{font-size: 48px;  font-weight: 200; margin: 0; text-transform: uppercase;  line-height:1; color:#333; display: inline-block;}
.title-section > .title span{border-bottom: 1px solid; padding-bottom: 10px; display: inline-block;}
.title-section .title-desc{line-height: 1.7; text-align: center;}
.title-section .link-view-all{position: absolute; color:#000; right:0px; bottom:5px; font-size: 22px; text-transform: lowercase; line-height: 1;}
.title-section .ic-filter, .title-section .ic-right{position: absolute; color:#000; right:0px; bottom:10px; }
.title-section .subtitle{font-size: 20px; font-weight: 700;  margin: 0; text-transform: uppercase;  line-height:1.5; color:#333; display: block;}
.title-section .subtitle span{border-bottom: 1px solid #13D792; display: inline-block; padding-bottom: 0px;}

.sub-title-section{position: relative;}
.sub-title-section .title{font-size: 18px; text-align: left; font-weight: 600; text-transform: uppercase; margin-bottom: 10px; line-height: 1; color:#161617;}
.sub-title-section .title span{ display: inline-block;}
.sub-title-section .link-view-all{position: absolute; color:#00b19c; right:0; top:-5px; font-size: 16px; }
.section-book-stylist .desc{font-size: 14px; font-weight: 600; line-height: 1.7;}
.title-2{font-weight: 700; font-size: 14px; color: #000; text-transform: uppercase; margin-bottom: 10px;}
.title-3{font-weight: 700; font-size: 12px; color: #000; text-transform: uppercase; margin-bottom: 10px;}

.md-only{display: block;}
.sm-only{display: none;}

@media (max-width:768px) {
.title-section .title{font-size: 26px;}
.header{padding: 5px 0;}
.header.fixed{transform: translate(0, -5px);}
.md-only{display: none;}
.sm-only{display: block;}

.section{padding: 15px 0 15px;}
.footer.section{padding: 10px 0 15px;}
.title-section .title{font-size: 22px;}
.title-section .link-view-all{position: static; margin-left: 5px; font-size: 13px;}
.footer .container-fluid{padding-right: 15px; padding-left: 15px;}

.page-scbox .section-banner{background:#F4F3F8 url('https://www.stylecracker.com/assets/images/scbox/m-box-banner.jpg')  right center no-repeat;}
}

@media (min-width:768px) {
	.page-scbox .section-banner{background:#F4F3F8 url('https://www.stylecracker.com/assets/images/scbox/box-banner.jpg')  right center no-repeat;}
}
/*/.*/

/********************************************************************
 // page: sc home
 ********************************************************************/
 /*.page-scbox .section-banner{background:#F4F3F8 url('http://www.thescbox.com/assets/images/scbox/box-banner.jpg')  right center no-repeat;}*/

 .page-scbox .section{padding: 60px 0 65px;}
 .page-scbox .title-section{margin-bottom: 30px;}
 .page-scbox .subtitle{font-size: 15px; font-weight: 900;; margin: 0px 0 10px; text-transform: uppercase; letter-spacing: 2px;}
 .page-scbox .title-section .subtitle{margin: 15px 0 15px; padding-bottom: 15px; }

 .page-scbox .section-banner .title-section{margin-bottom: 0;}
 .page-scbox .section-banner .title-section .title{font-size: 24px; line-height: 1.5;}
 .page-scbox .title-section .title span{border-bottom: 1px solid #13D792;  padding-bottom: 15px;}

 .page-scbox .btns-wrp{text-align: center;}
 .page-scbox .desc{margin-bottom: 20px;}
 .page-scbox .video-wrapper { margin-bottom: 14px; position: relative; padding-bottom: 56.25%; height: 0;
     overflow: hidden;}
   .page-scbox .video-wrp{margin-bottom: 40px;}

 .page-scbox .section-curated .box-curated .desc{margin-bottom: 20px;}
 .page-scbox .section-works .box, .page-scbox .section-commitment .box, .page-scbox .section-pricing .box{text-align: center;}
 .page-scbox .section-works .box .subtitle, .page-scbox .section-commitment .box .subtitle, .page-scbox .section-pricing .box .subtitle{line-height: 1.5; margin-bottom: 20px; font-weight: 700; letter-spacing: normal;}
 .page-scbox .section-works .box .img-wrp, .page-scbox .section-commitment .box .img-wrp, .page-scbox .section-pricing .box .img-wrp{margin-bottom: 10px;}
 .page-scbox .section-commitment .box .subtitle{min-height: 44px;}

 .page-scbox .section-packages .title-section .subtitle{font-weight: 700; font-size: 12px; border: none; padding-bottom: 0;}
 .page-scbox .box-package{text-align: center; margin-bottom: 20px; padding: 5px; cursor: pointer; -moz-transition: all 0.2s;
 -webkit-transition: all 0.2s;
 -o-transition: all 0.2s;
 -ms-transition: all 0.2s; transition: all 0.2s;}
 .page-scbox .box-package:hover{outline:1px solid #13D792; }
 .page-scbox .box-package.active{outline:1px solid #13D792; cursor: default; opacity:0.99;}
 
 
.page-scbox .box-package:hover,  .page-scbox .box-package.active{
	-webkit-box-shadow: 0px 0px 0px 1px rgba(19,215,146,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(19,215,146,1);
	box-shadow: 0px 0px 0px 1px rgba(19,215,146,1);}

 
 
 .page-scbox .box-package.deactive{ opacity:0.55}

 .page-scbox .box-package .img-wrp{ position: relative; margin-bottom: 20px;}
 .page-scbox .box-package .img-wrp img{width:auto; max-width: 100%; height:auto; }
 .page-scbox .box-package .title{font-size: 12px; font-weight: 700; margin-bottom: 10px; color: #000;}
 .page-scbox .box-package .price{font-size: 14px; font-weight: 700; margin-bottom: 10px; color: #000;}
 .page-scbox .box-package .desc{min-height: 60px;}
 .page-scbox .section-packages .btns-wrp{text-align: center;}
 .page-scbox-form .sc-checkbox .icon-diamond{font-size: 26px;}
 .page-scbox-form .sc-checkbox.active .icon-diamond{color: #13D792;}

 @media (max-width:768px) {
   .page-scbox .title-section{margin-bottom: 10px;}
   .page-scbox .title-section.main{margin-bottom: 10px;}
   .page-scbox .title-section .title { font-size: 22px; line-height: 1.3; margin-top: 10px;  }

   .page-scbox .title-section .title span{padding-bottom: 5px;}
   .page-scbox .title-section .subtitle {padding-bottom: 5px; line-height: 1.3; margin: 5px 0 10px;}
   .page-scbox .subtitle{font-size: 12px;}
   .page-scbox .section-banner .title-section .title{font-size: 12px;}
   .page-scbox .img-wrp, .page-scbox  .img-wrp.text-right{text-align: center;}
   .page-scbox .btns-wrp{text-align: center;}

   .page-scbox .section-curated .box-video{margin-bottom: 20px;}
   .video-wrp iframe { max-width: 100%; max-height: 100%; height: auto;}
   .page-scbox .video-wrp{margin-bottom: 20px;}
   .page-scbox .section-works .box .subtitle, .page-scbox .section-commitment .box .subtitle, .page-scbox .section-pricing .box .subtitle{margin-bottom: 10px;}
   .page-scbox .section-commitment .box .subtitle{min-height: inherit;}
   .page-scbox .section-works .box{margin-bottom: 0;}
   .page-scbox .box-package{margin-bottom: 30px;}
   .page-scbox .box-package .desc{min-height: 74px;}
   .page-scbox .box-package .img-wrp{}
   .page-scbox .box-package .img-wrp img{}
   .page-scbox .section{padding: 15px 0 15px;}
   .page-scbox .section-testimonials .img-wrp{margin-bottom: 10px;}
 }

 /* /. page scbox*/
