.page-cart .row.custom, .page-checkout .row.custom{margin-left: -15px; margin-right: -15px;}
.page-cart .row.custom > div, .page-checkout .row.custom > div{padding-left: 15px; padding-right: 15px;}
.page-cart .title-section, .page-checkout .title-section{margin: 0px 0 30px;}
.page-cart .title-section .title, .page-checkout .title-section .title{margin-top: 0;}

.page-checkout .panel-wrp{margin-bottom: 30px;}
.page-checkout .panel-wrp .title{border-bottom:1px dotted #ccc;  margin-bottom: 10px; padding: 10px 0 2px; position: relative;}
.page-checkout .panel-wrp .title h3{font-size: 18px;  padding-bottom: 0px; margin:0; text-transform: uppercase; font-weight: 500; float: left; margin-right: 30px;}
.page-checkout .title .cart-selected-value{color:#9b9b9b; font-size: 13px; font-style: italic; float:left; }
.page-checkout .title .cart-selected-value .text-label{font-weight: 700;}
.page-checkout .title .cart-selected-value .link{color:#00b9c1; font-style:normal; margin-left: 5px;}
.page-checkout .panel-wrp .title .btn-link{position: absolute;bottom:5px;right: 0; background: #fff; padding:0 0 0 10px;}


.cart-box-wrp{}
.cart-items .row{margin-left: -15px; margin-right: -15px;}
.cart-items .row > div{padding-left: 15px; padding-right: 15px; }
.cart-items li{border-bottom: 1px solid #e6e6e6; padding:20px 10px;}
.cart-items li.item-error{background:#ffe8e8; }
.cart-items li .cart-row-wrp{padding-right: 25px;}
.cart-items .cart-items-title{font-weight: 700; font-size: 14px; background-color: #f7f7f7; padding:8px 10px; text-transform: uppercase; text-align: center;}
.cart-items .item-price{text-align: right; font-size: 14px;}
.cart-items .cart-item-img{ text-align: center;}
.cart-items .cart-item-img img{width:auto; height: auto; max-width: 70%; max-height: 70px;}

.cart-items .text-label{font-weight: 500; color:#999;}
.cart-items .cart-item-name{font-weight: 700; }
.cart-items .cart-item-name a, .cart-items .cart-item-seller a{color:#333; text-decoration: none;}
.cart-items .cart-item-name a:hover{color:#00b19c;}

.cart-items .cart-item-seller a{color:#00b19c;}
.cart-items .cart-item-seller a:hover{text-decoration: underline;}
.cart-items li{padding: 15px 0;}
.cart-items .item-price{ position: relative;}
.cart-items .item-price .remove-item{cursor: pointer; color:#b7b7b7; color:#ff0000; font-size: 19px; cursor: pointer; position: absolute; right:-22px; top:-3px;}
.cart-items .remove-item:hover{color:#00b19c; color: #ff3c3c;}

.mrp-price{ text-decoration: line-through;}

.panel-tab-content-payment{padding: 20px 0;}
.cart-payment-modes li{display: inline-block; margin-right: 10px;}

.cart-items .sc-popover-btn{color:#999; cursor: pointer;}
.cart-items .sc-popover-btn:hover{color:#555;}
.cart-items .sc-popover.bottom{top:100%;}

.coupon-wrp{background: #f7f7f7; border: 1px solid #e6e6e6; padding:10px 15px 20px; position: relative; margin-bottom: 10px;}
.coupon-wrp label{display:block;}
.coupon-wrp input{display: inline-block; width:50%;}
.coupon-wrp button{display: inline-block;}
.coupon-wrp .error-msg{position: absolute; }

.page-cart .update-btn-wrp{text-align: right;}

.box-empty-cart{padding: 20px; margin-bottom: 200px; text-align: center;}

.order-summary-box{background: #f7f7f7; border: 1px solid #e6e6e6; padding:10px 15px 20px; }
.order-summary-box .title{font-size: 18px; text-transform: uppercase; text-align: center;position: relative; font-weight: 500; margin-bottom: 20px; color:#000; text-align: left;}
.order-summary-box .title span{border-bottom: 1px solid #333; padding-bottom: 5px; display: block;}
.order-summary-box .title .btn-link{ position: absolute;top:3px; right: 0; font-size: 16px; font-weight: 500; text-transform: none;}
.order-summary-box .order-charges{font-size: 14px; padding: 3px 0; overflow: hidden; border-bottom: 0px solid #eee;}
.order-summary-box .text-label{font-weight: 700; display: inline-block;}
.order-summary-box .cart-price{display: inline-block; float: right; font-weight: 500;}
.order-summary-box .order-total-amount{border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;  padding-top: 5px;  padding-bottom: 5px; margin-top: 5px;}
.page-checkout .order-summary-box .order-total-amount{border-bottom: none; padding-bottom: 0;}


.page-cart .box-check-pincode{padding: 15px 0; margin: 10px 0; border-top111: 1px solid #e6e6e6; }
.page-cart .box-check-pincode .cart-pincode{width:70px; display: inline-block; height: 30px; }
.page-cart .box-check-pincode .error-msg{font-size: 12px; position: absolute;}
.page-cart .box-check-pincode .form-group{position: relative;}
.page-cart .form-control, .page-checkout .form-control{font-size: 13px;}

.order-summary-box{margin-bottom: 10px;}
.order-summary-box .btns-wrp{text-align: center;}
.order-summary-box  .cart-summary-items .row{margin-left: -5px; margin-right: -5px;}
.order-summary-box  .cart-summary-items .row > div {padding-left: 5px; padding-right: 5px;}
.order-summary-box  .cart-summary-items .cart-item-name{}
.order-summary-box  .cart-summary-items .item-price{text-align: right; font-weight: 500;}
.order-summary-box  .cart-summary-items .item-price{font-size: 15px;}
.order-summary-box  .cart-summary-items li{margin-bottom: 8px; padding-bottom: 8px; border-bottom: 1px solid #e6e6e6;}
.order-summary-box  .cart-summary-items li .cart-item-img{text-align: center;}
.order-summary-box  .cart-summary-items li img{width:auto; height:auto;  max-height: 70px; max-width: 100%;}

/*-----------*/
/*.page-checkout .collapse-options{padding: 10px 0 30px;}
.page-checkout .collapse-options .title{font-size: 14px; margin-bottom: 5px; color:#333; font-weight: bold;}
.page-checkout .collapse-options a {color:#00B19C;}
*/



.panel-bottom{padding: 10px; text-align: right;  border-top: 1px solid #e6e6e6;  border-bottom: 1px solid #e6e6e6; background: #f7f7f7; margin-top: 20px;}
.panel-bottom .btn-primary{padding: 7px 15px;}

.page-checkout .text-line{font-size: 12px; padding: 5px 0;;}
.page-cart .btn-xs, .page-checkout .btn-xs{ padding: 2px 5px;}
.page-cart .btn-sm, .page-checkout .btn-sm{padding: 5px 10px;}

.page-checkout .address-box{padding-right: 20px;}
.page-checkout .address-box .form-group{margin-bottom: 25px; position: relative;}
.page-checkout .address-box .form-group .error-msg{position: absolute; top:100%;}
.page-checkout .billing-address-box{display: none;}
.page-checkout .item-address{border: 1px solid #eee; padding: 10px; margin-bottom: 10px; background: #f7f7f7;}
.page-checkout .item-address-inner{height: 25px; overflow: hidden;font-size: 12px;}
.page-checkout .item-address.active{border:1px solid #00be9c; overflow: hidden;}
.page-checkout .item-address.active .btn-ship-here, .page-checkout .item-address.active .btn-delete{visibility: hidden;}
.page-checkout .item-address.active .fa{color:#00be9c;}
.page-checkout .item-address.active .label-selected{color:#00be9c; font-size: 12px;}
.page-checkout .item-address .btns-wrp{margin-top: 10px;}
.page-checkout .show-address-box-wrp{position: relative; margin-top: 10px;}
.page-checkout .show-address-box-wrp .show-address-box{position: absolute; opacity: 0;}
.coupon-wrp input{height: 28px;}
.page-cart .shipping-status{color:green; display:inline-block !important}

.page-cart .return-policy-box p{margin: 0;}

.order-summary-box .cart-items .cart-item-img img {
    height: 50px;
    width: 50px;
}

.qty-control-wrp{text-align: center;}
.qty-control-wrp .qtyminus, .qty-control-wrp .qtyplus{ color:#38383a; font-size: 19px; cursor: pointer;}
.qty-control-wrp .qtyminus:hover, .qty-control-wrp .qtyplus:hover{ color:#2c2c2c;}
.qty-control-wrp .qtyminus.disabled, .qty-control-wrp .qtyplus.disabled{opacity:0.6; cursor: default;}
.qty-control-wrp .input-qty {
    display: inline-block;
    height: 26px;
    padding: 2px 6px;
    width: 34px;
    text-align: center;
    margin:0 2px;
    border-radius: 2px;
}

.page-checkout .box-login-email, .page-checkout .box-password{font-size: 14px;}
.page-checkout .box-login-email label, .page-checkout .box-password label{color:#888;}
.page-checkout .box-login-email .text-label, .page-checkout .box-password .text-label, .page-checkout .box-password .email-label{color: #999; font-weight: 500;}
.page-checkout .box-login-email .email-label{color: #999; font-weight: 500; margin-right: 10px;}
.page-checkout .box-password .text-line{font-weight: 500; margin-bottom: 10px; font-size: 16px;}
.page-checkout .box-login-email input[type="text"], .page-checkout .box-password input[type="password"]{width:230px; float: left; margin-right: 5px;}
.page-checkout .label-or{display: inline-block; margin: 0 30px;}
.page-checkout .box-login-email .form-control-wrp{position: relative;}
.page-checkout .box-login-email .form-control-wrp .error-msg{position: absolute; top:100%;}


/*
.page-checkout{min-height: 450px; padding-bottom: 40px;}

.page-checkout .collapse-options .order-charges{font-size: 14px; padding: 3px 0; overflow: hidden; border-bottom: 0px solid #eee;}
.page-checkout .collapse-options .text-label{font-weight: 700; display: inline-block;}
.page-checkout .collapse-options .cart-price{display: inline-block; float: right; font-weight: 500;}
.page-checkout .collapse-options .order-total-amount{border-top:1px solid #e6e6e6; padding-top: 5px; margin-top: 5px;}
*/
.cart-items .sc-popover.bottom > .arrow{left:30px;}
.page-checkout .address-selected-wrp .address .btn{margin-top: 10px;}
.cart-items .return-policy-wrp{font-size: 12px; }
.cart-box-footer{text-align: left;}
@media (max-width:768px) {
  .cart-box-footer{display: none;}
  .cart-items .row{margin-left: -5px; margin-right: -5px;}
  .cart-items .row > div{padding-left: 5px; padding-right: 5px;}

  .cart-items .cart-items-title{display: none;}
  .cart-items .cart-item-img img{width: auto; height:auto; max-width: 100%; max-height: 100%;}
  .cart-items .item-price{text-align: left; margin-top: 5px;}
  .cart-items .item-price > div{display: inline-block;}
  .cart-items .return-policy-wrp{font-size: 11px; margin-bottom: 5px;}
  .cart-items .item-price .remove-item{top:-4px;}
  .cart-items .item-price .remove-item{right:0;}
  .page-cart .coupon-wrp label, .page-checkout .coupon-wrp label{display: block;}
  .panel-bottom .btn{font-size: 12px;}
  .page-cart .order-summary-box, .page-checkout .order-summary-box {margin-top: 20px; margin-bottom: 30px;}
  .page-cart .title-section, .page-checkout .title-section{margin: 10px 0;}

  .page-checkout .box-login-email input[type="text"], .page-checkout .box-password input[type="password"]{margin-bottom: 10px;}
  .page-checkout .box-login-email .label-or,  .page-checkout .box-password .label-or{margin: 10px 0; display: block;}
  .page-checkout .label-login-with{display: block;}
  .page-checkout .address-box{margin-bottom: 20px; padding-right: 0;}
  .page-checkout .cart-items li{padding: 5px 0;}
  .page-checkout .cart-items .cart-item-name{font-weight: normal;}

}


.panel-tab.collapsed{cursor: pointer;}
.panel-tab-content{display: none;}
.popup-buynow-inner{padding: 20px;}

/*.page-checkout .panel-tab-content-payment .error-msg {
    background: rgba(255, 0, 0, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 0, 0, 0.1);
    color: rgba(255, 0, 0, 0.7);
    display: inline-block;
    font-weight: 500;
    padding: 3px 10px;
}*/
