
.home-content-wrp ul{margin: 0;}
.home-content-wrp .row {
    margin-left: -10px;
    margin-right: -10px;
}
.home-content-wrp .row > div{padding-left: 10px; padding-right: 10px;}
.header{background: none; box-shadow: none; border: none;}


.header.fixed{background: #fff; border-bottom: 1px solid #d5d5d5; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);}
.navbar-header-md{padding-left: 30px;}

.home-content-wrp .btn{text-transform: none; border-radius: 0; padding: 8px 35px; color:#000; border-color:#5e6361; border-radius: 0; font-weight: 500;}
/*.home-content-wrp .btn:visited{color:inherit;}*/
.btn-secondary-two:hover, .btn-secondary-two:focus, .btn-secondary-two.focus {
    background: #5e6361;
    color: #fff;
    outline: medium none;
    text-decoration: none;
}
.btn-primary.white {
  border:1px solid #fff;
  background: #fff;
  color:#000;
}

.btn-primary.white:hover, .btn-primary.white:focus, .btn-primary.white:active, .btn-primary.white.focus{background: #00b19c; color:#fff;   border:1px solid #00b19c;}

.btn-secondary-two.white {
  border:1px solid #fff;
  color:#fff;
}
.btn-secondary-two.white:hover, .btn-secondary-two.white:focus, .btn-secondary-two.white:active, .btn-secondary-two.white.focus {/* background: transparent; color:#00b19c; border:1px solid #00b19c;*/ background: #00b19c; color:#fff; border:1px solid #00b19c;}

.swiper-pagination-bullet{width: 16px; height: 16px; background: transparent; border:2px solid #fff;}
.swiper-pagination-bullet-active{background: #fff;}
.swiper-container-vertical > .swiper-pagination-bullets{right:20px; top: 30%; transform: translate3d(0px, -30%, 0px);}

.swiper-button-next, .swiper-button-prev{background: none; color:#101010; font-size: 30px;}
.swiper-button-next:hover, .swiper-button-prev:hover{color:#555;}

.section-main-banners{margin-bottom: 40px;}


.home-banner-wrp{position: relative; top:-80px; margin-bottom: -80px; text-align: center;}
.home-banner-wrp .box-content{width:476px;  position: absolute; bottom:22%; z-index: 1;  margin: 0 auto; left:0; right:0; }
.home-banner-wrp .box-content-inner{ margin: 0 auto;}
.home-banner-wrp .box-content .title{/*font-size: 50px; color:#f04d41; line-height: 1.1;  font-size: 36px;*/ font-size: 20px;  color:#555;  font-weight: bold; line-height: 1.5; margin-bottom: 15px;}
.home-banner-wrp .box-content .content{font-size: 14px; color:#5e6361; font-weight: 500; margin-bottom: 30px;}
.home-banner-wrp .logo-banner{width:336px;}
.home-banner-wrp .logo-banner-wrp{margin-bottom: 8px;}
.swiper-container-front { width: 100%;  height: 100%;}
.swiper-container-front {  z-index: inherit;}
.swiper-container-front { margin: 0 auto;  position: relative;  overflow: hidden; z-index: 1; }

.swiper-container-front.front.main{max-height: 540px;}
.home-banner-wrp .swiper-pagination{width: 100%; bottom: 5px;}
.home-banner-wrp .swiper-pagination .swiper-pagination-bullet{margin: 3px;}

.section-looks{margin-bottom: 40px; margin-top111: -40px;}
.section-looks .ic.sc-love{background:url("../images/icons/sc-love-icons-1.png") no-repeat 0 0px}
.section-looks .ic.sc-love.active{background:url("../images/icons/sc-love-icons-1.png") no-repeat 0 -56px}

.section-looks .item.view{/*height: 278px;*/ background: #EBEFF0;}
.section-looks .item.view img{ width: auto; max-width: 100%; height: auto; /*max-height: 278px;*/ max-height: 100%;}

.section-slider-verticle{margin-bottom: 40px; position: relative; overflow: hidden;}
.swiper-container.front.verticle{height:486px;}
.section-slider-verticle .swiper-button-next.verticle, .section-slider-verticle .swiper-button-prev.verticle{visibility: hidden;}
.section-slider-verticle .swiper-pagination{width:20px; top:160px; left:auto; right:25px;}
.section-slider-verticle .swiper-pagination-wrp{position: relative;}

.section-slider-verticle .slide .inner{/*background:#a9dff0;*/ background:#ccffff; padding:45px 50px 45px 80px; position: relative; height: 400px;}
.section-slider-verticle .slide .img-wrp{position: absolute; top:0px; width: auto;}
.section-slider-verticle .content{padding-left: 50px; padding-top: 5px;}
.section-slider-verticle .title{font-size: 54px; color:#282561; font-weight:bold; line-height: 1.3;}
.section-slider-verticle .desc{margin-bottom: 15px; font-size: 15px;}

.section-slider-verticle .inner-how-it-works li{ font-size: 16px; margin-bottom: 14px;}

.section-slider-verticle .inner-benefits li{width: 48%; display: inline-block; padding-right: 20px; height: 55px; line-height: 1.5; position: relative; padding-left: 40px; font-size: 16px; margin-bottom: 5px; vertical-align: top;}
.section-slider-verticle .inner-benefits li i{width:30px;height:30px; display: inline-block;
   background-repeat: no-repeat; background-position: 0 0; margin-right: 10px; background-size:100%; position: absolute; left:0 ; top:2px; padding: 1px;}
.section-slider-verticle .inner-benefits li:nth-child(1) i{background-image: url('../images/icons/1.png');}
.section-slider-verticle .inner-benefits li:nth-child(2) i{background-image: url('../images/icons/2.png');}
.section-slider-verticle .inner-benefits li:nth-child(3) i{background-image: url('../images/icons/3.png');}
.section-slider-verticle .inner-benefits li:nth-child(4) i{background-image: url('../images/icons/4.png');}
.section-slider-verticle .inner-benefits li:nth-child(5) i{background-image: url('../images/icons/5.png');}
.section-slider-verticle .inner-benefits li:nth-child(6) i{background-image: url('../images/icons/6.png');}

.box-testimonials-wrp{margin-bottom: 40px; }
.box-testimonials.text{padding: 20px; vertical-align: middle; display:table-cell; height: 286px;}
.box-testimonials .name{font-weight: 500;}
.box-testimonials-wrp .row{margin: 0;}
.box-testimonials-wrp .row > div{display: table; padding: 0;}

.video-img-wrp{overflow: hidden; position: relative;}
.video-img-wrp img{transition: all 0.2s linear 0s; }
.video-img-wrp:hover img { transform: scale(1.1, 1.1);}
.video-img-wrp .mask { bottom: 0; height: 100%; left: 0; position: absolute; right: 0; text-align: center; top: 0; transition: all 0.2s linear 0s;}
.video-img-wrp .mask:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }

.video-img-wrp .mask .fa { color: rgba(255, 255, 255, 1); font-size: 28px; font-size: 74px; position: relative; top: 50%; transform: translateY(-50%); transition: all 0.5s ease 0s; }

.section-products{text-align: center; margin-bottom: 30px; padding: 0 15px;}
.section-products .container{position: relative;}
.section-products .swiper-button-prev{left:-14px;}
.section-products .swiper-button-next{right:-14px;}
.section-products .title{font-size: 26px; color:#5e6367; text-align: center; margin-bottom: 25px; font-weight: 700; line-height: 1;}
.section-products .swiper-slide{width:165px; height: 240px; text-align: center; margin: 0 15px;}
.section-products .swiper-slide a{color:#5e6367; text-decoration: none;}
.section-products .swiper-slide .item{border:1px solid transparent; height: 100%; }
.section-products .swiper-slide a:hover .item{border:1px solid #eee;}
.section-products .swiper-slide a:hover .item .name{text-decoration: underline;}
.section-products .swiper-slide img{ height: auto; max-height: 150px; max-width: 100%; width: auto;}
.section-products .swiper-slide .item-img{height: 150px;  margin-bottom:5px;}
.section-products .swiper-slide .item-img-inner{ position: relative; top: 50%; transform: translateY(-50%); }
.section-products .swiper-slide .item-name{max-height: 44px; overflow: hidden;}

.section-work{text-align: center; margin-bottom: 40px; background: #ebeff0; overflow: hidden;}
.section-work-inner{ }
.section-work .title{margin-bottom: 20px; color:#080a0b; font-size: 54px; font-weight:bold; line-height: 1.3;}
.section-work-inner .col-md-4{display: table;}
.section-work .desc{text-align: right; padding: 10px;  vertical-align: middle; display: table-cell; height:410px;}
.section-work .swiper-slide{width: 294px; text-align: center; margin-right: 20px;}
.section-work .swiper-slide img{height: 100%; width:auto; max-width: 100%; max-height: 410px;}
.section-work .swiper-button-next, .section-work .swiper-button-prev { background: rgba(255, 255, 255, 0.5)}
.section-work .swiper-pagination.work{bottom:0;}

.banner-strip{text-align: center; margin-bottom: 40px;}
.banner-strip .strip{font-size: 34px; font-style: italic; font-weight: 700; padding:30px 20px; text-align: center; margin: 0 20px; background: #FED525; color:#000;}
.banner-strip img{width: auto; max-width: 100%; padding: 0 20px;}

.section-media{text-align: center; margin-bottom: 40px;}
.section-media .title{font-size: 26px; color:#5e6367; text-align: center; margin-bottom: 40px; font-weight: 700; line-height: 1;}
.section-media li{list-style: none; display: inline-block; width:auto; margin-right: 30px;}
.section-media li:last-child{margin-right: 0;}
.section-media li img{width:auto; height:40px; color:#ccc; opacity: 0.4;
  -webkit-filter: grayscale(1) !important;
  -moz-filter: grayscale(1) !important;
  -ms-filter: grayscale(1) !important;
  filter: grayscale(1) !important;
  }
.section-media li img:hover{
opacity: 1;
-webkit-filter: grayscale(0) !important;
-moz-filter: grayscale(0) !important;
-ms-filter: grayscale(0) !important;
filter: grayscale(0) !important;
}


/* generic css */
.item-view-wrp{display: table;}
.item.view {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  height: auto; display: table-cell; vertical-align: middle;
}

.item.view .mask,
.item.view .content {
  width: 100%;
  height:100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.item.view img {
  display: block;
  position: relative
}

.item.view h2 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin: 10px 0 0 0
}

.item.view p {
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.item.view a.info {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding: 7px 10px;
}

/*.item.view a.info.btn-secondary-two:visited{color:#fff;}*/

.item.view img {
  transition: all 0.2s linear;
}

.item.view .mask {
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  transition: all 0.4s ease-in-out;
}

.item.view .mask .inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.item.view h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.item.view .btn {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.1s linear;
  margin: 10px 0;
}
 .item.view .wishlist{display: inline-block;  margin: 2px 0; }
.item.view a.info, .item.view .wishlist{ opacity: 0; transition: all 0.2s ease-in-out; }

.item.view:hover img { transform: scale(1.1); }

.item.view:hover .mask { opacity: 1; background: rgba(0, 0, 0, 0.38);}
.item.view:hover h2,
.item.view:hover .btn,
.item.view:hover a.info, .item.view:hover .wishlist { opacity: 1; transform: translateY(0px); }

.item.view:hover a.info {
  transition-delay: 0.2s;
}

@media (max-width:768px) {
  .header{background: #fff;}
  .section-main-banners{margin-bottom: 0;}
  .home-banner-wrp .logo-banner { width: 92px;}
  .home-banner-wrp{margin-bottom:20px; top:0;}
  .home-banner-wrp .box-content{top:20px; width: 45%;}
  .home-banner-wrp .box-content-inner{}
  .home-banner-wrp .box-content .title{  font-size: 12px;  margin-bottom: 5px;}
  .home-banner-wrp .box-content .content{font-size: 11px; margin-bottom: 5px; line-height: 1.3;}
.home-banner-wrp .swiper-pagination{bottom: -24px; z-index: 1;}

.btn{padding: 3px 10px;}

.swiper-container-vertical > .swiper-pagination-bullets{right:2px;}
.swiper-pagination-bullet{width: 10px; height:10px;}

.section-looks{margin-top: 0; margin-bottom: 10px;}
.section-looks .item{margin-bottom: 15px;}
.section-looks .item.view h2{margin-top: 20px;}
.section-looks .item.view{height: auto; background: #EBEFF0;}
.section-looks .item.view img{ width: 100%; max-width: 100%; /*height: 220px;*/ height:auto;  max-height: 100%;}


.item.view { transform: scale(1);}
.item.view .mask { opacity: 1;}
.col-md-4 .item.view .mask .btns-wrp{display: inline-block;}
.section-looks .item.view h2{padding: 0; margin: 0;}
.item.view h2,.item.view p,.item.view a.info { opacity: 1; transform: translateY(0px); }
.item.view p { transition-delay: 0.1s;}
.item.view a.info { transition-delay: 0.2s; margin-bottom: 10px;}
/*new 2*/
.item.view:hover img { transform: scale(1); }
.item.view .mask{padding: 10px; position: relative; text-align: left; background: #999; }
.item.view .mask .inner {
   position: static;
   top: auto;
   transform: inherit;
   width: 100%;
 }
 .section-looks .item-view-wrp{margin-bottom: 15px;}
 .section-looks .item.view{ vertical-align: inherit;}

/*.col-md-2 .item.view .mask{ height: 162px; max-height: 162px;}*/

.section-looks .item.view h2{padding: 0; text-align: left; margin: 0 0 10px 0;  font-size: 15px; line-height: 1.3;}
.item.view .wishlist{ position: absolute; right: 10px; top: 10px; display: none;}
.section-looks .item.view .btn{font-size: 10px; padding: 5px; margin: 5px 0 5px;}
/* /new 2*/
.swiper-pagination-bullet{border-color: #999;}
.swiper-pagination-bullet-active{background: #999;}
.section-products{margin-bottom: 10px;}
.section-products .swiper-slide{width:110px; margin-right: 10px;}
.swiper-container.front.verticle{height:486px; margin-right:5px; margin-left:5px;}
.section-slider-verticle{margin-bottom: 20px; position: relative; overflow: hidden;}
.section-slider-verticle .slide .inner{height:450px; padding: 10px; margin-top: 40px;}
.section-slider-verticle .slide .img-wrp{position: static;  text-align: center;  margin-top: -40px;}
.section-slider-verticle .slide .img-wrp img{text-align: center; width: 50%;}
.section-slider-verticle .content{padding-left: 0; padding-top: 10px;}
.section-slider-verticle .title{font-size: 26px; margin: 0 0 5px;}
.section-slider-verticle .desc { margin-bottom: 11px;}


.section-slider-verticle .inner-benefits li{width: 100%;}

.section-slider-verticle .swiper-pagination.verticle{/*right:25px; top:auto; bottom:20px; width:auto;*/ top:450px; width:70px;}
.section-slider-verticle .swiper-pagination.verticle .swiper-pagination-bullet{margin: 0 3px;}
.section-slider-verticle .swiper-button-next.verticle, .section-slider-verticle .swiper-button-prev.verticle{position: absolute; visibility: visible; top:40%; display: block; width:30px; height:30px; line-height: 1;}
.section-slider-verticle .swiper-button-next.verticle{right:20px;}
.section-slider-verticle .swiper-button-prev.verticle{left:20px;}

.section-slider-verticle .desc{margin-bottom: 14px; font-size: 13px;}

.section-slider-verticle .inner-how-it-works li{ font-size: 13px; margin-bottom: 5px;}

.section-slider-verticle .inner-benefits li{width: 100%; display: inline-block; padding-right: 0px; height: auto; line-height: 1.3; position: relative; padding-left: 25px; font-size: 13px; margin-bottom: 2px; vertical-align: top;}
.section-slider-verticle .inner-benefits li i{width:18px;height:18px; display: inline-block;
   background-repeat: no-repeat; background-position: 0 0; margin-right: 10px; background-size:100%; position: absolute; left:0 ; top:0px; padding: 1px;}
.section-slider-verticle .inner-benefits li i{}

.box-testimonials-wrp{margin-bottom: 10px;}
.box-testimonials.text{height: auto; padding: 0 0 20px; }
.box-testimonials.text.text-right{text-align: left;}

.section-work-inner .col-md-4{display: block;}

.section-work .swiper-slide{width: 110px;  margin-right: 10px;}
.section-work .swiper-slide img{max-height: 184px;}

.section-work .desc{display: block; height:auto; text-align: center;}
.section-work .title{font-size: 36px; margin:0 0 10px;}

.banner-strip{margin-bottom: 20px;}
.banner-strip .strip{font-size: 24px;padding:10px 10px;  margin: 0; line-height: 1.3;}
.banner-strip img{padding: 0;}
.section-media .title{margin-bottom: 20px;}
.section-media li{margin-right: 0; padding: 5px; margin-bottom: 5px;}
.section-media li img{height: 20px;;}
}

@media (max-width:360px) {
  .home-banner-wrp .logo-banner-wrp{margin-bottom: 5px;}
  .home-banner-wrp .logo-banner{width: 134px;}
  .home-banner-wrp .box-content{left: 15px; right: auto; text-align: left;}

  .home-banner-wrp .box-content .title{  font-size: 14px;  margin-bottom: 5px;}
  .home-banner-wrp .box-content .content{font-size: 12px; line-height: 1.5; margin-bottom: 10px;}
  .home-banner-wrp .swiper-pagination{bottom: -5px; z-index: 1;}
}
