/*
    place extra stylesheet here
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

.ImageContainer img {
    border: solid 1px #999;
     max-width: 100%;
    max-height: 100%;
    
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 30px;
	font-size: 20px;
}