@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?607de2');
  src:  url('fonts/icomoon.eot?607de2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?607de2') format('truetype'),
    url('fonts/icomoon.woff?607de2') format('woff'),
    url('fonts/icomoon.svg?607de2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort:before {
  content: "\e90b";
}
.icon-link:before {
  content: "\e909";
}
.icon-chat:before {
  content: "\e90a";
}
.icon-notification:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e900";
}
.icon-account-settings:before {
  content: "\e901";
}
.icon-add-s .path1:before {
  content: "\e902";
  color: rgb(19, 215, 146);
}
.icon-add-s .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-add-s .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-add:before {
  content: "\e906";
}
.icon-minus:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\e905";
}
.icon-diamond:before {
  content: "\e9e4";
}
.icon-diamond-s:before {
  content: "\e9d5";
}
.icon-filter:before {
  content: "\e958";
}
.icon-filter-n .path1:before {
  content: "\e920";
  color: rgb(51, 51, 51);
}
.icon-filter-n .path2:before {
  content: "\e921";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path3:before {
  content: "\e922";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path4:before {
  content: "\e923";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path5:before {
  content: "\e924";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path6:before {
  content: "\e925";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path7:before {
  content: "\e926";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path8:before {
  content: "\e927";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path9:before {
  content: "\e928";
  margin-left: -1.103515625em;
  color: rgb(51, 51, 51);
}
.icon-filter-n .path10:before {
  content: "\e929";
  margin-left: -1.103515625em;
  color: rgb(19, 215, 146);
}
.icon-arrow-back:before {
  content: "\e92e";
}
.icon-star:before {
  content: "\e936";
}
.icon-suare-s:before {
  content: "\e937";
}
.icon-close:before {
  content: "\e938";
}
.icon-card:before {
  content: "\e939";
}
.icon-tick-s .path1:before {
  content: "\e9dc";
  color: rgb(19, 215, 146);
}
.icon-tick-s .path2:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-correct:before {
  content: "\e94c";
}
.icon-wrong:before {
  content: "\e9f2";
}
.icon-edit:before {
  content: "\e94d";
}
.icon-pencil:before {
  content: "\e94e";
}
.icon-edit-s .path1:before {
  content: "\e94f";
  color: rgb(19, 215, 146);
}
.icon-edit-s .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-edit-s .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zoom-s .path1:before {
  content: "\e9f4";
  color: rgb(19, 215, 146);
}
.icon-zoom-s .path2:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zoom-s .path3:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path1:before {
  content: "\e952";
  color: rgb(147, 149, 152);
}
.icon-email .path2:before {
  content: "\e953";
  margin-left: -1.2373046875em;
  color: rgb(0, 0, 0);
}
.icon-facebook:before {
  content: "\e954";
}
.icon-google .path1:before {
  content: "\e96d";
  color: rgb(251, 188, 5);
}
.icon-google .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(235, 67, 53);
}
.icon-google .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-google .path4:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-female:before {
  content: "\e957";
}
.icon-male:before {
  content: "\e9a3";
}
.icon-heart:before {
  content: "\e971";
}
.icon-heart-s:before {
  content: "\e972";
}
.icon-bag:before {
  content: "\e935";
}
.icon-home:before {
  content: "\e979";
}
.icon-notification-2:before {
  content: "\e9a7";
}
.icon-message:before {
  content: "\e930";
}
.icon-cart:before {
  content: "\e9a5";
}
.icon-search:before {
  content: "\e933";
}
.icon-tag:before {
  content: "\e93b";
}
.icon-logout:before {
  content: "\e990";
}
.icon-menu:before {
  content: "\e9a4";
}
.icon-pointer:before {
  content: "\e9a6";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e9de";
}
.icon-share:before {
  content: "\e9e0";
}
.icon-sclive:before {
  content: "\e9db";
}
.icon-setting:before {
  content: "\e9d8";
}
.icon-help:before {
  content: "\e977";
}
.icon-document:before {
  content: "\e9e7";
}
.icon-shirt:before {
  content: "\e9f3";
}
.icon-toggle-on .path1:before {
  content: "\e9e8";
  color: rgb(19, 215, 146);
}
.icon-toggle-on .path2:before {
  content: "\e9e9";
  margin-left: -2.3916015625em;
  color: rgb(0, 0, 0);
}
.icon-toggle .path1:before {
  content: "\e9ea";
  color: rgb(216, 216, 216);
}
.icon-toggle .path2:before {
  content: "\e9eb";
  margin-left: -2.5791015625em;
  color: rgb(0, 0, 0);
}
.icon-eye:before {
  content: "\e9ec";
}
.icon-wallet:before {
  content: "\e9ed";
}
.icon-send:before {
  content: "\e9ef";
}
.icon-pinterest:before {
  content: "\ead1";
}

