/*main*/
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li{position: relative;}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a small{color: #999999; font-size: 10px;  position: absolute; right: 10px; top: 12px;}
/* /main*/
/*bootstrap customization*/
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{  padding-left: 10px; padding-right: 10px; }
.dataTable th{background: #e4e8f0;}
img{width:auto; max-width: 100%;}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{width: 230px;}

.btn {
    border-radius: 2px;
    text-transform: uppercase;

}
.btn-primary {
    background: #00b19c none repeat scroll 0 0;
    color: #fff;
    border:1px solid #059c8a;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #006e59 none repeat scroll 0 0;
    color: #fff;
    border:1px solid #059c8a;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background: #049e8c none repeat scroll 0 0;
    color: #fff;
    border:1px solid #059c8a;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background: #006e59 none repeat scroll 0 0;
    color: #fff;
    border:1px solid #059c8a;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background: #00b19c none repeat scroll 0 0;
      border:1px solid #059c8a;
}
.btn-secondary {
    background: #38383a none repeat scroll 0 0;
    color: #fff;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
    background: #2c2c2c none repeat scroll 0 0;
    color: #fff;
    outline: medium none;
    text-decoration: none;
}
.btn-secondary:active:hover, .btn-secondary.active:hover, .open > .dropdown-toggle.btn-secondary:hover, .btn-secondary:active:focus, .btn-secondary.active:focus, .open > .dropdown-toggle.btn-secondary:focus, .btn-secondary.focus:active, .btn-secondary.active.focus, .open > .dropdown-toggle.btn-secondary.focus {
    background: #111 none repeat scroll 0 0;
    color: #fff;
}
.btn-tertiary {
    background: #b5b5b6 none repeat scroll 0 0;
    color: #fff;
}
.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary.focus {
    background: #9d9d9d none repeat scroll 0 0;
    color: #fff;
    outline: medium none;
    text-decoration: none;
}

.btn-primary.btn-delete{background: #dd4b39;  border: 1px solid #be3e2c;}
.table-vth th{}
.table > thead > tr.valign-top > th{vertical-align: top;}
.datepicker.dropdown-menu th, .datepicker.dropdown-menu td{padding: 2px; vertical-align: middle;}
ul,li{margin:0; padding:0;}
.checkbox label, .radio label{margin-right:10px;}

label{font-weight: 600;}
input[type="file"]{display: inline-block;}
.btn-file input[type="file"] {
    background: transparent none repeat scroll 0 0;
    cursor: inherit;
    display: block;
    min-height: 100%;
    min-width: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.btn-file, .fileinput-upload-button {
    overflow: hidden;
    position: relative;
   font-size: 12px;
   line-height: 1.5;
   padding: 5px 10px;
}
.form-control {
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
    /*white-space: normal;*/
    height: auto;

}
select.form-control {
    height: 30px;
    line-height: 30px;
}
.form-group .checkbox{margin-top: 0; margin-bottom: 0;}

.image-auto-size{text-align: center;}
.image-auto-size img{width:auto; height: auto; max-width: 100%; max-height:100%; }
.input-group-label-wrp{display: inline-block;}
.input-group-label-wrp .form-control{width:auto; display: inline-block;}
.input-group-label{ display: inline-block;  vertical-align: middle; white-space: nowrap; padding: 0 3px 0 0;}

.f11{font-size: 11px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}

/* /bootstrap customization*/
/*login page*/
.login-page, .register-page{background:#eee url("../images/bg-1.jpg") no-repeat fixed center center / cover }
.login-box-body, .register-box-body{background: #eee;}
.login-page .login-show-password-wrp{margin-top:0px;}
.login-page .checkbox{margin-top: 0;}
.login-logo{ background-color: rgba(255, 255, 255, 0.5); color: #e90863; font-weight: 500;}
.login-logo strong{color: #000;}
.login-page label.error, .register-page label.error{color:rgb(236, 92, 83); font-size: 12px; margin-top: -1px; position: absolute; font-weight: normal;}
.login-page .form-group, .register-page .form-group{padding-bottom: 20px; margin-bottom: 0;}
.login-page .footer-links, .register-page .footer-links{margin-top: 10px;}
.login-page .footer-links a, .register-page .footer-links a{color:#666;}
.login-page .footer-links a:hover, .register-page .footer-links a:hover{text-decoration: underline;}
.box-error{color:rgb(236, 92, 83); font-size: 12px; padding: 10px 0; }


.form-group .records-per-page{margin-left: 10px; width: 61px;}
#frmsearch .row, .frm-search .row{margin-left: -5px; margin-right: -5px}

#frmsearch .col-md-1, #frmsearch .col-md-2, #frmsearch .col-md-3,  #frmsearch .col-md-4, #frmsearch .col-md-5,  #frmsearch .col-md-6,  #frmsearch .col-md-7,  #frmsearch .col-md-8,  #frmsearch .col-md-9,  #frmsearch .col-md-10,  #frmsearch .col-md-11, .frm-search .col-md-1, .frm-search .col-md-2, .frm-search .col-md-3, .frm-search .col-md-4, .frm-search .col-md-5,  .frm-search .col-md-6, .frm-search .col-md-7, .frm-search .col-md-8, .frm-search .col-md-9, .frm-search .col-md-10,  .frm-search .col-md-11{padding-left: 5px; padding-right: 5px;}

.frm-search .input-group{width: 100%;}

/* common*/
.table-tr-collapse tr.tr-quick-view > td{padding: 0; border-color: transparent;}
.table-tr-collapse tr.tr-quick-view .box-quick-view {display: none;}

.table-tr-collapse .box-quick-view{/* background: #E3E3E5; */border:1px solid #ddd; border-bottom:2px solid #ccc; padding:5px 0 0px; margin: -1px;}
.table-tr-collapse .box-quick-view .box{margin: 0; }
.table-tr-collapse .box-quick-view .box-inner{padding: 20px; background: #ECF0F5; border: 1px solid #d2d6de; margin-bottom: 20px;}
.table-tr-collapse .box-quick-view .box-footer{background: #C6C4C9;}
.table-striped.table-tr-collapse .open{background: #C6C4C9; background: #ecf0f5 }
.table-striped.table-tr-collapse .open td{border-color: #ccc; border-color: #d8dce1;}
.table-tr-collapse tr.open .btn .fa.fa-angle-down:before {
    content: "\f106";
}


/* /common */

/* look creater */
.look-creater-wrp{background:#E3E3E5; overflow:hidden; padding: 5px; /*border:2px solid #C6C4C9;  padding: 20px; font-family: "open sans";*/ }
.look-creater-wrp .row{margin-left:-5px; margin-right:-5px; }
.look-creater-wrp .col-xs-2, .look-creater-wrp .col-md-2, .look-creater-wrp .col-lg-2, .look-creater-wrp .col-xs-10, .look-creater-wrp .col-md-10, .look-creater-wrp .col-lg-10, .look-creater-wrp .col-xs-12, .look-creater-wrp .col-md-5, .look-creater-wrp .col-md-4, .look-creater-wrp .col-md-3, .look-creater-wrp .col-lg-5, .look-creater-wrp .col-md-7, .look-creater-wrp .col-lg-7, .look-creater-wrp .col-md-6, .look-creater-wrp .col-lg-6{padding-left:5px; padding-right:5px;}
.look-creater-wrp .panel{border:1px solid #ddd; box-shadow: 0 0 5px #cdcdcf; border-radius: 2px; background: #eee;}

.canvas-left-panel{text-align:center; background:#fff; padding:10px 0 0;}
.canvas-left-panel .btn{margin-bottom:10px; width:80px;}

.look-creater-wrp .canvas-top-panel{ text-align:right; padding:10px; margin-bottom:5px; position: relative; height:85px; }
.look-creater-wrp .canvas-bottom{text-align:right; padding:5px; background:#fff; margin-bottom:5px;}
.look-creater-wrp .canvas-outer{background:#ECF0F5; margin-bottom: 10px; overflow: hidden;}
.look-creater-wrp .canvas{background:#fff; height:530px; width:530px; margin:10px auto;  position: relative;}
.look-creater-wrp .canvas .main-canvas{position:absolute;}
.look-creater-wrp .canvas .canvas-sc-logo{position:absolute; right:0; width: 125px; height: 66px;}
.panel-text-style{display:none;margin-top:5px;}
.look-creater-wrp .panel.panel-look-desc-wrp{margin-bottom: 0;}
.look-creater-wrp .steps ul, .look-creater-wrp .main-categories ul{font-size:0;}
.look-creater-wrp .steps{margin-bottom:5px;background:#ccc; background: #38383A; background:#777;}
.look-creater-wrp .steps li{list-style:none; display:inline-block; padding:10px 15px;   font-size:13px; font-weight:bold; position: relative;
   border-right:1px solid #eee; cursor:pointer; color: #fff;}
.look-creater-wrp .steps li:first-child{border-left:0px solid #999;}
.look-creater-wrp .steps li.active{background:#222d32; cursor:default;}
.look-creater-wrp .steps li .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    bottom: -4px;
    color: #777777;
    display: none;
    height: 0px;
    left: 50%;
    margin: auto;
    position: absolute;
    vertical-align: middle;
    width: 0px;
  }
  .look-creater-wrp .steps li.active .caret {  display: inline-block;color:#222d32;}

.look-creater-wrp .step-content{display:none;height:450px;}
.look-creater-wrp .step-content .title{font-weight: bold;}
.look-creater-wrp .canvas-template-wrp{display:none;}
.look-creater-wrp .canvas-template-wrp li{display:inline-block; width:78px; height:94px; border:1px solid #ddd;text-align: center; margin:1px 1px; vertical-align: top;}
.look-creater-wrp .canvas-template-wrp li:nth-child(5n+0){margin-right: 0px; }
.look-creater-wrp .canvas-template-wrp li.active{border:1px solid orange; box-shadow:0px 0px 2px #999;}
.look-creater-wrp .canvas-template-wrp li img{width:auto; height: auto; max-width: 100%; max-height:100%;  position: relative;
    top: 50%; transform: translateY(-50%);}
.look-creater-wrp .canvas-data{/*height: 524px;*/ height:703px; overflow: hidden; background: #eee; }
.look-creater-wrp .cat-content-wrp{/*height:388px;*/ height:458px;  overflow-y:scroll; background:#fff; margin-bottom:5px; /* padding: 5px;*/}
.look-creater-wrp .cat-content{display:none;}
.look-creater-wrp .cat-1-content{display:block;}

.look-creater-wrp .main-categories{padding:5px; background:#eee; margin-bottom:5px; /*height: 120px;*/ height: 140px;  overflow-y: scroll;}
.look-creater-wrp .main-categories li{list-style:none; display:inline-block; padding:1px 5px; font-size:13px; border-right:1px solid #e4e4e4; cursor:pointer;}
.look-creater-wrp .main-categories li.active{color:orange;}
.look-creater-wrp .main-categories li:last-child{border-right:none;}

.look-creater-wrp .sub-categories{padding:5px; margin-bottom:5px;}
.look-creater-wrp .sub-categories li{display:inline-block; /*width:80px; height:80px; border:1px solid #e4e4e4; margin:1px;*/ text-align: center;}
.look-creater-wrp .sub-categories li.active{color:orange;}

.look-creater-wrp .input-variations-type{height:40px;}

.look-creater-wrp .products-container li.cat{height: auto; padding:2px;}
.look-creater-wrp .product-container  li{display:inline-block; width:80px; height:80px; border:1px solid #e4e4e4; margin:1px; text-align: center; vertical-align: top;}
.look-creater-wrp .product-container  li img{position: relative; top: 50%; transform: translateY(-50%);}
.look-creater-wrp .bg-container{padding:5px;}
.look-creater-wrp .bg-container-movable{padding:5px;}

.look-creater-wrp .panel-step-level2{background: #C6C4C9; margin-bottom: 5px;
    padding: 5px;}
.look-creater-wrp .panel-step-level2 .btn{border:1px solid #ddd;}

.look-creater-wrp .products-container ul{}
.look-creater-wrp .products-container li{display:inline-block; width:78px; height:94px; text-align: center; vertical-align: middle; border:1px solid #e4e4e4; padding: 1px; margin: 1px;}
/*.look-creater-wrp .products-container li:nth-child(5n+0){margin-right: 0px; }*/
.look-creater-wrp .products-container li.active{border:1px solid orange; box-shadow:0px 0px 2px #999;}

.look-creater-wrp .products-container img {width:auto; height: auto; max-width: 100%; max-height:100%;  position: relative;
    top: 50%; transform: translateY(-50%);}

.look-creater-wrp .search-container {
   display:none;  box-shadow: 0 0 10px #f1f1f1 inset;
    margin-bottom: 5px;
    margin-top: -1px;
    padding: 5px; }
.look-creater-wrp #getVariationVal li { cursor:pointer; position: relative; }
.look-creater-wrp #getVariationVal li .product-link{display:inline-block; position:absolute; right:0px; top:0px; font-size:11px; width:16px; height:16px; text-align:center; color:#fff; background:rgba(0,0,0,0.5); z-index:5;}
.look-creater-wrp #getVariationVal li .product-link:hover{background: rgba(0,0,0,0.9);}
.look-creater-wrp #cat-1-content li:hover, .bg-container li { cursor:pointer; }
.look-creater-wrp #cat-1-content li:hover, .bg-container-movable li { cursor:pointer; }

.look-creater-wrp .get-variation{margin-bottom: 10px}

.look-creater-wrp .effects-cat li{width:130px; display:inline-block; vertical-align: top; }
.look-creater-wrp .effects-cat .form-control{font-size: 12px; font-weight: normal; height: 30px; background: #F0F0F0;}
/* street canvas*/
.look-creater-wrp .panel{margin-bottom: 5px;}
.street-canvas-wrp .canvas{width: 280px; height: 404px; position:relative; text-align: center;} /* image dim 360/520 */
.street-canvas-wrp .canvas img{width:auto; height: auto; max-width: 100%; max-height:100%;  position: relative;
    top: 50%; transform: translateY(-50%);}
/*.street-canvas-wrp .panel-recom-prod-wrp{height: 416px; overflow-y1: auto;}*/
.street-canvas-wrp .panel-recom-prod{padding:5px; height: 424px; overflow-y: scroll; }
.street-canvas-wrp .panel-recom-prod .title{border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 5px;}
.street-canvas-wrp .recom-prods{margin: 0 auto;  }
.street-canvas-wrp .panel-recom-prod li{list-style: none; padding: 1; margin: 1px 1px;width: 78px; height: 94px; display: inline-block; vertical-align: top; position: relative; text-align: center; vertical-align: middle; border: 1px solid #e4e4e4;}
.street-canvas-wrp .panel-recom-prod li:nth-child(2n+0){margin-right: 0;}
.street-canvas-wrp .panel-recom-prod li img{width:auto; height: auto; max-width:100%; max-height: 100%;   position: relative;
    top: 50%; transform: translateY(-50%);}

.street-canvas-wrp .panel-recom-prod li a.btn-prod-remove { color: #f00; font-size: 15px; position: absolute; top:0px; right: 5px; display: none; }
.look-creater-wrp .street-image-wrp, .look-creater-wrp .promo-prod-wrp{padding: 5px;}

.street-canvas-wrp .panel-recom-prod li a{}
.street-canvas-wrp .panel-recom-prod li:hover a{display:block;}
.look-creater-wrp .panel-look-desc{padding:10px;}
.look-creater-wrp .error_text{color:#ff0000; font-size: 12px; margin-top: 10px;}
/* / look-creater */

/*manage look*/
.manage-look-wrp .dl-horizontal dt{width:74px;text-align: left;}
.manage-look-wrp .dl-horizontal dd{margin-left:76px;}
.manage-look-wrp .product-img-wrp{height: 150px; text-align: center; padding: 10px; background: #fff; border:1px solid #ececec;}
.manage-look-wrp .product-img-wrp img{width:auto; height:auto; max-height: 100%; max-width: 100%;}
.page-look-details td.prod img{width: auto; height:50px; margin: 0 5px 5px 0; border:1px solid #eee;}
.page-look-details .look-img{text-align: center;}
.page-look-details .look-img img{width: auto; height: 280px;}

/* street style image upload*/
.ss-image-upload .box .box-drag-drop{padding: 0;}
.ss-image-upload .file-preview{border:none; padding: 0;}
.ss-image-upload .file-drop-zone{margin: 0 0 10px}
.ss-image-upload .fileinput-remove, .page-ss-image-upload .file-upload-indicator{display: none}
.ss-image-upload .file-preview-frame{border:1px solid #eee; box-shadow: none; padding: 2px;}
.ss-image-upload .file-preview-frame:hover{box-shadow: none;}
.ss-image-upload .file-preview-frame img{heigh:130px; width:auto; max-width: 100px;}

/* manage products*/
.box-header .label-info{margin-left: 5px; font-size: 12px;}

.product-row-wrp{border:1px solid #e1e1e1; /*padding:15px;*/ padding:10px; margin-bottom:10px; background: #f6f6f6;}
.product-row-wrp dd{margin-bottom:10px;}
.product-row-wrp dd:last-child{margin-bottom:0px;}
.product-row-wrp .dl-horizontal dd:first-of-type{height: 40px; max-height: 40px;}
.product-row-wrp img{background: #fff; }
.product-row-wrp dd .badge{margin-left: 5px;}

.store-row-wrp{border:1px solid #eee; padding:15px; margin-bottom:10px;}
.store-row-wrp dd{margin-bottom:10px;}
.store-row-wrp dd:last-child{margin-bottom:0px;}
.store-img-wrp img{width:100%;}

.page-product .prod-image-outer{margin-bottom: 20px; border-bottom: 1px solid #ccc;}
.page-product .prod-image-wrp{background: #f3f3f3; padding: 20px; text-align: center; margin-bottom: 10px;}
.page-product .prod-image-wrp img{width: auto; height: auto; max-width: 100%; max-height: 100%;}
/*.pq-select-popup-cont{background: #eee; border: 1px solid #ccc; padding: 5px 10px;}*/


.page-product-details .prod-image-wrp{text-align: center; background: #fff; padding: 0;}
.page-product-details .prod-image-wrp img{width: auto; height: auto; max-width: 100%; max-height: 100%;}
.prod-variation-type .radio-inline{height: 50px; overflow: hidden; text-align: left; margin-left: 0; margin-right: 10px; width: 92px;}

.store .store-logo{width: 90px; margin-bottom: 10px; border: 1px solid #eee; padding: 10px;}
.store .store-logo img{width: auto; height: auto; max-width: 100%; max-height: 100%;}

/*producty inventory*/
.table-enventory td .input-group-label-wrp{margin-right: 10px;}
.table-enventory td .input-group-label-wrp .form-control{width:60px; padding: 2px 4px;}
.product-size-qty-wrp{margin-bottom: 10px;}
.product-size-qty-wrp input{width:60px; display: inline-block;}
/*user*/
.user-wardrobe-images li{list-style: none; width: 90px; height: 90px; text-align: center; vertical-align: middle;}
.user-wardrobe-images img{width: auto; height: auto; max-width: 100%; max-height: 100%;}

/*quesheet upload*/
.quesheet-doc .dataTables_filter, .quesheet-doc .dataTables_paginate{text-align: right;}
.quesheet-doc .doc-box{border-bottom:1px solid #f4f4f4; margin-bottom: 20px; padding-bottom: 20px;}
.quesheet-doc .doc-box h4{font-size: 15px;font-weight: bold;}
.quesheet-doc .doc-box li{display: inline-block; margin-right:0px; border-right:1px solid #eee; padding: 0 10px;}
.quesheet-doc .doc-box li:last-child{border-right: none;}
.quesheet-doc .doc-box li:first-child{padding-left: 0;}



/*page-products-tagging*/
.box.box-solid > .box-header .btn:hover, .box.box-solid > .box-header a:hover{background: #367fa9 !important}
.frmsearch .row{margin: 0 -5px;}
.frmsearch .col-md-4, .frmsearch .col-md-3, .frmsearch .col-md-2{padding-left: 5px; padding-right: 5px;}
.page-products-tagging .frmsearch .form-inline .form-control{width:120px;}
.page-products-tagging .tags-wrp{height: 200px; overflow-y: scroll;}
.page-products-tagging .tags-wrp li{list-style: none; padding: 2px 5px; display: inline-block; margin: 2px; border: 1px solid #d2d6de; cursor: pointer;}
.page-products-tagging .tags-wrp li:hover{background: #eee;}
.page-products-tagging .tags-wrp li .fa{display:inline-block; color:#ccc; margin-top: 3px;}
.page-products-tagging .tags-wrp li:hover .fa, .page-products-tagging .tags-wrp li.selected .fa{color:green;}
.page-products-tagging .tags-wrp li .fa.fa-times-circle{color:red;}

.page-products-tagging .box.box-solid > .box-header > .box-tools .btn{border:1px solid #ddd; }

.page-products-tagging .products-wrp .image-thumbs ul {
  border-collapse: separate;
  border-spacing: 1px;
  display: block;
  margin: 0;
  padding: 0;
}
.page-products-tagging .products-wrp .image-thumbs li {
  border: 2px solid #ececec;
  display: inline-block;
  list-style: outside none none;
  padding: 1px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 70px;
  height: 80px;
  background: #ddd;
  margin-bottom: 1px;
}

.page-products-tagging .products-wrp  .image-thumbs li img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page-products-tagging .products-wrp  .image-thumbs li .fa {
  color: green;
  cursor: pointer;
  display:none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left:45%;
  font-size: 18px;

}
.page-products-tagging .products-wrp  .image-thumbs li .fa.fa-times-circle{color:red;}

.page-products-tagging .products-wrp .image-thumbs li:hover,   .page-products-tagging .products-wrp .image-thumbs li.selected{border: 2px solid #ff0000; }
.page-products-tagging .products-wrp .image-thumbs li.selected .fa {
  display: inline-block;
}
.page-products-tagging .products-wrp .image-thumbs li:hover img,   .page-products-tagging .products-wrp .image-thumbs li.selected img{ opacity: 0.8;}

/*page-products-tagging*/

/*report dashboard*/
.box-report .nav-report{list-style: none; margin: 0; padding: 0;}
.box-report .nav-report > li{padding: 5px 15px; border-bottom: 1px solid #f4f4f4;}
.box-report .nav-report > li:hover{
   background: #f7f7f7;
    color: #444;
  }
.box-report .nav-report > li.title{font-weight: bold;}
.box-report .nav-report .label, .table-report .label{background: #3C8DBC;}
.box-report .nav-report a:hover .label, .table-report a:hover .label{background:#00C0EF;}
.table-report ul li{list-style: none; padding: 3px 0;}




/*netra*/
.form-group-product-tags-wrp .pq-select-button, .form-group-product-tags-wrp .pq-select-text{
color: #00000;
height:auto;
width: 100%;
white-space: normal;
maxdisplay:367;
}

.form-group.pq-select-button, .form-group.pq-select-text{
color: #00000;
height: 50px;
overflow-y:auto;
width: 100%;
white-space: normal;
maxdisplay:367;
}
/* / netra*/

.page-overlay {
	z-index: 1070;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
  text-align: center;
}
.page-overlay .loader{
width: 50px;
height: 50px;
max-height: 50px;
max-width: 50px;
position: absolute;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
	display: none;

}

/*chosen*/
.chosen-container-single .chosen-single{border-radius: 0; border-color: #d2d6de; background: #fff;   height: 30px;
    line-height: 28px; box-shadow: none;}
.chosen-container-single .chosen-single:focus {
    border-color: #3c8dbc !important;
    box-shadow: none;
}
.chosen-container-single .chosen-single a{padding: 5px 10px;  color:#555;}
.chosen-container-single .chosen-drop{border-radius: 0;}

.chosen-container-multi .chosen-choices{ background-color: #fff; background-image: none; border: 1px solid #d2d6de; }
.chosen-container-multi .chosen-choices li.search-choice{border: 1px solid #eee; background-color: #fff; background-image: none;}
.chosen-container .chosen-drop{border-color: #ddd;}



.header1 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    position: relative;
    z-index: 3;
}
.header1 .navbar-nav > li > a {
    color: #3a3a3c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.header1 .navbar-nav > li > a:hover, .header .navbar-nav > li > a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #00b19c;
}
.header1 .navbar-nav .user-name{text-transform:inherit; color:#00b19c;cursor: default;}

.footer1 {
    background: #38383a url("https://www.stylecracker.com/assets/images/footer-texture.png") repeat scroll 0 0;
    color: #ffffff;
    font-size: 13px;
    padding: 30px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.footer1 a{color:#fff;}
.skin-sc{background: #e5e5e5; position1: relative; min-height1: 100%;}
html {
  position: relative;
  min-height: 100%;
}

.content-wrp{padding: 30px 20px; }
.skin-sc .content-wrp{padding-bottom: 80px;}

/* brand onboarding*/
.page-brand-onboarding{background: #fff;}
.page-brand-onboarding .box-header{border-bottom:1px solid #eee;}
.page-brand-onboarding .box-brand-step .box-body{padding: 30px;}
.page-brand-onboarding .box-brand-step .logo{padding: 10px;}
.page-brand-onboarding .box-brand-step{ border1: 1px solid #00b19c;}
.page-brand-onboarding .box-brand-step .box-header{padding:20px 30px; }
.page-brand-onboarding .box-brand-step .box-footer{padding: 20px 30px; }
.page-brand-onboarding .box-header .box-title{font-weight: 500; font-size: 24px; }
.page-brand-onboarding .box-header .box-steps{font-weight: 500; color: #00b19c; font-size: 18px; }
.page-brand-onboarding .box-brand-step .brand-logo{height:50px; border:1px solid #ddd;}
.page-brand-onboarding .box-brand-step .brand-cover{height:50px; border:1px solid #ddd;}

/* brand onboarding*/
