
/*-----------------------------------------------------
# page-image-upload
-----------------------------------------------------*/
.page-image-upload .cat-options-wrp{min-height: 200px;}
.page-image-upload .cat-options-wrp .cat-options h4{margin:0 0 10px; border-bottom: 1px solid #e8ecf4; padding-bottom: 10px;}
.page-image-upload .cat-options-wrp .cat-options{display:none;}
.page-image-upload .ref-personality-content{display: none;}
.page-image-upload .image-thumbs ul{margin: 0; padding: 0; display:block; border-collapse:separate; border-spacing:1px}
.page-image-upload .image-thumbs li{width: 50px; height:70px; display: inline-block; list-style: none; position:relative; padding: 1px; border: 1px solid #ececec; text-align: center; vertical-align: middle;}
.page-image-upload .image-thumbs li img{ width: auto; height: auto; max-height: 100%; max-width: 100%; }
.page-image-upload .image-thumbs li .fa{position: absolute; right:-5px; top:-5px; color:#CF2D28; cursor:pointer; display:none;}
.page-image-upload .image-thumbs li:hover .fa{display:block;}
.page-image-upload .checkbox label, .page-image-upload .radio label{padding-left:0;}
.page-image-upload .box-drag-drop{text-align:center; padding:50px 0;}
.page-image-upload .box-drag-drop .fa-download{color:#3C8DBC;font-size:54px; }
.page-image-upload .btn-app{ font-size: 14px; padding: 15px 10px; position:relative; height: auto;}
.page-image-upload .btn-app .fa{ font-size: 14px;display:inline-block;}
.page-image-upload .btn-app input[type="radio"]{opacity:0; position: absolute;}

.page-image-upload .cat-options .input-group-addon{border:none; padding:0 0px 0 5px; cursor:pointer;}

/*-----------------------------------------------------
# page-images
-----------------------------------------------------*/
.page-images .search-filter-bar .row{margin-left: -5px; margin-right: -5px;}
.page-images .search-filter-bar .row .col-md-2, .page-images .search-filter-bar .row .col-md-7, .page-images .search-filter-bar .row .col-md-3{padding-left:5px; padding-right: 5px;}
.page-images .search-filter-bar{overflow: hidden;}
.page-images .filter-search-box-wrp{padding-left: 15px;}
.page-images .filter-search-box-wrp .search-box{width:70%;}
.page-images .filter-search-box-wrp .images-per-page{width:25%;}
.page-images .image-thumbs ul{margin: 0; padding: 0;}
.page-images .image-thumbs li{width:110px; height:140px; display:inline-block; list-style: none; position:relative; padding: 0; margin: 0 3px 6px 0; border:1px solid #ddd; padding: 1px; background: #fff;}
.page-images .image-thumbs li img{width: 100%; height:100%;}
.blueimp-gallery>.slides>.slide>img{border: 4px solid rgba(0,0,0,0.2)}
