body {padding-right: 0 !important; }
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.row{margin-left: -10px; margin-right: -10px;}
.row > div{padding-left: 10px; padding-right: 10px;}

.list-box-dragable{height:200px; overflow-y:scroll; list-style:none; padding: 10px 5px;;}
.list-box-dragable li{ padding: 2px 10px; cursor: move; font-size: 12px; line-height: 1.5; color:#555;}
.list-box-dragable li .fa{margin-right: 6px; color:#777;}

/*flex grid*/
.grid{ display: flex;}
.grid .grid-cell{ flex: 1;  width: 32%;}
/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.grid--gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

/* Alignment per cell */
.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}
/* /.flex grid*/
.nav-tabs-custom { background: #fff; box-shadow: none;}
.nav-tabs-custom > .tab-content{background: #ecf0f5; padding: 20px 0;}

.clearfix{overflow: hidden;}
/*overright*/
.products-list .product-img{width:70px; height: 70px; border: 1px solid #eee; text-align: center;  position: relative;}
.products-list .product-img img{width: auto; height: auto; max-width: 100%; max-height: 100%;}
.product-list-inline .item{display: inline-block;}
.product-list-inline .item-info{display: inline-block; margin-left: 15px;}
.product-list-inline .item-info .title{color:#999;}
.products-list-wrp .header {border-bottom111: 1px solid #f4f4f4;}
.products-list-wrp .header .title{display: inline-block;  font-size: 14px;  line-height: 1; margin: 0; font-weight: 700;}

.products-list-grid > .item{box-shadow: none; padding: 5px 0;}

.product-list-inline .product-img .btn{position: absolute; right:-20px; top:-20px; display: none; cursor: pointer;}
.product-list-inline .product-img:hover .btn{display: inline-block;}

.product-list-inline.hover .product-img:hover .btn{display: inline-block; color:#ccc;}
.product-list-inline.hover .product-img:hover{ border: 1px solid #ccc;}
.product-list-inline.hover .product-img.active{ border: 3px solid #008d4c;}
.product-list-inline.hover .product-img.active .btn{display: inline-block; color:#00a65a;}
/*products popup*/
.products-popup .modal-header{padding-bottom: 0;}
.products-popup .modal-content{background:#ECF0F5;}
.products-popup .row{margin-left: -5px; margin-right: -5px;}
.products-popup .row > div{padding-left: 5px; padding-right: 5px;}
.products-popup .products-list .product-img{width:110px; height:110px;}
.products-popup .products-list .item{padding:1px 2px; border:none;}
.products-popup .box-product-details{font-size: 90%; color:#777}
.products-popup .box-product-details .box-body{height: 360px; overflow-y:hidden; }
.products-popup .box-product-details a{color:#999}
.products-popup .box-product-details a:hover{color:#888}
.products-popup .box-body-products{height: 351px; overflow-y: scroll;}
.products-popup  .product-details-inner{height:360px; overflow-y:scroll;}

.btn-prod-remove{color: red !important;}